<form action="" [formGroup]="autocompleteForm" class="bego-direction-wrapper">
  <mat-form-field [ngClass]="formFieldClass" [class.readonly]="readonly" [appearance]="formFieldAppearance">
    <mat-label>
      {{ "profile.account.txt_address" | translate }}
    </mat-label>
    <input
      type="text"
      matInput
      #input
      spellcheck="false"
      value="queso"
      formControlName="address"
      (input)="searchGoogleDirections($event)"
      [matAutocomplete]="auto"
      [readonly]="readonly"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectOption($event)"
      (closed)="closeAutocomplete()"
    >
      <mat-option
        value=""
        class="bego-address-autocomplete-option-pin"
        disabled
        (click)="setLocationPin(placeId)"
      >
        <img src="./../../../assets/images/maps/pin.svg" alt="Pin Icon" />
        {{ "pin.address.txt-pin" | translate }}
      </mat-option>

      <mat-option
        *ngFor="let prediction of predictions"
        [value]="prediction.description"
      >
        {{ prediction.description }}
      </mat-option>

      <mat-option *ngIf="!predictions" [disabled]="true">
        {{ "profile.edit.txt_address_not_found" | translate }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
