<div class="steps">
  <form [formGroup]="step3Form">
    <app-custom-stepper
      [blockFirstStep]="!orderWithCP"
      [labels]="['orders.cargo-labels.single' | translate, 'orders.cargo-labels.multiple' | translate]"
      (stepStatus)="stepStatus($event)"
      [currentStep]="stepIndex">
      <ng-template #step>
        <div class="steps-container">
          <div class="search-select-wrapper">
            <bego-search-select
              *ngIf="orderWithCP"
              [debounce]="500"
              [defaultValue]="step3Form.get('cargo_goods')!.value"
              [altMobileScreen]="true"
              [catalogs]="cargoCatalog"
              (searchValueChange)="getCargoTypeList($event)"
              (catalogValueChange)="updateForm('cargo_goods', $event)"
              [inputPlaceHolder]="'orders.slct-input-cargo_goods' | translate"></bego-search-select>
          </div>

          <div class="field section">
            <h2 class="formgroup-title-required">{{ 'orders.txt-select-units' | translate }}</h2>

            <div class="select-units-input">
              <app-cargo-units
                [units]="this.step3Form.get('cargoWeight').value"
                (unitsChange)="updateForm('cargoWeight', $event)"></app-cargo-units>

              <bego-button-toggle
                (statusChanged)="selectedUnits($event)"
                [enabled]="step3Form.get('unitType').value === unitsData.second.value"
                [noPadding]="true"
                [first]="unitsData.first"
                [second]="unitsData.second"></bego-button-toggle>
            </div>
          </div>

          <div class="field section right">
            <div class="btn-weight" (click)="editUnits()">
              <i class="icon icon-plus"></i
              ><span>{{
                !editWeight ? ('orders.btn-add-weight' | translate) : ('orders.btn-edit-weight' | translate)
              }}</span>
            </div>
          </div>

          <!--  select cargo -->
          <div class="field section select-cargo-section">
            <h2 class="formgroup-title-required">{{ 'orders.txt-select-cargo' | translate }}</h2>

            <bego-select [(selected)]="cargoType">
              <bego-select-item value="general" (click)="setCargoType('general')">
                <bego-icon icon="begon-truck"></bego-icon>
                {{ 'orders.btn-general' | translate }}
              </bego-select-item>

              <bego-select-item value="hazardous" (click)="setCargoType('hazardous')">
                <bego-icon icon="begon-truck"></bego-icon>
                {{ 'orders.btn-hazardous' | translate }}
              </bego-select-item>
            </bego-select>
          </div>

          <div class="field selectableHazard" *ngIf="cargoType === 'hazardous'">
            <div class="selectableHazard-details">
              <div class="search-select-wrapper">
                <bego-search-select
                  [debounce]="100"
                  [catalogs]="filteredCategoryCatalog"
                  [defaultValue]="step3Form.get('hazardous_type')!.value"
                  (searchValueChange)="updateCategoryCatalog($event)"
                  (catalogValueChange)="updateForm('hazardous_type', $event)"
                  [inputPlaceHolder]="'orders.choose-category' | translate"></bego-search-select>
              </div>

              <ng-container *ngIf="orderWithCP">
                <div class="search-select-wrapper">
                  <bego-search-select
                    [debounce]="500"
                    [catalogs]="packagingCatalog"
                    (searchValueChange)="getPackagingList($event)"
                    (catalogValueChange)="updateForm('packaging', $event)"
                    [defaultValue]="step3Form.get('packaging')!.value"
                    [inputPlaceHolder]="'orders.slct-input-packaging' | translate"></bego-search-select>
                </div>
                <div class="search-select-wrapper">
                  <bego-search-select
                    [debounce]="500"
                    [catalogs]="hazardousCatalog"
                    [defaultValue]="step3Form.get('hazardous_material')!.value"
                    (searchValueChange)="getHazardousTypeList($event)"
                    (catalogValueChange)="updateForm('hazardous_material', $event)"
                    [inputPlaceHolder]="'orders.slct-input-hzrd_material' | translate"></bego-search-select>
                </div>
              </ng-container>
            </div>

            <bego-drag-drop
              [maxSize]="10000000"
              [lang]="fileLang | async"
              [fileInfo]="fileInfo"
              [disabled]="hazardousType === 'select-catergory'"
              (fileSelected)="selectHazardousFile($event)"></bego-drag-drop>
          </div>

          <div class="cargo-description">
            <h2 class="formgroup-title-required">{{ 'orders.txt-cargo' | translate }}</h2>

            <bego-text-area
              keyValue="description"
              [customPlaceholder]="'orders.placeholder-cargo' | translate"
              [customTextarea]="orderWithCP"
              [defaultValue]="cargoDescription"
              (openModal)="orderWithCP && showUnitDetailsModal()"
              (sendData)="setCargoDescirption($event)"></bego-text-area>
          </div>
        </div>
      </ng-template>

      <ng-template #step>
        <div class="field section multiple-type-cargo">
          <h2 class="formgroup-title-required">{{ 'orders.txt-select-units' | translate }}</h2>

          <div class="select-units-input">
            <app-cargo-units
              [units]="this.step3Form.get('cargoWeight').value"
              (unitsChange)="updateForm('cargoWeight', $event)"></app-cargo-units>

            <bego-button-toggle
              (statusChanged)="selectedUnits($event)"
              [enabled]="step3Form.get('unitType').value === unitsData.second.value"
              [noPadding]="true"
              [first]="unitsData.first"
              [second]="unitsData.second"></bego-button-toggle>
          </div>
        </div>
        <div class="multiple-container instructions">
          <h2>{{ 'orders.multiple-cargo.instructions-title' | translate }}</h2>
          <button bego-button theme="main" (click)="downloadTemplate()">
            <bego-icon icon="begon-download"></bego-icon>
            {{ 'orders.multiple-cargo.excel-template' | translate }}
          </button>
        </div>
        <div class="multiple-container">
          <p>{{ 'orders.multiple-cargo.instructions-txt' | translate }}</p>
        </div>
        <div class="drag-drop-container">
          <bego-drag-drop
            [validTypes]="fileTypes"
            [lang]="'orders.upload-multiple-orders' | translate"
            [fileInfo]="files"
            (fileSelected)="handleFileChange($event, 'xlsx')"
            (invalidFiletype)="invalidFile()"></bego-drag-drop>
        </div>
      </ng-template>
    </app-custom-stepper>
  </form>
</div>
