<div class="profile">

    <div class="profile-info-wrapper">



      <div class="profile-info" [class.invisible]="!orderTabs[currentTabKey].sidebar">

        <div class="profile-pic">
          <img 
            [src]="profileImg"
            (error)="profilePicError()"
            alt="">

            <div
              *ngIf="!noProfilePic && id !== null && profileInfoService.isOwner"
              class="close-btn"
              (click)="showDeleteProfilePicModal = true">
            </div>
        </div>

        <div class="profile-pic-error-msg" [style.opacity]=" selectePicBiggerThan5MB ? '1' : '0' ">
          <p>{{'profile.account.profile-pic-less-5mb' | translate }}</p>
          <p>{{'profile.account.pic-not-uploaded' | translate }}</p>
        </div>
        
        <div *ngIf="(noProfilePic || id == null) && profileInfoService.isOwner" class="edit-profile-btns">
          <div class="pic-btn yellow" (click)="profilePicInput.click()">
            {{ 'profile.account.upload-btn' | translate }}
          </div>
          <!-- input to get file to send to db-->
          <input
            #profilePicInput
            accept=".png, .jpg, .jpeg"
            hidden
            type="file" 
            (change)="uploadProfilepicFromComputer()">
          <div class="pic-btn gray" (click)="showTakePicOverlay()">
            {{ 'profile.account.take-pic' | translate }}
          </div>
        </div>

        <div class="general-info">
          <div class="name">
            {{ profileInfo?.nickname || '-' }}
          </div>
          <div class="number-orders">
            {{ ordersCount ?? '-' }}
          </div>
          <div class="order-label">
            {{ 'profile.account.txt_orders' | translate }}
          </div>
        </div>

        <div class="fleet-info">
          <div class="name">
            <h3>{{ 'profile.account.txt-role' | translate }}</h3>
            <p *ngIf="profileInfo.role == 1">{{ 'profile.account.txt-driver' | translate }}</p>
            <p *ngIf="profileInfo.role == 2">{{ 'profile.account.txt-driver-manager' | translate }}</p>
            <p *ngIf="profileInfo.role == 3">{{ 'profile.account.txt-manager' | translate }}</p>
            <p *ngIf="!profileInfo.role">-</p>
          </div>
          <div class="name">
            <h3>{{ 'profile.account.txt-fleet' | translate }}</h3>
            <p>{{ profileInfo?.fleet_name || '-' }}</p>
          </div>
        </div>

      </div>


    </div>

    <div class="routes">

        <div class="tabs-container">
          <div class="orders-list-type">
            <ng-container *ngFor="let tab of Object.keys(orderTabs), index as i">
              <div
                *ngIf="orderTabs[tab].enabled"
                (click)="selectTab(i)"
                [routerLink]="orderTabs[tab].url"
                queryParamsHandling="merge"
                [replaceUrl]="true"
                [ngClass]="{'type-selected' : currentTabIndex ==  i  }">
                  {{ orderTabs[tab].text | translate }}
              </div>
            </ng-container>
          </div>
        </div>

      <router-outlet></router-outlet>
     
    </div>

    <div class="picture-layout" [hidden]="!showCamera"> <!-- showCamera -->
      <div class="background"></div>
      <div class="picture-content">
        <div>
          <video 
            #video 
            autoplay>
          </video>
          <canvas hidden #canvas ></canvas>
        </div>
        <div class="picture-actions">
          <button mat-fab class="picture-btn" (click)="takePic()">
            <div>
              <img src="../../../assets/images/history/camera.svg" alt="camera button">          
            </div>
          </button>
  
          <div 
            class="close-btn"
            (click)="closePicShoot()">
          </div>
        </div>
      </div>
    </div>



 
 
</div>

<!-- modal when user is about to delete profile picture -->
<bego-alert
    *ngIf="showDeleteProfilePicModal"
    (close)="showDeleteProfilePicModal = false"
    [title]=" 'profile.account.txt-delete-profile-pic-title'  | translate "
    [handlers]="deleteProfilepicHandlers">
      {{ 'profile.account.txt-delete-profile-pic' | translate}}

</bego-alert>

