@use 'src/styles.scss';

.message {
  opacity: 0;
  transition: opacity 0.75s ease-in;

  ::ng-deep {
    code, p {
      word-wrap: break-word;
      white-space: break-spaces;
    }

    a {
      color: styles.$yellow-color
    }
  }
}

section {
  @include styles.flexbox-align(row, flex-start, flex-end);
  padding-block: 20px;
  width: 100%;
}

.chibibot-yellow-circle {
  position: relative;
  border: #ffee00 solid 1px;
  border-radius: 50%;
  margin-inline-end: 7px;
  width: 72px;
  height: 72px;
  padding: 5px;
}

.chibibot-message-gradient-container.dot-loader-gradient {
  @include styles.gradient-background-small;
}

.chibibot-message-gradient-container {
 @include styles.gradient-background-message(true);
  margin-inline-start: 4px;

  p {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
  }

  .image-container {
    margin-top: 10px;
    position: relative;

    a {
      display: flex;
      text-decoration: none;
      position: relative;
    }

    ::ng-deep {
      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: #ffee00;
      }
    }

    mat-progress-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.85;
      }
    }

    .error-container {
      @include styles.gradient-background-small;
      div {
        min-width: fit-content;

        span {
          font-family: Gotham;
          font-size: 12px;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }
  }

  .while-loading {
    min-height: 320px;
  }
}

.dot-loader {
  min-width: 100px !important;
}

.loader {
  margin-inline: auto;
  height: 10px;
  aspect-ratio: 5;
  -webkit-mask: linear-gradient(90deg, #0000, #000 20% 80%, #0000);
  background: radial-gradient(closest-side at 37.5% 50%, #ffee00 94%, #0000) 0 / calc(80% / 3) 100%;
  animation: l48 0.75s infinite linear;
}

@keyframes l48 {
  100% {
    background-position: 36.36%;
  }
}
