<section>
  <div class="chibibot-yellow-circle">
    <img src="assets/images/chibpt/chibibot.svg" alt="Chibi Chatbot" />
  </div>
  <div [ngClass]="{ 'dot-loader-gradient': loader }" class="message chibibot-message-gradient-container" [@fadeIn]>
    <div [ngClass]="{ 'dot-loader': loader }">
      <ng-container *ngIf="!loader; else loaderMessage">
        <p [innerHTML]="formattedString"></p>

        <div class="image-container" [ngClass]="{ 'while-loading': loadingImage }" *ngIf="image">
          <mat-progress-spinner *ngIf="loadingImage" mode="indeterminate" diameter="40"></mat-progress-spinner>

          <a [href]="image" target="_blank" *ngIf="!errorImage; else errorImg">
            <img [src]="image" alt="" (load)="onLoad()" (error)="onError()" [ngClass]="{ loading: loadingImage }" />
          </a>

          <ng-template #errorImg>
            <div class="error-container">
              <div>
                <span>{{ 'chibpt.chatbox.message.error-img' | translate }}</span>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-container>
      <ng-template #loaderMessage>
        <div class="loader"></div>
      </ng-template>
    </div>
  </div>
</section>
