.map-container {
  width: 100%;
  height: calc(100vh);
  transform: translateY(-108px);

  #map {
    height: 100%;
  }

  & .center-elem {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(113px, 0);
    
    .icon-gps {
      font-size: 20px;
      cursor: pointer;
    }
  }

  & .center-share {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-113px, 0);
    cursor: pointer;
  }

  app-modal-tracking {
    position: absolute;
    bottom: 42px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.invitations-container {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
}

.invitations-container::-webkit-scrollbar { 
  display: none;
}


app-add-remove-counter {
  display: flex;
  justify-content: end;
}