<div class="map map-container">
  <div #map id="map"></div>
  <div class="center-elem" (click)="centerMap(driverLocation, destinationLocation, routeCenter)">
    <i class="icon icon-gps"></i>
  </div>
  <div class="center-share" (click)="showDriversInvitation()">
    <i class="icon icon-attachment"></i>
  </div>
  <app-modal-tracking [orderData]="etaData" [statusData]="statusList" [statusOrder]="statusOrder" *ngIf="!isDriversInvitationShow" ></app-modal-tracking>
  <app-vertical-card *ngIf="isDriversInvitationShow">
    <app-add-remove-counter (sendNumberOfDrivers)="getDriversInvitation($event)" [allDriversInvitations]="driversInvitation" ></app-add-remove-counter>

    <div class="invitations-container">
      <ng-container *ngFor="let driver of [].constructor(totalDriversInvitation); let i = index">
        <app-drop-down [showRadioButton]="true" title="Driver {{i + 1}}" [validateData]="driversInvitation[i].completed">
          <app-input-border-radius-bottom title="Full Name" inputType="text" inputName="fullname" (sendValidateDriver)="getInfoDrivers($event, i)"></app-input-border-radius-bottom>
          <app-input-border-radius-bottom title="Email" inputType="email" inputName="email" (sendValidateDriver)="getInfoDrivers($event, i)"></app-input-border-radius-bottom>
        </app-drop-down>
      </ng-container>
    </div>


    <app-button class="btn-yellow futter-button" [disabled]="!isDriversCompleted" text="Enviar" (click)="sendExternalTracking()"></app-button>

  </app-vertical-card>
</div>
