<div class="app-facturas-page">
  <div class="page-header" role="heading">
    <div>
      <h1>{{ 'invoice.invoices.title' | translate }}</h1>
    </div>
    <div class="toolbar-right">
      <button mat-flat-button class="brand-btn-1" (click)="openMultiplePaymenDialog()">Pago Múltiple</button>

      <div>
        <button
          mat-flat-button
          class="brand-btn-1 radius-30"
          (click)="openFilters()"
          style="z-index: 100"
          [matBadge]="filtersCount(vm.params)"
          matBadgeColor="warn"
          matBadgeSize="small"
          matBadgeOverlap="true">
          {{ 'invoice.invoices.filters' | translate }}
          <img src="/assets/images/invoice/filters.svg" class="brand-filter-1" style="margin-left: 4px" />
        </button>
      </div>
      <button mat-flat-button class="brand-btn-1" [routerLink]="routes.EMISORES">
        {{ 'invoice.invoices.emisor-btn' | translate }}
      </button>

      <mat-form-field *ngIf="0" appearance="outline" floatLabel="always" class="suffix-btn" style="max-width: 245px">
        <input
          matInput
          aria-label="Template"
          name="template"
          [ngModel]="vm.template"
          (ngModelChange)="facturasEmitter.next(['template:search', (vm.template = $event)])"
          maxlength="13"
          [placeholder]="'invoice.invoices.template-placeholder' | translate"
          [matAutocomplete]="auto"
          (keydown.enter)="
            vm.template &&
              vm.searchAction?.type === 'template' &&
              !vm.searchLoading &&
              vm.receptorSearch?.template?.length === 0 &&
              router.navigate([
                routes.NEW_TEMPLATE,
                {
                  template: makeTemplate({
                    name: vm.template
                  })
                }
              ])
          " />

        <mat-progress-bar
          style="bottom: 0px; position: absolute; width: calc(100% + 16px); height: 2px; left: -9px"
          [style.display]="vm.searchAction?.type === 'template' && vm.searchLoading ? 'block' : 'none'"
          class="brand-progress-bar-1"
          mode="indeterminate"></mat-progress-bar>

        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="
            router.navigate([
              routes.NEW_FACTURA,
              {
                template: $event.option._element.nativeElement.dataset.template
              }
            ])
          ">
          <mat-option
            *ngFor="let template of vm.receptorSearch?.template"
            [value]="template.name"
            class="brand-option-2"
            [attr.data-template]="makeTemplate(template)"
            [routerLink]="[routes.NEW_FACTURA, { template: makeTemplate(template) }]">
            <a
              [routerLink]="[routes.NEW_FACTURA, { template: makeTemplate(template) }]"
              style="color: inherit; text-decoration: unset">
              {{ template.name }}
              <mat-icon
                (click)="
                  $event.stopPropagation();
                  $event.preventDefault();
                  router.navigate([
                    routes.EDIT_TEMPLATE,
                    {
                      id: template._id
                    }
                  ])
                ">
                edit
              </mat-icon>
            </a>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button
        mat-flat-button
        class="brand-btn-2"
        [routerLink]="
          vm.defaultEmisor?.[0]
            ? vm.template && vm.receptorSearch?.template?.length === 0
              ? [
                  routes.NEW_TEMPLATE,
                  {
                    template: makeTemplate({
                      name: vm.template
                    })
                  }
                ]
              : [routes.NEW_FACTURA]
            : null
        "
        (click)="!vm.defaultEmisor?.[0] && noEmisorAlert()"
        [style.pointer-events]="vm.receptorSearch?.template?.length > 0 ? 'none' : 'unset'">
        {{
          vm.template && vm.receptorSearch?.template?.length === 0
            ? ('invoice.invoices.template-new' | translate)
            : vm.template && vm.receptorSearch?.template?.length > 0
            ? ('invoice.invoices.template-open' | translate)
            : ('invoice.invoices.new-invoice' | translate)
        }}
      </button>
    </div>
  </div>

  <div>
    <app-factura-table
      [invoicesData]="vm.facturas"
      [loading]="vm.facturasLoading"
      [page]="paginator"
      (pageChange)="
        router.navigate([], {
          relativeTo: route,
          queryParams: {
            limit: $event.pageSize,
            page: $event.pageIndex
          },
          queryParamsHandling: 'merge'
        })
      "
      (refresh)="facturasEmitter.next(['refresh'])"
      (selectedRowsChange)="invoiceSelectionChanged($event)"></app-factura-table>
  </div>
</div>
