.app-facturas-page {
  .page-header {
    margin: 24px 54px 24px 54px;
    display: flex;
    justify-content: space-between;

    h1 {
      font-weight: 400;
      font-size: 38.4px;
      color: #b9b9b9;
      line-height: 1;
      letter-spacing: -0.2186px;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.5em 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  .filters {
    padding: 0 16px;
    margin-bottom: 8px;
    display: grid;
    justify-content: flex-end;
    grid-auto-flow: column;
    grid-gap: 1rem;

    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.5em 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  .mat-mdc-form-field.suffix-btn {
    .mat-form-field-suffix {
      top: -3px;

      button {
        max-height: 30px;
        max-width: 110px;
        min-width: 110px;
        margin-right: -6px !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .green-color {
    color: #ffffff;
    background-color: #3cd4a0;
    &:hover {
      background-color: #3cd4a0;
    }
  }

  .toolbar-right {
    display: flex;
    align-items: center;

    button {
      margin: 0 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

//GLOBAL

.mat-mdc-option.brand-option-2 {
  height: auto;
  padding: 8px 16px;

  .mdc-list-item__primary-text {
    display: inline-flex;
    align-items: center;

    > img {
      display: block;
      width: 40px;
      height: 40px;
      min-width: 40px;
      border-radius: 50%;
    }

    > a {
      margin-left: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: normal;
      flex: 1;

      .mat-icon {
        margin-right: 0;
        padding: 0;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &.mat-mdc-option-active {
    background: rgba(255, 255, 255, 0.03);
    border-left: 1px solid #ffe000;
  }

  &[disabled] {
    padding-top: 0;
    padding-bottom: 0;
    color: rgba(0, 0, 0, 0.38);
    font-size: 14px;
    background-color: transparent;
  }
}

.cdk-overlay-backdrop.dialog-filters {
  & + * {
    > .cdk-overlay-pane {
      width: auto;
      margin-left: calc(80px + 54px);
      margin-right: auto;
      max-width: clamp(600px, 80vw, 70rem) !important;
    }

    .mat-mdc-dialog-surface {
      background-color: #111;
      padding: 45px 25px;
    }
  }
}

/** fix to void paginator overlaps table options  */
.paginator-container {
  z-index: 1 !important;
}
