<div class="saved-locations">
  <div class="header">
    <h3 class="title">{{ 'saved-locations.my-locations' | translate }}</h3>
    <input
      type="text"
      [placeholder]="'saved-locations.search' | translate"
      [ngModel]="filterInput | async"
      (ngModelChange)="filterInput.next($event)" />
  </div>

  <div class="list">
    <div class="item" *ngFor="let location of locations; index as i" (click)="pickLocation.emit(location)">
      <div class="icon"></div>

      <div class="location">
        <div class="alias">{{ location.name }}</div>
        <div class="address">{{ location.address }}</div>
      </div>

      <button class="action-btn" [matMenuTriggerFor]="menu" #menuTrigger (click)="$event.stopPropagation()">
        <bego-icon icon="begon-vertical-ellipsis"></bego-icon>
      </button>

      <mat-menu #menu="matMenu" class="brand-menu-1">
        <button mat-menu-item class="menu-option" (click)="savedLocations.openModal(location)">
          <bego-icon icon="begon-edit-fintech"></bego-icon>
          <span>{{ 'saved-locations.opt-edit' | translate }}</span>
        </button>
        <button mat-menu-item class="menu-option" (click)="savedLocations.remove(location)">
          <bego-icon icon="begon-trash1"></bego-icon>
          <span>{{ 'saved-locations.opt-delete' | translate }}</span>
        </button>
        <button mat-menu-item class="menu-option" (click)="openInvoiceModal(location)">
          <bego-icon icon="begon-edit-address"></bego-icon>
          <span *ngIf="location.invoicing_address_id; else addInvoiceAddress">{{ 'saved-locations.invoice.edit' | translate }}</span>
          <ng-template #addInvoiceAddress>{{ 'saved-locations.invoice.add' | translate }}</ng-template>
        </button>
      </mat-menu>
    </div>
  </div>

  <bego-button size="small" class="btn-back" [activated]="true" (click)="goBack.emit()">
    {{ 'saved-locations.btn-back' | translate }}
  </bego-button>
</div>

<bego-invoice-address
  [lang]="invoiceLang"
  *ngIf="invoiceState.show"
  [location]="invoiceState.address"
  (close)="hideInvoiceModal()"
  (upadteLocation)="updateInvoiceAddress($event)"></bego-invoice-address>
