$icon-size: 30px;

:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.saved-locations {
  @extend :host;
  gap: 8px;
  padding-bottom: 16px;

  $gap: 26px;

  .header {
    margin: 30px 25px;
    display: flex;
    align-items: center;
    gap: $gap;

    .title {
      font-size: 1rem;
      font-weight: 800;
      flex-shrink: 0;
    }

    input {
      all: unset;
      flex: 1;
      width: 0;
      border: 1px solid rgba(186, 186, 186, 0.5);
      border-radius: 50px;
      line-height: 36px;
      padding: 0 30px;
    }
  }

  .item {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: $gap;
    margin: 0 8px;
    padding: 18px;
    position: relative;
    z-index: 1;

    &:hover {
      background: linear-gradient(66deg, rgba(8, 12, 15, 0.5) 5%, rgba(85, 85, 85, 0) 100%);
      border-radius: 50px;

      &::before {
        border-radius: inherit;
        content: '';
        position: absolute;
        inset: -1px;
        background: linear-gradient(95deg, #0f1519 30%, rgba(167, 167, 167, 0) 62%, rgba(125, 125, 125, 0) 87%);
        box-shadow: 0px 2px 16px 0px rgba(4, 4, 4, 1);
        z-index: -1;
      }
    }

    .location {
      max-width: calc(100% - #{$icon-size * 2} - #{$gap * 2});
      white-space: nowrap;
      font-size: 1rem;

      .alias {
        font-weight: 800;
      }

      .address {
        font-size: 0.875em;
        font-weight: 500;
      }

      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .action-btn {
      all: unset;
    }

    .icon {
      width: $icon-size;
      height: $icon-size;
      background: url('../../../../assets/images/maps/favorites-pin.svg') 50% 50% / contain no-repeat;
    }

    bego-icon {
      display: grid;
      place-items: center;
      width: $icon-size;
      height: $icon-size;
      --font-size: 16px;
      --color: #fff;
    }
  }

  .btn-back {
    margin-top: auto;
    padding: 0 22px;
    max-width: 210px;
    position: sticky;
    bottom: 0;
    z-index: 1;

    ::ng-deep .button-wrapper.small {
      width: 100%;
    }
  }
}

.menu-option {
  bego-icon {
    --color: #fff !important;
    --font-size: 16px !important;
    width: $icon-size;
    height: $icon-size;
    margin-right: 10px;
  }
}
