@use 'src/styles.scss';

// Copied from _fleet.scss
.fleet-container {
  --padding-start: 30px;
  --padding-end: 30px;
  --padding-top: 20px;
  --fleet-widget-size: 60px;
  --fleet-widget-margin: 30px 0px 60px;
  display: flex;
  height: 100%;

  .fleet-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &.fleet-sm {
    --fleet-widget-size: 45px;
    --fleet-widget-margin: 20px 0px 50px;
  }

  .fleet-title {
    margin: 0 0 50px;
    color: #ededed;

    .mat-mdc-form-field {
      margin-top: 8px;

      ::ng-deep {
        .mat-form-field-wrapper {
          padding-bottom: 0;
        }

        .mat-form-field-infix {
          width: auto;
          padding: 0em 0 0.6em;
        }
      }
    }
  }

  ion-input {
    border-bottom: 1px solid #494c50;
    border-radius: 12px;
    text-align: left;
    --padding-start: 16px;
    --padding-bottom: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Avenir;
  }

  .fleet-add {
    position: relative;
    width: 100%;
    text-align: right;

    span {
      color: styles.$yellow-color;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 21px;
    }
  }

  .success {
    position: absolute;
    top: 76px;
    right: 48px;
    z-index: 99;
    pointer-events: none;

    ion-icon {
      height: 24px;
      width: 24px;
      background-color: #1c232a;
      box-shadow: inset -2px -2px 4px 0 #0c1217, inset 2px 2px 4px 0 #2e3640;
      border-radius: 50%;
      color: #ffe000;
      opacity: 0;
      transition: 2s ease-in-out;
    }

    .checkout-success {
      transition: 2s ease-in-out;
      opacity: 1;
    }
  }

  h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 26px;
    margin: 0px;
    margin-right: 15px;
    color: #ededed;
  }

  .fleet-dashboard {
    display: flex;
    flex-direction: column;

    .fleet-trucks {
      min-height: 126px;
    }

    .fleet-header {
      display: flex;
      flex-direction: row;

      > div {
        display: flex;
        align-items: center;
      }

      > div:first-child {
        flex: 1;
        text-align: left;

        span {
          color: styles.$color-font-grey;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 19px;
        }
      }

      > div:last-child {
        text-align: right;
        color: styles.$yellow-color;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 16px;
        justify-content: flex-end;
        cursor: pointer;
      }
    }

    .fleet-stats {
      margin-bottom: 100px;

      .percentage-month {
        margin-top: 25px;
        margin-bottom: 25px;
        min-height: 72px;
        border-radius: 8px;
        background-color: #10161c;
        box-shadow: inset -2px -2px 4px 0 #15191e, inset 2px 2px 4px 0 #040b11;
        padding: 25px 15px;

        ion-progress-bar {
          height: 5px;
          width: auto;
          border-radius: 5px;
        }

        > div {
          display: flex;
          flex-direction: row;
          color: styles.$color-font-grey;
          padding-top: 10px;

          > span:first-child {
            flex: 1;
            text-align: left;
          }

          > span:last-child {
            flex: 1;
            text-align: right;
          }
        }
      }

      .week-stats {
        display: flex;
        flex-direction: row;

        .week-selector {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          ion-item {
            align-items: baseline;
            justify-content: normal;
            display: flex;
            --padding-start: 0px;

            ion-select {
              height: 22px;
              border-radius: 8px;
              background-color: #1c232a;
              font-size: 14px;
              color: styles.$color-font-grey;
              --padding-start: 10px;
              min-width: 100px;
            }
          }

          > {
            flex: 1;
          }

          > div:last-child {
            font-size: 14px;
            width: 100%;
            padding-left: 3px;

            span {
              font-size: 24px;
              font-weight: 600;
            }
          }
        }

        .week-bars {
          flex: 1;
          text-align: right;

          img {
            max-height: 100px;
          }
        }
      }
    }

    .fleet-bubbles {
      margin: var(--fleet-widget-margin);

      > div:not(:first-child) {
        margin-left: -5px;
      }

      > div {
        display: inline-block;
        width: var(--fleet-widget-size);
        height: var(--fleet-widget-size);
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
          position: relative;
          height: 100%;
          width: 100%;
          object-fit: cover;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #040b12;
        }

        .no-cover {
          object-fit: contain;
          height: calc(100% - 5px);
          width: calc(100% - 5px);
        }
      }

      .remaining-bubbles {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: var(--fleet-widget-size);
        height: var(--fleet-widget-size);
        background: #0b1117;
        box-shadow: 0px 10px 10px #040b11, inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
        border-radius: 50px;

        span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  .btn-new_vehicle {
    position: sticky;
    bottom: -50px;
    display: block;
    margin: auto -40px -50px;
  }
}
