<div class="fleet-container" [class]="['fleet-' + size]">
  <div *ngIf="fleetDataLoaded" [@enterAnimation] class="fleet-wrapper">
    <div class="fleet-title">
      <h2>{{ 'fleet.txt_fleet' | translate }}</h2>
      <h1 *ngIf="!editName">{{ fleetNameFromService }}</h1>
      <mat-form-field *ngIf="editName" class="brand-field-1" appearance="outline" style="width: 100%">
        <input
          matInput
          [(ngModel)]="fleetName"
          (focusout)="blurDetectedInput($event)"
          (ngModelChange)="detectedLastChange($event)"
          (focusin)="resetVariablesOnFocus()" />
      </mat-form-field>
    </div>

    <div class="fleet-dashboard">
      <div class="fleet-members">
        <div class="fleet-header">
          <div>
            <h2>{{ 'fleet.txt_team' | translate }}</h2>
            <span>{{ members?.length }}</span>
          </div>
          <div [routerLink]="[routes.MEMBERS]">
            {{ 'fleet.btn_view_all' | translate }}
          </div>
        </div>
        <div class="fleet-bubbles">
          <ng-container *ngFor="let member of members; index as i">
            <div
              [ngClass]="[
                member.availability === 1
                  ? 'available'
                  : member.availability === -1
                  ? 'not-available'
                  : member.availability === 2
                  ? 'not-available'
                  : '',
                !!!member.connected ? 'offline' : ''
              ]"
              *ngIf="i < 4"
              [routerLink]="[routes.EDIT_MEMBER]"
              [queryParams]="{ id: member._id }">
              <img
                [src]="
                  member.thumbnail && !member.thumbnail.endsWith('/') ? member.thumbnail : '../../../../assets/images/avatar-outline.svg'
                " />
            </div>
          </ng-container>
          <div class="remaining-bubbles" *ngIf="members.length > 4" [routerLink]="[routes.MEMBERS]">
            <span>+{{ members?.length - 4 }}</span>
          </div>
        </div>
      </div>
      <div class="fleet-trucks">
        <div class="fleet-header">
          <div>
            <h2>{{ 'fleet.txt_trucks' | translate }}</h2>
            <span>{{ trucks?.length }}</span>
          </div>
          <div [routerLink]="[routes.TRUCKS]">
            {{ 'fleet.btn_view_all' | translate }}
          </div>
        </div>
        <div class="fleet-bubbles" *ngIf="hasChange">
          <div *ngIf="trucks.length < 1" class="no-status" [routerLink]="[routes.TRUCKS]">
            <img class="no-cover" src="../../assets/orders/truck.svg" />
          </div>
          <ng-container *ngFor="let truck of trucks; index as i">
            <div class="no-status" *ngIf="i < 4" [routerLink]="[routes.EDIT_TRUCK, { id: truck._id }]">
              <img
                [src]="
                  truck.thumbnail && !truck.thumbnail.endsWith('/')
                    ? truck.thumbnail + '?' + differentTruck
                    : '../../../../assets/images/truck.svg'
                " />
            </div>
          </ng-container>
          <div *ngIf="trucks.length > 4" class="remaining-bubbles" [routerLink]="[routes.TRUCKS]">
            <span>+{{ trucks?.length - 4 }}</span>
          </div>
        </div>
      </div>
      <div class="fleet-trailers">
        <div class="fleet-header">
          <div>
            <h2>{{ 'fleet.txt_trailers' | translate }}</h2>
            <span>{{ trailers?.length }}</span>
          </div>
          <div [routerLink]="[routes.TRAILERS]">
            {{ 'fleet.btn_view_all' | translate }}
          </div>
        </div>
        <div class="fleet-bubbles" *ngIf="hasChange">
          <div *ngIf="trailers.length < 1" class="no-status" [routerLink]="[routes.TRAILERS]">
            <img class="no-cover" src="../../assets/orders/trailer.svg" />
          </div>
          <ng-container *ngFor="let trailer of trailers; index as i">
            <div class="no-status" *ngIf="i < 4" [routerLink]="[routes.EDIT_TRAILER, { id: trailer._id }]">
              <img
                [src]="
                  trailer.thumbnail && !trailer.thumbnail.endsWith('/')
                    ? trailer.thumbnail + '?' + differentTruck
                    : '../../../../assets/images/trailer.svg'
                " />
            </div>
          </ng-container>
          <div *ngIf="trailers.length > 4" class="remaining-bubbles" [routerLink]="[routes.TRAILERS]">
            <span>+{{ trailers?.length - 4 }}</span>
          </div>
        </div>
      </div>
      <div class="fleet-special" *ngFor="let vehicleGroup of primeVehicles">
        <div class="fleet-header">
          <div>
            <h2>{{ vehicleGroup.translations?.[lang] || vehicleGroup.name }}</h2>
            <span>{{ vehicleGroup.vehicles.length }}</span>
          </div>
          <div [routerLink]="[routes.PRIME + '/' + vehicleGroup._id]">
            {{ 'fleet.btn_view_all' | translate }}
          </div>
        </div>
        <div class="fleet-bubbles" *ngIf="hasChange">
          <div *ngIf="!vehicleGroup.vehicles.length" class="no-status" [routerLink]="[routes.PRIME]">
            <img class="no-cover" src="../../assets/orders/trailer.svg" />
          </div>
          <div
            class="no-status"
            *ngFor="let vehicle of vehicleGroup.vehicles.slice(0, 4)"
            [routerLink]="[routes.EDIT_PRIME, { id: vehicle._id }]">
            <img src="../../../../assets/images/trailer.svg" />
          </div>
          <div *ngIf="vehicleGroup.vehicles.length > 4" class="remaining-bubbles" [routerLink]="[routes.PRIME]">
            <span>+{{ vehicleGroup.vehicles?.length - 4 }}</span>
          </div>
        </div>
      </div>
    </div>

    <app-button
      *ngIf="size === 'md' && isPrime"
      [routerLink]="[routes.PRIME]"
      class="btn-yellow btn-new_vehicle"
      [text]="'fleet.btn_new_vehicle' | translate"
    ></app-button>
  </div>
</div>
