<div
  (click)="clickFileInputElement()"
  #uploadFilesBar
  [ngClass]="!displayFileLoaded || !this.fileInfo ? '' : 'hidden'"
  *ngIf="!awsFile"
>
<div #customTemplateRef>
  <ng-content select="[template]"></ng-content>
</div>

<div *ngIf="!customTemplateRef.children.length"   class="upload-file-bar">
  <div #elementContent> 
    <ng-content></ng-content>
  </div>

  <ng-container *ngIf="!elementContent.hasChildNodes()">
    {{ "fiscal-documents.drag-files" | translate }}
    <span
      (click)="clickFileInputElement()"
      [ngClass]="disabled ? 'disabled' : ''"
      class="browse-btn"
    >
      {{ "fiscal-documents.browse" | translate }}
    </span>
  </ng-container>
</div>

</div>

<div *ngIf="(displayFileLoaded && this.fileInfo) || awsFile" class="file-loaded">
  <div class="icon icon-close close-btn" (click)="removeFile()"></div>
  <div>
    <div class="doc-icon">
      {{ fileInfo ? fileInfo?.extension : awsFileExtension }}
    </div>
  </div>
  <div class="file-details">
    <div class="file-name">
      {{ fileInfo ? fileInfo?.text : awsFileName }}
    </div>
   <!--  <div class="subtitle">{{ formattedDateUpdated }} | {{ fileInfo.formattedSize }}</div> -->
  </div>
</div>

<input
  #fileInput
  hidden
  type="file"
  (change)="selectFile()"
  [accept]="acceptFiles"
/>
