<h1 class="title-features-shippers" data-aos="fade-right">
  {{ 'shippers.features.title' | translate }}
</h1>
<div class="features-container">
  <div class="features-info">
    <div class="features-info-container">
      <div class="features-info-columns">
        <div class="features-info-column">
          <div class="features-info-paragraph" data-aos="fade-up">
            <div class="features-info-circle"><div></div></div>
            <p>{{ 'shippers.features.first-list' | translate }}</p>
          </div>
          <div class="features-info-paragraph" data-aos="fade-up">
            <div class="features-info-circle"><div></div></div>
            <p>{{ 'shippers.features.second-list' | translate }}</p>
          </div>
        </div>
        <div class="features-info-column">
          <div class="features-info-paragraph" data-aos="fade-up">
            <div class="features-info-circle"><div></div></div>
            <p>{{ 'shippers.features.third-list' | translate }}</p>
          </div>
          <div class="features-info-paragraph" data-aos="fade-up">
            <div class="features-info-circle"><div></div></div>
            <p>{{ 'shippers.features.fourth-list' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-pic" data-aos="fade-up">
    <img src="/assets/images/shippers/phone.png" />
  </div>
</div>
