@use 'src/styles.scss';

.title-features-shippers {
  color: $lighter-color;
  font-family: Avenir;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 68px;
  margin: 40px 0px 70px 0px;
  text-align: center;
}

.features-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;

  .features-info {
    flex: 1;
    order: 1;

    .features-info-container {
      .features-info-columns {
        display: flex;
        flex-direction: row;

        .features-info-column:last-child {
          margin-top: 120px;
        }

        .features-info-column {
          display: flex;
          flex-direction: column;
          padding: 15px;

          .features-info-paragraph {
            display: flex;
            flex-direction: row;
            margin: 20px 0px;

            .features-info-circle {
              margin-top: 5px;

              > div {
                width: 12px;
                height: 12px;
                border: 2px solid $yellow-color;
                border-radius: 50%;
              }
            }

            p {
              margin: 0px 0px 0px 20px;
              padding: 0px;
              max-width: 288px;
              font-family: Avenir Next;
              font-size: 22px;
              font-weight: 400;
              letter-spacing: 0;
              line-height: 30px;
              text-align: justify;
            }
          }
        }
      }
    }
  }

  .features-pic {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-left: 50px;
    order: 2;

    img {
      max-width: 100%;
      object-fit: contain;
    }
  }
}

// =============================================================================
// Media Queries
// =============================================================================

.title-features-shippers {
  @include styles.fluid('font-size', $mobile-xs, $desktop-hd, 35px, 60px);
}

.features-container {
  @include styles.custom-resolution('1500px') {
    flex-direction: column;
  }

  @include styles.mobile {
    padding: 0 40px;
  }

  @include styles.fluid('margin-bottom', $mobile-xs, $desktop-hd, 80px, 200px);

  .features-info {
    @include styles.custom-resolution('1500px') {
      order: 2;
      justify-content: center;
      padding-top: 50px;
    }
    .features-info-container {
      .features-info-columns {
        @include styles.desktop {
          flex-direction: column;
        }
        .features-info-column:first-child {
          @include styles.desktop {
            padding-bottom: 0;
          }
        }

        .features-info-column:last-child {
          @include styles.custom-resolution('1500px') {
            margin-top: 0;
          }
          @include styles.desktop {
            padding-top: 0;
          }
        }
        .features-info-column {
          .features-info-paragraph {
            .features-info-circle {
              > div {
              }
            }

            p {
              @include styles.custom-resolution('1500px') {
                max-width: 90%;
              }
            }
          }
        }
      }
    }
  }

  .features-pic {
    @include styles.custom-resolution('1500px') {
      order: 1;
      justify-content: center;
    }
    img {
    }
  }
}
