.vertical-modal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 400px;
  height: 85%;
  top: 100px;
  right: 30px;
  background: #0B1117;
  box-shadow: inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
  border-radius: 8px;
  overflow: scroll;
}