<form [formGroup]="domicilioForm">
  <h6>{{ 'invoice.location.domicilio' | translate }}</h6>
  <div class="grid">
    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.edit.addr-calle' | translate }}</mat-label>
      <input matInput formControlName="calle" name="Calle" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.edit.addr-no-ext' | translate }}</mat-label>
      <input matInput formControlName="numero_exterior" name="Número Exterior" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.edit.addr-no-int' | translate }}</mat-label>
      <input matInput formControlName="numero_interior" name="Número Interior" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.edit.addr-pais' | translate }}</mat-label>
      <mat-select name="pais" formControlName="pais" class="disable-custom-format">
        <mat-option>
          <ngx-mat-select-search
            (keyup)="searchCountries($event.target.value)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let country of filteredCountries">
          <mat-option [value]="country.code" class="brand-option-1">
            {{ country.code }} - {{ country.name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.edit.addr-estado' | translate }}</mat-label>
      <mat-select name="estado" formControlName="estado" class="disable-custom-format">
        <mat-option>
          <ngx-mat-select-search
            (keyup)="searchStates($event.target.value)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let state of filteredStates">
          <mat-option [value]="state.clave" class="brand-option-1"> {{ state.clave }} - {{ state.nombre }} </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.edit.addr-cp' | translate }}</mat-label>
      <input matInput (blur)="getColonias($event)" formControlName="codigo_postal" name="Código Postal" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1" *ngIf="domicilioForm.value.pais == 'MEX'">
      <mat-label>{{ 'invoice.edit.addr-municipio' | translate }}</mat-label>
      <mat-select name="municipio" formControlName="municipio" class="disable-custom-format">
        <mat-option>
          <ngx-mat-select-search
            (keyup)="searchMunicipalities($event.target.value)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let municipality of filteredMunicipalities">
          <mat-option [value]="municipality.clave" class="brand-option-1">
            {{ municipality.clave }} - {{ municipality.nombre }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="brand-field-1" *ngIf="domicilioForm.value.pais !== 'MEX'">
      <mat-label>{{ 'invoice.edit.addr-municipio' | translate }}</mat-label>
      <input formControlName="municipio" autocomplete="off" type="search" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1" *ngIf="domicilioForm.value.pais == 'MEX'">
      <mat-label>{{ 'invoice.edit.addr-localidad' | translate }}</mat-label>
      <mat-select name="localidad" formControlName="localidad" class="disable-custom-format">
        <mat-option>
          <ngx-mat-select-search
            (keyup)="searchLocalities($event.target.value)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let locality of filteredLocalities">
          <mat-option [value]="locality.clave" class="brand-option-1">
            {{ locality.clave }} - {{ locality.nombre }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1" *ngIf="domicilioForm.value.pais !== 'MEX'">
      <mat-label>{{ 'invoice.edit.addr-localidad' | translate }}</mat-label>
      <input formControlName="localidad" autocomplete="nope" type="search" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.edit.addr-colonia' | translate }}</mat-label>
      <mat-select name="colonia" formControlName="colonia" class="disable-custom-format">
        <mat-option>
          <ngx-mat-select-search
            (keyup)="searchColonies($event.target.value)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let colony of filteredColonies">
          <mat-option [value]="colony.clave" class="brand-option-1">
            {{ colony.clave }} - {{ colony.nombre }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.location.addr-referencia' | translate }}</mat-label>
      <input matInput formControlName="referencia" name="Referencia" />
    </mat-form-field>
  </div>
</form>
