@use 'src/styles.scss';

.cargo-details {
  width: 566px;
  margin: 0 50px;

  .title {
    font-size: 25px;
    font-weight: 700;
    margin: 24px 0 46px;
  }

  .quantity {
    text-align: center;

    &-title {
      margin-bottom: 18px;
    }

    ::ng-deep .increment-decrement-container {
      width: 250px;
    }
  }

  .search-select-wrapper {
    width: 70%;
    margin: 72px 0;
    height: 60px;

    ::ng-deep bego-search-select .menu {
      background: linear-gradient(66.07deg, rgb(8 12 15 / 80%) 5.1%, rgb(7 7 12 / 80%) 100%);
    }
    ::ng-deep .search-select.active .menu {
      max-height: 320px;
    }
  }

  bego-text-area {
    height: 160px;
    width: 75%;
  }
}
