<bego-alert-customer
  [showChibi]="false"
  [simple]="true"
  [arrayButtons]="actionButtons"
  (closeEmitter)="save()"
  class="cargo-details">
  <h2 class="title">{{ 'orders.unit-details-list.title' | translate }}</h2>

  <div class="quantity">
    <div class="quantity-title">{{ 'orders.unit-details-list.qty' | translate }}</div>
    <bego-increment-decrement
      [units]="unitForm.get('qty').value"
      (changeUnits)="updateQuantity($event)"></bego-increment-decrement>
  </div>

  <div class="search-select-wrapper">
    <bego-search-select
      [catalogs]="unitsCatalog"
      [defaultValue]="selected.displayValue"
      [inputPlaceHolder]="'orders.unit-details-list.slct-unit' | translate"
      (searchValueChange)="getCatalog($event)"
      (catalogValueChange)="updateUnitType($event)"></bego-search-select>
  </div>

  <bego-text-area
    keyValue="description"
    [customPlaceholder]="'orders.unit-details-list.placeholder' | translate"
    [defaultValue]="unitForm.get('description').value"
    (sendData)="updateDescription($event)"></bego-text-area>
</bego-alert-customer>
