:host {
  width: 100%;
}

.new-order-container {
  height: 100%;
  color: #ededed;
  overflow: hidden;

  &.open {
    height: auto;
  }

  .order-header {
    padding: 20px 57px 0;
    img {
      padding: 0 0 0 20px;
    }

    .order-number {
      font-size: 1em;
      color: #c1c7d0;
    }
  }

  ::ng-deep .steps-container {
    padding: 0 57px;
    max-width: 768px;
    box-sizing: content-box;
    margin: auto;
  }

  ::ng-deep {
    $field-spacing: 40px;

    .steps-container {
      display: flex;
      flex-direction: column;
      gap: $field-spacing;
    }

    .row-field {
      display: flex;
      flex-wrap: wrap;
      gap: inherit;
    }

    .field {
      display: flex;
      align-items: center;
      gap: 30px;
      flex: 1;

       bego-input, bego-rfc-input {
        flex: 1;

        .input-wrapper {
          width: unset;
        }
      }

      bego-rfc-input {
        --gap: #{$field-spacing};
      }

      bego-phone-code-select {
        ion-select {
          width: 161px;
          height: 42px;
          justify-content: center;
        }
      }
    }
  }

  ::ng-deep .formgroup-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;

    &-required {
      @extend .formgroup-title;

      &::before {
        content: '* ';
        color: #ff0;
      }
    }
  }

  .new-order-wrapper {
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.5s;
    pointer-events: auto;
    box-sizing: border-box;

    &.card-open {
      transform: translateX(0%);
    }

    .steps-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      &.ocl {
        .order-stepper-wrapper {
          max-width: 380px;
        }
      }

      .order-stepper-wrapper {
        padding: 50px 57px;
      }

      .toggle-bill-container {
        margin-right: 57px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 15px;

        p {
          margin: 0 10px 0 0;
          color: #ededed;
          font-family: "Avenir-Heavy";
          font-size: 14px;
          font-weight: 900;
          letter-spacing: 0;
          line-height: 19px;
          display: inline-block;
        }

        .slide {
          padding: 1px 2px 0;
          border: 1px solid #fff;
          border-radius: 16px;
        }

        .bill-question {
          display: flex;
          align-items: center;

          > img {
            margin-right: 10px;
            display: inline-block;
          }
        }
      }
    }

    .footer {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      gap: 22px;
      width: 100%;
      padding: 30px 57px;

      .back-arrow-icon {
        font-size: 10px;
        margin-right: 12px;
      }
    }
  }

  .bego-btn{
    cursor: pointer;
  }
}

::ng-deep .mat-mdc-tab-header {
  display: none !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(249, 193, 66);
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(255, 255, 255);
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-color: transparent;

  ::ng-deep .mat-mdc-dialog-surface {
    overflow: hidden;
  }
}
