<div class="header">
  <div (click)="goBack.emit()">
    <i class="icon icon-back"></i>
  </div>
  <div class="title">
    {{ 'history.overview.title' | translate}}
  </div>
</div>

<div class="body">

  <!-- Driver card-->
  <div class="card driver-info">
    <app-fleet-asset-card type="driver" [data]="driverData">
      <div class="card-asset-container">
        <div class="info">
          <div class="label">
            {{'history.overview.label_driver' | translate}}
          </div>
          <div class="title">
            {{orderData.driver?.nickname}}
          </div>
        </div>
        <div class="edit-btn" (click)="edit.emit('driver')">
          <div class="edit-order-btn">{{'history.overview.btn-edit'|translate}}</div>
        </div>
      </div>
    </app-fleet-asset-card>
  </div>

  <!-- Truck card -->
  <div class="card truck-info">
    <app-fleet-asset-card type="truck" [data]="truckData">
      <div class="card-asset-container">
        <div class="info">
          <div class="label">
            {{'history.overview.label_vehicle' | translate}}
          </div>
          <div class="title">
            {{orderData.truck?.attributes.brand}}
          </div>
          <div class="subtitle">
            {{orderData.truck?.attributes.plates}}{{ orderData.truck?.attributes.colorName ? ' - ' + ('fleet.colors.'+ orderData.truck?.attributes.colorName | translate )  : ''}}
          </div>

        </div>
        <div class="edit-btn" (click)="edit.emit('truck')">
          <div class="edit-order-btn">{{'history.overview.btn-edit'|translate}}</div>
        </div>
      </div>    
    </app-fleet-asset-card>
  </div>

  <!-- Trailer card -->
  <div class="card trailer-info" >
    <app-fleet-asset-card type="trailer" [data]="trailerData">
      <div class="card-asset-container">
        <div class="info">
          <div class="label">
            {{'history.overview.label_trailer' | translate}}
          </div>
          <div class="title">
            {{orderData.trailer?.attributes.plates}}
          </div>
          <div class="subtitle">
            {{orderData.trailer?.attributes.trailer_number}}
          </div>
        </div>
        <div class="edit-btn" (click)="edit.emit('trailer')">
          <div class="edit-order-btn">{{'history.overview.btn-edit'|translate}}</div>
        </div>
      </div>    
    </app-fleet-asset-card>
  </div>

</div>