.header{
  display: flex;
  align-items: center;
  // font-size: 2rem;
  padding: 15px;

  .title{
    flex-grow: 1;
    text-align: center;
    font-size: 1.25rem;
  }

  .icon-back{
    cursor: pointer;
    padding: 5px;
  }
}

.card{
  margin-bottom: 20px;
}

.body{
  margin: 20px 30px 0px;

  .card-asset-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label{
      color: #C1C7D0;
      font-size: 14px;
      font-weight: 100;
    }

    .title{
      color: #ededed;
      font-size: 16px;
      font-weight: 500;
    }

    .subtitle{
      color: #ededed;
      font-size: 14px ;
      font-weight: 100;
    }

    .edit-order-btn {
      text-align: right;
      color: #FFE000;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 16px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  
}