<main>
  <h2>ChiBPT</h2>
  <section class="top-section" #scrollContainer>
    <ng-container *ngIf="!messages?.length; else list">
      <section class="chibi-chatbot-section">
        <img src="assets/images/chibpt/chibi-chatbot.svg" alt="Chibi Chatbot" />
         <p> {{ 'chibpt.greeting' | translate }} </p>
        
      </section>
    </ng-container>

    <ng-template #list>
      <section class="chibibot-conversation-section">
        <ng-container *ngFor="let message of messages">
          <ng-container *ngIf="message.role === 'user'">
            <app-app-user-message [message]="message.content" [files]="message.files"></app-app-user-message>
          </ng-container>

          <ng-container *ngIf="message.role === 'assistant'">
            <app-app-chibibot-message [message]="message.content" [image]="message?.url"></app-app-chibibot-message>
          </ng-container>
        </ng-container>

        <app-app-chibibot-message [loader]="true" *ngIf="chibiptService.sendingMessage"></app-app-chibibot-message>
      </section>
    </ng-template>
  </section>

  <section class="input-section">
    <bego-chat-box
      #chatBox
      (sendData)="sendQuestion($event)"
      [enabledFiles]="true"
      [questions]="!chatId && quickQuestions"
      [disableSend]="chibiptService.sendingMessage"
      [lang]="{
        sendBtn: 'chibpt.chatbox.send' | translate,
        placeholder: 'chibpt.chatbox.placeholder' | translate
      }">
    </bego-chat-box>
    <p>
    {{ 'chibpt.footer' | translate }}
    </p>
  </section>
</main>
