<div class="customs-agent-container">
  <div class="customs-agent-title" data-aos="fade-up">
    <h1>{{ 'shippers.customs-agent.title' | translate }}</h1>
  </div>
  <div class="customs-agent-pic" data-aos="fade">
    <div class="rotated-pic">
      <img src="/assets/images/shippers/shippers.jpg" />
    </div>
  </div>
  <div class="customs-agent-text" data-aos="fade-left">
    <p>
      {{ 'shippers.customs-agent.description' | translate
      }}<button routerLink="/contact">
        {{ 'shippers.customs-agent.contact' | translate }}
      </button>
    </p>
  </div>
</div>
