@use 'src/styles.scss';

.stepper{

    position: relative;

    .progress-bar{
      background-color: #494C50;
      height: 1.5px;
      position: absolute;
      margin: auto;
      top: 0; bottom: 0; right: 0; left: 0;
      z-index: 0;

      .progress-wrapper{

        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;

        .progress{
          height: 100%;
          background-color: #FFE000;
          transition: min-width 0.5s;
        }

        .gradient{
          width: 17%;
          height: 100%;
          background: linear-gradient(90deg, #ffbe00 0%, transparent 100%);

        }

      }
    }

    .steps{
      display: flex;
      justify-content: space-between;

      .step-wrapper{

        z-index: 1;

        &.with-padding{
          padding: 0px 18px;
          background-color: styles.$background-color;

          .step{
            font-weight: 300;
          }


        }

        .step{

          height: 24px;
          min-width: 23px;
          padding: 0px ;
          color: #494C50;
          font-family: Avenir;
          font-size: 14px;
          line-height: 24px;
          font-weight: 900;
          border-radius: 9px;
          text-align: center;
          background: linear-gradient(180deg, #06121C 0%, #040B11 100%);
          box-shadow: inset -2px -2px 4px 0 #10161C, inset 2px 2px 4px 0 #1C232A;
          cursor: pointer;

          &.with-padding{
            &::before, &::after{
              content: 'x';
            }
          }

          &.label-is-text{
            padding: 0px 20px;
            min-width: 140px;
            min-height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &.active {
            color: #FFFFFF;
            border: 1px solid #EDEDED;
            border-radius: 9px;
            background: linear-gradient(289.65deg, #1E262E 0%, #151B21 100%);
            box-shadow: inset -2px -2px 4px 0 #10161C, inset 2px 2px 4px 0 #1C232A;

          }

          &.validated {
            border-radius: 9px;
            background: linear-gradient(180deg, #FFD200 0%, #FFBE00 100%);
            box-shadow: inset -2px -2px 4px 0 #C69400, inset 2px 2px 4px 0 #FFBE00;
            font-weight: 700;
            color: #040b11;
            &:active{
              background: #C69400;
            }
          }


        }

        .step:hover{
          background-color: green;
        }
        }

    }
  }
