<div
  class="brand-icon-help"
  [matTooltip]="tooltipData"
  matTooltipPosition="right"
  matTooltipHideDelay="100"
  matTooltipClass="brand-tooltip-1 circular-avatar-tooltip"
  class="circular-avatar-container"
  [ngClass]="[userWantCP && !data?.can_stamp ? 'not-available-cp' : '', !data?.availability ? 'not-available' : '']">
  <div class="circular-avatar-middle-container">
    <div class="circular-avatar-int-container">
      <div class="available-dot" [ngClass]="!data?.availability ? 'not-available-dot' : ''">
        <i class="icon icon-dot"></i>
      </div>
      <div class="circular-avatar-photo-container">
        <img [src]="data?.photo ? data.photo : fallbackImage" alt="" />
      </div>
      <span *ngIf="radioButton">
        <div class="selected-dot"></div>
        <i class="icon icon-check show-check-icon" *ngIf="data?.isSelected"></i>
      </span>
    </div>
  </div>
</div>
