.faqs--page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 2rem 4rem;
}

.faqs--wrapper {
  display: grid;
  grid-gap: 5rem;
}

.faq--item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .faq--title {
    max-width: 145px;
    font-size: 26px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: capitalize;

    span {
      font-size: 22px;
      color: #FFE000;
      letter-spacing: 0px;
    }
  }

  .faq--label {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: capitalize;
  }

  ::ng-deep .dropdown-container {
    margin-top: 0;

    .mat-expansion-panel {
      background: transparent;
      box-shadow: unset;
      border-top: 1px solid #1C232A;
      border-radius: 0;

      &:last-child {
        border-bottom: 1px solid #1C232A;
      }
    }

    .mat-expansion-panel-header-description {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      color: #EDEDED;
    }

    .mat-expansion-indicator::after {
      transform: rotate(-45deg);
    }

    .mat-expansion-panel.mat-expanded .mat-expansion-indicator::after {
      transform: rotate(225deg);
      color: #FFE000 !important;
    }
  }
}
