@use 'src/styles.scss';

:host {
  .alert-wrapper {
    padding: 20px;
    width: auto;
    font-family: "Avenir", Helvetica, sans-serif;

    .alert-header {
      text-align: center;
      margin-bottom: 20px;

      h1 {
        font-weight: 800;
        font-size: 24px;
        padding: 0;
        color: styles.$lighter-color;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        line-height: 21.86px;
      }
    }

    .alert-button-group {
      margin-top: 20px;
    }
  }
}
