
.bego-btn {
  font-family: Avenir;
  border-radius: 8px;
  min-width: 125px;
  border: none;

  &.thick-btn{
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
  }

  &.yellow{
    --mdc-protected-button-container-color: #FFE000;
    background-color: #FFE000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px #FFEA52, inset -4px -4px 4px #E1C600;
    border-radius: 8px;
    cursor: pointer;
  }

  &.gray{
    background: linear-gradient(107.27deg, #181F25 21.25%, #151B21 87.17%);
    border: 1px solid #10161C;
    box-sizing: border-box;
    box-shadow: inset 4px 4px 6px #1D242C, inset -4px -4px 6px #10161C;
    color: white;

  }

  &.medium-size{
    min-width: 262px;
  }

  &.full-width{
    width: 100%;
  }

  &.mat-mdc-button-disabled, &[disabled] {
    color: #1C232A!important;
    box-shadow: 0px 1px 4px #040b11, inset -3px -3px 4px #13181e, inset 3px 3px 4px #000000!important;
    background: #040B11;
    border-radius: 8px;
    cursor: default;
  }
  // color: black;
}

.bego-icon.mat-mdc-icon-button {
  color:#000000;
  background: #FFE000;
  box-shadow: inset 4px 4px 4px #FFD354, inset -4px -4px 6px #D59E00;
  border-radius: 10px !important;
  font-size: 26px;
}

.bego-icon.mat-mdc-button.mat-primary.mat-mdc-button-disabled,
.bego-icon.mat-mdc-button.mat-accent.mat-mdc-button-disabled,
.bego-icon.mat-mdc-button.mat-warn.mat-mdc-button-disabled,
.bego-icon.mat-mdc-button.mat-mdc-button-disabled.mat-mdc-button-disabled,
.bego-icon.mat-mdc-icon-button.mat-primary.mat-mdc-button-disabled,
.bego-icon.mat-mdc-icon-button.mat-accent.mat-mdc-button-disabled,
.bego-icon.mat-mdc-icon-button.mat-warn.mat-mdc-button-disabled,
.bego-icon.mat-mdc-icon-button.mat-mdc-button-disabled.mat-mdc-button-disabled,
.bego-icon.mat-mdc-outlined-button.mat-primary.mat-mdc-button-disabled,
.bego-icon.mat-mdc-outlined-button.mat-accent.mat-mdc-button-disabled,
.bego-icon.mat-mdc-outlined-button.mat-warn.mat-mdc-button-disabled,
.bego-icon.mat-mdc-outlined-button.mat-mdc-button-disabled.mat-mdc-button-disabled {
  background: linear-gradient(152.01deg, rgba(8, 15, 22, 0.29) 13.84%, rgba(33, 37, 44, 0.44) 80.67%);
  box-shadow: 0px 4px 5px #020507;
  color: #1C232A;
}

.btn-dark-bego.mat-mdc-icon-button {
  color:#EDEDED;
  background: linear-gradient(152.01deg, rgba(8, 15, 22, 0.29) 13.84%, rgba(33, 37, 44, 0.44) 80.67%);
  box-shadow: 0px 4px 10px #040B11;
  backdrop-filter: blur(30px);
  font-size: 18px;
  line-height: 18px;
  border-radius: 8px;
  width: 30px;
  height: 30px;
}

.white-toggle {
  // --background: linear-gradient(180deg, rgba(39,42,46,1) 0%, rgba(39,42,46,1) 60%, rgba(60,65,71,1) 100%);
  // --background-checked: linear-gradient(180deg, rgba(226,178,0,1) 0%, rgba(255,201,0,1) 10%, rgba(255,201,0,1) 60%);
  // --handle-spacing: 1px;
  // --handle-height: 22px;
  // --handle-width: 22px;
  // --handle-background: #fff url(/assets/order/handle.svg) no-repeat center / contain;
  // --handle-background-checked: #fff url(/assets/order/handle.svg) no-repeat center / contain;
  width: 50px !important; 
  height: 25px !important;
  border: 2px solid white;
  border-radius: 20px;
}
