<div class="features-container">
  <div class="features-info">
    <div class="features-info-container">
      <h1 data-aos="fade-right" data-aos-offset="200">
        {{ 'carries.drivers-features.title-first-line' | translate }} <br />
        {{ 'carries.drivers-features.title-second-line' | translate }} <br />
        {{ 'carries.drivers-features.title-third-line' | translate }}
      </h1>

      <div class="features-info-column">
        <div
          class="features-info-paragraph"
          data-aos="fade-up"
          data-aos-offset="200"
        >
          <p>{{ 'carries.drivers-features.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="features-pic" data-aos="fade-up" data-aos-offset="600">
    <img src="assets/images/carriers/hand.png" />
  </div>
</div>
