@use 'src/styles.scss';

.app-fleet-browser {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 280px;
    grid-gap: 3rem;

    .sidebar {
      margin-top: 80px;
      padding: 40px 25px;
      background: #0b1117;
      box-shadow: 0px 10px 10px #040b11, inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
      border-radius: 8px;
      color: #ededed;
      max-height: 70vh;
      overflow: auto;
      // min-width: 280px;
    }
  }
}


.invitation-container {
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;


  .invitations-grid{
    display: grid;
    grid-template-rows: 100px 1fr;
    height: 100%;

    .invitations-title {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 30px;
        font-weight: 800;
      }
    }

    .invitations-content {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  } 

  p {
    color: styles.$color-font-grey;
    font-weight: 600;
    margin-top: 10px;
  }

  .medium-invitation-title {
    font-size: 20px;
    color: styles.$lighter-color;
  }

  .small-invitation-title {
    font-size: 14px;
    color: styles.$lighter-color;
  }

  .invitations-block {
    padding: 40px 25px;
    background: #0b1117;
    box-shadow: 0px 10px 10px #040b11, inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
    border-radius: 8px;
    width: 300px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      background: #1d242cf2;
      transform: scale(1.1);
    }
  }

}

.invitation-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.invitation-row {
  padding: 25px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  background: #0B1117;
  box-shadow: inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
  border-radius: 8px;
}

.driver-selector-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  input {
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    text-align: center;
  }

  .driver-selector {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 118px;
    margin: 5px 34px 10px 0px;

    .driver-selector-symbol {
      display: flex;
      align-items: center;
      justify-content: center;
      color: styles.$yellow-color;
      font-weight: 600;
      height: 30px;
      width: 30px;
      border-radius: 3px;
      background-color: #10161c;
      box-shadow: inset 4px 4px 4px 0 #1d2024, inset -4px -4px 4px 0 #10161c;
      z-index: 2;
      cursor: pointer;
    }

    .driver-selector-input {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 600;
      width: 60px;

      input {
        color: styles.$color-font-grey;
      }
    }
  }

  .driver-selector::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    height: 26px;
    width: calc(100% - 50px);
    border: 2px solid #10161c;
    z-index: 1;
    pointer-events: none;
  }
}

.register-content {
  p {
    font-size: 16px;
    margin: 30px 0;
    color: #EDEDED;

    a {
      color: styles.$yellow-color;
      text-decoration: none;
      font-size: 20px;
    }
  }
}

.invitation-form-title {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px;
  position: relative;
}

.checkmark {
  position: absolute;
  top: -25%;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: styles.$yellow-color;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px styles.$yellow-color;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {

  100% {
    stroke-dashoffset: 0;
  }

}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }

}

