<section
  class="section section-a14-bionic modal-button-spacing"
  data-component-list="ModalOverlay A14Bionic"
  data-anim-scroll-group="A14 Bionic"
  data-modal-id="a14-bionic"
  data-analytics-section-engagement="name:chip"
>
  <h1 data-aos="flip-up">{{ 'about.grid.title' | translate }}</h1>
  <div class="section-content grid-section-content">
    <div class="grid">
      <div class="glow-active cell glow h-span-5 small-remove"></div>
      <div
        class="
          glow-active
          cell
          glow
          gpu-cpu
          h-span-7
          small-h-span-12 small-v-span-1
        "
      >
        <figure
          class="badge badge-gradient begoRow begoRow1"
          data-aos="fade"
          data-aos="fade"
          data-aos-mirror="true"
          data-aos-once="false"
        >
          <div class="badge-content">
            <span class="badge-caption">{{
              'about.grid.txt-top-first' | translate
            }}</span>
            <span class="badge-value">
              <span class="badge-number">38</span
              ><span class="badge-unit">%</span>
            </span>
            <span class="badge-caption badge-caption-inline">{{
              'about.grid.txt-middle-first' | translate
            }}</span>
            <span class="badge-caption">{{
              'about.grid.txt-bottom-first' | translate
            }}</span>
          </div>
        </figure>
      </div>
      <div
        class="glow-active cell glow h-span-3 medium-h-span-2 small-h-span-5"
      ></div>
      <div
        class="
          glow-active
          cell
          glow
          transistors
          h-span-5
          medium-h-span-7
          small-h-span-7 small-v-span-2
        "
      >
        <figure
          class="badge badge-gradient begoRow begoRow2"
          style=""
          data-aos="fade"
          data-aos-mirror="true"
          data-aos-once="false"
        >
          <div class="badge-content">
            <span class="badge-caption">{{
              'about.grid.txt-top-second' | translate
            }}</span>
            <span class="badge-value">
              <span class="badge-number badge-inline">23</span
              ><span class="badge-unit badge-inline">%</span>
            </span>
            <span class="badge-caption">{{
              'about.grid.txt-bottom-second' | translate
            }}</span>
          </div>
        </figure>
      </div>
      <div
        class="glow-active cell glow h-span-4 medium-h-span-3 small-remove"
      ></div>
      <div class="cell medium-show medium-h-span-4"></div>
      <div class="cell medium-show medium-h-span-3"></div>
      <div
        class="
          glow-active
          cell
          glow
          h-span-4
          medium-h-span-5
          small-h-span-5 small-v-span-2
        "
      >
        <figure
          class="badge badge-gradient begoRow begoRow3"
          style=""
          data-aos="fade"
          data-aos-mirror="true"
          data-aos-once="false"
        >
          <div class="badge-content">
            <!-- <span class="badge-caption">Contenedores de</span> -->
            <span class="badge-value">
              <span class="badge-number">72</span>
              <span class="badge-unit"> hrs</span>
            </span>
            <span class="badge-caption">{{
              'about.grid.txt-bottom-third' | translate
            }}</span>
          </div>
        </figure>
      </div>
      <div
        class="glow-active cell glow h-span-2 medium-h-span-4 small-remove"
      ></div>
      <div
        class="
          glow-active
          cell
          glow
          h-span-6
          medium-h-span-5
          small-h-span-7 small-v-span-2
        "
      >
        <figure
          class="badge badge-gradient begoRow begoRow3"
          style=""
          data-aos="fade"
          data-aos-mirror="true"
          data-aos-once="false"
        >
          <div class="badge-content">
            <span class="badge-caption">{{
              'about.grid.txt-top-fourth' | translate
            }}</span
            ><span class="badge-value">
              <span class="badge-number">10</span
              ><span class="badge-unit"></span></span
            ><span class="badge-caption">{{
              'about.grid.txt-bottom-fourth' | translate
            }}</span>
          </div>
        </figure>
      </div>
      <div
        class="
          glow-active
          cell
          glow
          h-span-4
          medium-h-span-3
          small-h-span-5 small-v-span-2
        "
      ></div>
      <div class="cell medium-show medium-h-span-6"></div>
      <div
        class="
          glow-active
          cell
          glow
          h-span-4
          medium-h-span-6
          small-h-span-7 small-v-span-1
        "
      >
        <figure
          class="badge badge-gradient begoRow begoRow4"
          style=""
          data-aos="fade"
          data-aos-mirror="true"
          data-aos-once="false"
        >
          <div class="badge-content">
            <span class="badge-caption">{{
              'about.grid.txt-top-fifth' | translate
            }}</span>
            <span class="badge-value">
              <span class="badge-number">{{
                'about.grid.txt-middle-fifth' | translate
              }}</span>
              <span class="badge-unit"></span>
            </span>
            <span class="badge-caption">{{
              'about.grid.txt-bottom-fifth' | translate
            }}</span>
          </div>
        </figure>
      </div>
      <div
        class="glow-active cell glow h-span-4 medium-remove small-remove"
      ></div>
      <div
        class="glow-active cell glow h-span-8 medium-h-span-6 small-h-span-12"
      >
        <!-- <figure class="badge badge-gradient begoRow begoRow5" style="" data-aos="fade" data-aos-mirror="true" data-aos-once="false">
          <div class="badge-content"><span class="badge-caption">Hasta</span> <span class="badge-value">
            <span>70</span><span class="badge-unit">%</span></span>
            <span class="badge-caption badge-caption-inline">más velocidad</span>
            <span class="badge-caption">en la repartición de tu carga</span></div>
        </figure> -->
      </div>
      <div
        class="glow-active cell glow h-span-4 medium-h-span-6 small-remove"
      ></div>
    </div>
  </div>
</section>
