<div class="description-container">
  <div class="description-header">
    <h1 data-aos="flip-up">{{ 'carries.drivers-roles.title' | translate }}</h1>
    <img data-aos="fade" src="assets/images/carriers/phone-top.png" />
  </div>
  <div class="description-body">
    <div data-aos="fade-up" data-aos-delay="0" data-aos-offset="200">
      <h2>{{ 'carries.drivers-roles.subtitle-driver' | translate }}</h2>
      <p>{{ 'carries.drivers-roles.txt-driver' | translate }}</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="250" data-aos-offset="200">
      <h2>{{ 'carries.drivers-roles.subtitle-driver-manager' | translate }}</h2>
      <p>{{ 'carries.drivers-roles.txt-driver-manager' | translate }}</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="500" data-aos-offset="200">
      <h2>{{ 'carries.drivers-roles.subtitle-manager' | translate }}</h2>
      <p>{{ 'carries.drivers-roles.txt-manager' | translate }}</p>
    </div>
  </div>
</div>
