@use 'src/styles.scss';
.evidence{

  padding: 38px;
  display: flex;
  flex-flow: column;
  gap: 27px;

  .evidence-title{
    text-align: left;
  }
  
  .evidence-container{
  
    background: #0B1117;
    box-shadow: 0px 3px 2px #131A21;
    border-radius: 8px;
    padding: 0px 10px 15px 10px;
    text-align: center;  
  }

  .invoice{
    cursor: pointer;
  }

  .photos-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(53px,1fr));
    gap: 25px;
    margin-top: 30px;
  
    .thumbnail{

      cursor: pointer;
  
      img{
        object-fit: cover;
        width: 53px;
        height: 53px;
        border-radius: 8px;
      }
    }
    
  }


  .order-signature{
  
    $signature-height: 100px;

    position: relative;
    height: $signature-height;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img{
      transform: rotate(-90deg);
      width: $signature-height;
      // transform-origin: top left;
      height: 280px;
      object-fit: cover;
      position: absolute;
    }
  }

  .comments-section{
    textarea.comments{
      font-weight: bold;
      font-weight: 800;
      font-size: 16px;
    }
  }

}

.pdf-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 10px 0px;

  .icon{
    color: styles.$color-font-grey;
    font-size: 20px;
  }

  >div{
    text-align: left;
  }

  > div:first-child {
    flex: 0 0 50px;
    width: 50px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > div:last-child {
    flex: 0 0 50px;
    width: 50px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > div:nth-child(2) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div:first-child {
      font-size: 14px;
      color: styles.$color-font-grey;
    }

     > div:last-child {
      font-size: 10px;
      color: #89898A;
    }
  }
}

