<div class="payments-container">
  <div class="payments-header">
    <h4 style="margin-bottom: 0rem; font-size: 20px">{{ 'payments.upload-modal.title' | translate }}</h4>
    <div class="close-btn">
      <mat-icon (click)="close()">close</mat-icon>
    </div>
  </div>
  <div class="payments-body">
    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'payments.upload-modal.order-number' | translate }}</mat-label>
      <input matInput [(ngModel)]="order_number" (input)="checkValidated()"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'payments.upload-modal.reference-number' | translate }}</mat-label>
      <input matInput [(ngModel)]="reference_number" (input)="checkValidated()"  prefix="BGO" mask="00000000000-000000" />
    </mat-form-field>

    <div class="price-container">
      <mat-form-field appearance="outline" class="brand-field-1">
        <mat-label>Subtotal</mat-label>
        <input
          matInput
          [value]="valuesInputs.subtotal.inputValue"
          placeholder="$000.00"
          (input)="onInputChange($event, 'subtotal')"
          (focus)="onInputChange($event, 'subtotal')"
          (blur)="onInputBlur($event, 'subtotal')" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="brand-field-1">
        <mat-label>Total</mat-label>
        <input
          matInput
          [value]="valuesInputs.total.inputValue"
          placeholder="$000.00"
          (input)="onInputChange($event, 'total')"
          (focus)="onInputChange($event, 'total')"
          (blur)="onInputBlur($event, 'total')" />
      </mat-form-field>
    </div>
    <div class="foreing-container">
      <bego-button-toggle [simple]="true" (statusChanged)="onForeignPaymentChange($event)"></bego-button-toggle>
      <span>{{ 'payments.upload-modal.label_foreign_payment' | translate }}</span>
    </div>
    <div class="files-container">
      <div class="files-subcontainer" *ngIf="!foreingPayment">
        <span>XML</span>

        <bego-drag-drop
          [validTypes]="xmlType"
          [lang]="{
            labelBrowse: 'payments.upload-modal.select-file' | translate
          }"
          [styleRect]="true"
          [maxSize]="10000000"
          [fileInfo]="files.xml.data"
          [drag]="true"
          (invalidFiletype)="invalidFile()"
          (fileSelected)="handleFileChange($event, 'xml')"></bego-drag-drop>
      </div>

      <div class="files-subcontainer">
        <span>PDF</span>

        <bego-drag-drop
          [validTypes]="pdfType"
          [lang]="{
            labelBrowse: 'payments.upload-modal.select-file' | translate
          }"
          [styleRect]="true"
          [maxSize]="10000000"
          [fileInfo]="files.pdf.data"
          [drag]="true"
          (invalidFiletype)="invalidFile()"
          (fileSelected)="handleFileChange($event, 'pdf')"></bego-drag-drop>
      </div>
    </div>
  </div>

  <button
    [disabled]="!validated"
    mat-flat-button
    [ngClass]="['brand-btn-2']"
    class="btn-pay"
    (click)="uploadData()">
    {{ 'payments.upload-modal.send-btn' | translate }}
  </button>
</div>
