.payments-container {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-height: 600px;
    justify-content: center;
    color: #ededed;
    position: relative;

    .payments-header {
        position: relative;
        text-align: center;
        margin-bottom: 2rem;

        .close-btn {
            position: absolute;
            right: 10px;
            top: 0px;
            cursor: pointer;

            mat-icon {
                color: rgb(150, 150, 150);
            }
        }
    }

    .payments-body {
        max-width: 600px;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .foreing-container {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            padding-bottom: 1.34375em;
        }
        .price-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            .mat-mdc-form-field {
                width: 100%;
            }
        }
        .files-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 15px;

            .files-subcontainer {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                width: 50%;

                span {
                    margin-bottom: 5px;
                }
            }
        }
    }
    ::ng-deep {
        bego-drag-drop {
            @media screen and (min-width: 576px) {
                .container.horizontal .default-upload bego-icon {
                    --font-size: 30px !important;
                }
            }
        }

        .pue-container bego-button-toggle {
            .toggle-container.medium {
                height: 56px;
                width: 220px;
            }
        }
    }

    .btn-pay {
        min-width: 155px;
        min-height: 40px;
        position: absolute;
        bottom: -32px;
        right: -24px;
        border-radius: 8px 0 24px 0;
    }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0 !important;
    padding-left: 5px;
}
