@use '../../styles/colors.scss';
@use './global.scss';
@use './inputs.scss';

.payment-complement {
  background-color: #040b11;
  color: colors.$shadow-white;
  min-width: 950px;
  padding: 15px;

  .mat-mdc-unelevated-button,
  .secondary-task {
    background-color: #ffe000;
  }

  header {
    h2 {
      color: colors.$yellow;
      font-size: 22px;
      margin-bottom: 15px;
    }
  }

  main {
    position: relative;
    overflow-y: auto;
    min-height: 540px;
    max-height: 80vh;

    h3,
    h4 {
      font-size: global.$fontSize * 1.5;
      margin-top: 35px;
      color: colors.$white-blue;
      display: inline-block;
      margin-bottom: 0px;
      padding: 5px 25px;
      border: 1px solid darken(colors.$white-80, 66%);
      border-bottom: 0px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    h4 {
      text-align: center;
      display: block;
      border: 0px;
      border-bottom: 1px solid darken(colors.$white-80, 66%);
      margin-bottom: 15px;

      &.related-bills {
        padding-bottom: 25px !important;
      }
    }

    .content-box {
      padding: 5%;
      border: 1px solid darken(colors.$white-80, 76%);
      border-radius: 10px;
      max-width: 86%;
      border-top-left-radius: 0px;
    }

    .mat-expansion-panel {
      background-color: colors.$shadow-dark-grey;

      .mat-expansion-panel-header-title {
        color: colors.$shadow-white;
      }
    }

    .amounts {
      display: flex;
      gap: 250px;
      justify-content: center;

      span,
      strong {
        display: block;
        margin-top: 15px;
      }

      span {
        font-size: 16px;
      }

      strong {
        font-size: 20px;
      }

      .warning {
        color: colors.$yellow;
      }
    }

    .text-white {
      color: #fff;
      font-size: 14px;
    }

    ::ng-deep {
      .ui-table {
        .mat-mdc-card-content {
          height: auto;
          &::-webkit-scrollbar {
            width: 12px;
          }
        }

        .top-container {
          display: none !important;
        }
      }

      .time-picker {
        .mat-form-field-infix {
          display: flex;
          .ngx-material-timepicker-toggle {
            fill: white;
            margin-top: -10px;
          }
        }
      }
    }
  }
}

::ng-deep {
  .timepicker-backdrop-overlay,
  .timepicker-overlay {
    z-index: 1001 !important;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #111 !important;
  }
}
