<div class="screenshots-container">
  <div class="screenshots-row">
    <div class="screenshots-row-box" data-aos="fade-in" data-aos-delay="100">
      <h2>{{ 'carries.driver-screenshots.title-phone-calls' | translate }}</h2>
      <p>{{ 'carries.driver-screenshots.txt-phone-calls' | translate }}</p>
      <img src="assets/images/carriers/new-order.png" />
    </div>
    <!-- Special Box -->
    <div
      class="screenshots-row-specialbox"
      data-aos="fade-in"
      data-aos-delay="300"
    >
      <div class="screenshots-row-minibox">
        <h2>{{ 'carries.driver-screenshots.title-paperwork' | translate }}</h2>
        <p>{{ 'carries.driver-screenshots.txt-paperwork' | translate }}</p>
        <img src="assets/images/carriers/trip-info.png" />
      </div>
      <div class="screenshots-row-minibox flex-row">
        <div>{{ 'carries.driver-screenshots.txt-mood' | translate }}</div>
        <div><img src="assets/images/carriers/moods.png" /></div>
      </div>
    </div>
    <!-- // Special Box -->
    <div class="screenshots-row-box" data-aos="fade-in" data-aos-delay="500">
      <h2>{{ 'carries.driver-screenshots.title-quickpay' | translate }}</h2>
      <p>{{ 'carries.driver-screenshots.txt-quickpay' | translate }}</p>
      <img src="assets/images/carriers/evidence.png" />
    </div>
  </div>
  <div class="screenshots-pic" data-aos="fade-right" data-aos-offset="300">
    <h2>Manage your fleet<br />from the BeGo app</h2>
  </div>
  <div class="screenshots-row">
    <div class="screenshots-row-box" data-aos="fade-in" data-aos-delay="100">
      <h2>{{ 'carries.driver-screenshots.title-assign' | translate }}</h2>
      <p>{{ 'carries.driver-screenshots.txt-assign' | translate }}</p>
      <img src="assets/images/carriers/fleet.png" />
    </div>
    <div class="screenshots-row-box" data-aos="fade-in" data-aos-delay="300">
      <h2>{{ 'carries.driver-screenshots.title-analytics' | translate }}</h2>
      <p>{{ 'carries.driver-screenshots.txt-analytics' | translate }}</p>
      <img class="medium-img" src="assets/images/carriers/stats1.png" />
      <img class="medium-img" src="assets/images/carriers/stats2.png" />
    </div>
    <div class="screenshots-row-box" data-aos="fade-in" data-aos-delay="500">
      <h2>{{ 'carries.driver-screenshots.title-services' | translate }}</h2>
      <img class="small-img" src="assets/images/carriers/assigned1.png" />
      <h3>{{ 'carries.driver-screenshots.txt-services' | translate }}</h3>
      <img class="small-img" src="assets/images/carriers/assigned2.png" />
    </div>
  </div>
</div>
