<div class="checkout-form">
  <bego-checkout-card
    class="card"
    [title]="'orders.title-pickup' | translate"
    [btnLabel]="'orders.btn-edit' | translate"
    [content]="pickupContent"
    (editSignal)="redirectToStep(0)"></bego-checkout-card>
  <bego-checkout-card
    class="card"
    [title]="'orders.title-dropoff' | translate"
    [btnLabel]="'orders.btn-edit' | translate"
    [content]="dropoffContent"
    (editSignal)="redirectToStep(1)">
    ></bego-checkout-card
  >
  <bego-checkout-card
    class="card"
    [title]="'orders.title-cargo-info' | translate"
    [btnLabel]="'orders.btn-edit' | translate"
    [content]="cargoContent"
    (editSignal)="redirectToStep(2)">
    ></bego-checkout-card
  >
  <bego-checkout-card
    class="card invoice-card"
    [title]="'orders.title-invoice' | translate"
    [btnLabel]="(invoiceEditable ? 'orders.btn-save' : 'orders.btn-edit') | translate"
    [content]="invoiceContent"
    [editable]="invoiceEditable"
    (editSignal)="editInvoice()"
    (formValueChange)="updateInvoice($event)"></bego-checkout-card>
</div>
