.checkout-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 52px;
}

::ng-deep {
  .invoice-card .checkout-card .card-wrapper .card-content {
    overflow-y: auto;
  }
}
