<div class="contact-container">
  <div class="map-container">
    <div class="map">
      <ng-lottie
        [options]="mapOptions"
        (animationCreated)="mapCreated($event)"
      ></ng-lottie>
    </div>
  </div>
  <div class="contact-info" data-aos="fade-right">
    <h1>
      {{ 'contact.title-first-line' | translate }} <br />
      {{ 'contact.title-second-line' | translate }} <br />
      {{ 'contact.title-third-line' | translate }}
    </h1>
    <div class="contact-link">55.64.78.90</div>
    <div class="contact-link">
      <a href="mailto:bego@begomx.com">bego&#64;begomx.com</a>
    </div>
    <p class="contact-address">
      Perif. Blvd. Manuel Ávila Camacho 3130, Valle Dorado, 54020, Tlalnepantla
      de Baz, Méx.
    </p>
    <div class="contact-how">
      <a
        href="https://www.google.com/maps/dir/?api=1&destination=19.5472896,-99.2100736"
        target="_blank"
        >{{ 'contact.txt-location' | translate }}</a
      >
    </div>
    <div class="contact-link">
      <a
        href="https://www.google.com/maps/dir/?api=1&destination=19.5472896,-99.2100736"
        target="_blank"
        >{{ 'contact.btn-location' | translate }}</a
      >
    </div>
  </div>
  <div class="contact-form" data-aos="fade-up">
    <form>
      <label for="name"
        >{{ 'contact.label-full-name' | translate }} <span>*</span></label
      >
      <input
        type="text"
        name="name"
        class="input-full"
        [(ngModel)]="name"
        #ctrl="ngModel"
        required
      />
      <div class="input-half">
        <div>
          <label for="telephone"
            >{{ 'contact.label-phone' | translate }} <span>*</span></label
          >
          <input
            type="tel"
            name="telephone"
            [(ngModel)]="telephone"
            #ctrl="ngModel"
            required
          />
        </div>
        <div>
          <label for="email"
            >{{ 'contact.label-email' | translate }} <span>*</span></label
          >
          <input
            type="email"
            name="email"
            [(ngModel)]="email"
            #ctrl="ngModel"
            required
          />
        </div>
      </div>
      <label>{{ 'contact.label-type-user' | translate }} <span>*</span></label
      ><br />
      <select name="type" [(ngModel)]="type" #ctrl="ngModel" required>
        <option>{{ 'contact.option-owner' | translate }}</option>
        <option>{{ 'contact.option-driver' | translate }}</option>
        <option>{{ 'contact.option-shipper' | translate }}</option>
      </select>
      <br /><br />
      <label>{{ 'contact.label-message' | translate }} <span>*</span></label>
      <textarea
        name="message"
        [(ngModel)]="message"
        #ctrl="ngModel"
        required
      ></textarea>
      <div class="submit-button" (click)="submit()">
        {{ 'contact.btn-submit' | translate }}
      </div>
    </form>
  </div>
</div>
