@use 'src/styles.scss';

.contact-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  left: 0;
  height: calc(100% - 108px);

  .map-container {
    position: absolute;
    z-index: -2;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .map {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translate(-15%, 15%);
      background: url('../../../assets/lottie/animated-map.jpg');
      background-size: 53% 89%;
      background-repeat: no-repeat;
      background-origin: border-box;
      background-position: 48% 48%;

      @include styles.mobile {
        display: none;
      }
    }
  }

  .contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 160px;

    h1 {
      font-size: 50px;
    }

    .contact-link {
      text-decoration: underline;
      cursor: pointer;
      margin: 10px 0px;

      a {
        color: styles.$yellow-color;
      }
    }

    p {
      max-width: 300px;
      letter-spacing: 2.5px;
      text-align: justify;
    }

    .contact-how {
      margin: 20px 0px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 60px;

    form {
      max-width: 550px;
      letter-spacing: 2px;

      label span {
        color: styles.$yellow-color;
      }

      .submit-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        cursor: pointer;
        color: #040b11;
        font-family: Avenir;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 27px;
        height: 54px;
        width: 257px;
        border-radius: 50px;
        background: linear-gradient(180deg, #ffd200 0%, #ffbe00 100%);
      }
    }

    .input-full {
      width: 100%;
      width: -webkit-fill-available;
      margin: 0px 0px 20px;
    }

    .input-half {
      display: flex;
      flex-direction: row;
      margin: 20px 0px 45px 0px;

      > div {
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      > div:first-child {
        margin-right: 20px;
      }

      > div:last-child {
        margin-left: 20px;
      }
    }

    input {
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-bottom: 3px solid #979797;
      outline: none;
      color: styles.$lighter-color;
      font-size: 18px;
    }

    select {
      box-sizing: border-box;
      height: 46px;
      width: 314px;
      border: 2px solid #979797;
      border-radius: 8px;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none;
      color: styles.$lighter-color;
      font-size: 18px;
      margin: 20px 0px;

      padding-left: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;

      background-image: linear-gradient(
          45deg,
          transparent 50%,
          styles.$yellow-color 50%
        ),
        linear-gradient(135deg, styles.$yellow-color 50%, transparent 50%);
      background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
    }

    textarea {
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      width: 100%;
      width: -webkit-fill-available;
      border-bottom: 3px solid #979797;
      outline: none;
      color: styles.$lighter-color;
      font-size: 18px;
    }
  }
}

// =============================================================================
// Media Queries
// =============================================================================

.contact-container {
  @include styles.mobile {
    flex-direction: column;
  }

  .contact-info {
    @include styles.fluid-padding-left(styles.$desktop, styles.$desktop-hd, 100px, 160px);

    @include styles.desktop {
      padding-right: 25px;
    }

    @include styles.mobile {
      padding-left: 60px;
    }

    h1 {
      @include styles.fluid-type(styles.$mobile-xs, styles.$desktop-hd, 30px, 50px);
    }
  }

  .contact-form {
    @include styles.mobile {
      padding: 50px 60px;
    }

    form {
      @include styles.mobile {
        max-width: inherit;
        width: 100%;
      }

      .submit-button {
        @include styles.mobile-xs {
          width: 100%;
        }
      }
    }

    .input-half {
      @include styles.desktop {
        flex-direction: column;
      }

      > div:first-child {
        @include styles.desktop {
          margin: 0px 0px 40px;
        }
      }

      > div:last-child {
        @include styles.desktop {
          margin-left: 0;
        }
      }
    }

    input {
      @include styles.mobile-xs {
        width: 100%;
      }
    }

    select {
      @include styles.mobile-xs {
        width: 100%;
      }
    }
  }
}
