<div class="order-info-row-driver" *ngIf="orderData">

  <div class="edit-btn-wrapper">
    <div
      *ngIf="orderData.status < 2 && orderData.type === 'FTL'"
      (click)="editOrder.emit()"
      class="edit-order-btn"
    >
      {{ 'history.history_detail.edit_order' | translate }}
    </div>
  </div>
  <div class="status-card">
    <div class="info-driver-container">
      <div class="avatar-wrapper">
        <app-simple-avatar 
          [picture]="orderData.driver?.thumbnail || orderData.driver?.profile_picture?.thumbnail">
        </app-simple-avatar>
      </div>
      <p class="driver-name">{{orderData['driver']?.nickname}}</p>

      <span *ngIf="orderData.status == 4">
        <p class="estimated-info">
          {{'history.order-status.estimated-dropoff-time' | translate}}
        </p>
        <div>
          {{calculateETA | date: 'dd/MM/YYY HH:mm'}}
        </div>
      </span>

    </div>

    <!-- pickup timeline -->
    <div *ngIf=" title == 'pickup'" class="info-order-status-container">

      <p *ngFor="let status of orderData.status_list?.pickup" class="order-status">
        <span [ngClass]="status.active ? '' : 'no-active'">
          <img *ngIf="!status.active" src="../../../../../assets/images/history/location-point.svg" alt="">
          <i *ngIf="status.active" class="icon icon-check"></i>
        </span>
        {{ status.status }}
      </p>
    </div>

    <!-- dropoff timeline -->
    <div *ngIf=" title != 'pickup' " class="info-order-status-container">
      <p *ngFor="let status of orderData.status_list?.dropoff" class="order-status">
        <span [ngClass]="status.active ? '' : 'no-active'">
          <img *ngIf="!status.active" src="../../../../../assets/images/history/location-point.svg" alt="">
          <i *ngIf="status.active" class="icon icon-check"></i>
        </span>
        {{ status.status }}
      </p>

    </div>
  </div>

  <div class="truck-trailer-info" [ngClass]="{'border-bottom': (! (orderData.status == 2 && title == 'pickup') || (orderData.status !== 4 && title!=='pickup')) && orderData.status <6}">
    <div class="truck-info" *ngIf="orderData.truck">
      <i class="icon icon-fleet"></i>
      <span class="label">
        {{ 'history.history_detail.truck' | translate}}
        <span class="dash">-</span>
      </span>
      {{orderData.truck.attributes.plates}}
    </div>
    <div class="trailer-info" *ngIf="orderData.trailer">
      <i class="icon icon-trailer"></i>
      <span class="label">
        {{ 'history.history_detail.trailer' | translate}}
        <span class="dash">-</span>
      </span>
      {{ orderData.trailer.attributes.plates }}
    </div>
  </div>
  <span *ngIf="orderData.status < 6">
    <!--pickup track btn-->
    <div class="track-button-container" *ngIf="title=='pickup' ">
      <button class="track-button" [disabled]="canTrack()" (click)="sendIdForTrackingOrder()">
        {{ 'history.history_detail.btn_track' | translate }}
      </button>
    </div>
  </span>
</div>
