@use 'src/styles.scss';

$border: 1px solid #1C232A;

.order-info-row-driver {
  background: #0B1117;
  box-shadow: 0px 8px 10px #040B11, inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
  border-radius: 10px;
  position: relative;

  .info-order-status-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;

    & p {
      margin-bottom: 20px;
      position: relative;
      display: flex;
      align-items: center;
      span {
        margin-right: 18px;
        z-index: 1;

        & img {
          width: 25px;
          height: 25px;
          position: relative;
          left: -5px;
        }

        & i{
          color: black;
          font-size: 8px;
          background: linear-gradient(180deg, #FFD200 0%, #FFE000 100%);
          box-shadow: inset 0px -2px 4px #A27900, inset 2px 2px 4px #FED869;
          border-radius: 10px;
          padding: 5px 3px 4px 3px;
        }
      }

      span.no-active {
        margin-right: 10px;
      }
    }

    & p:not(:last-child){
        span:after {
          content: '';
          position: absolute;
          border-left: 3px solid #1C232A;
          left: 7px;
          width: 10px;
          height: 40px;
          bottom: -30px;
          z-index: -1;
        }
      }
  }

  .info-driver-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 37px;
    min-width: 168px;
    text-align: center;
    i {
      font-size: 45px;
      margin-bottom: 14px;
    }

    & .driver-name,
      .date-info {
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.5px;
        text-align: center;
        color: styles.$white;
      }

    & .estimated-info {
      font-family: 'Avenir';
      font-style: normal;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      color: styles.$light-color;
      font-weight: 100;
      margin: 3px 0px;
    }
  }

  .track-button-container {
    width: 100%;
    height: 38px;
    bottom: 0px;

    & .track-button {
      width: 100%;
      height: 100%;
      background: #FFE000;
      border: none;
      -webkit-border-bottom-right-radius: 8px;
      -webkit-border-bottom-left-radius: 8px;
      -moz-border-radius-bottomright: 8px;
      -moz-border-radius-bottomleft: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

      &[disabled]{
        color: #313336;
        cursor: unset;
        pointer-events: none;
        background: transparent;
      }
    }
  }


  .avatar-wrapper{
    margin-bottom: 14px;
  }

  .avatar{
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 11px;

  }

  .status-card{
    display: flex;
    min-height: 240px;
  }
}

.truck-trailer-info{
  border-top: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 10px;


  &.border-bottom{
    border-bottom: $border;
  }

  >div{
    flex-grow: 1;
    margin: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    .label{
      color: #C1C7D0;
      font-family: 'Avenir-Light';
      font-size: 14px;

      .dash{
        margin: 0px 6px;
      }

    }
    .icon{
      font-size: 30px;
      margin-right: 9px;
    }
    &:not(:last-child){
      border-right: $border ;
    }
  }
}

.edit-btn-wrapper {
  display: flex;
  justify-content: flex-end;

  .edit-order-btn {
    text-align: right;
    padding-top: 30px;
    padding-right: 8px;
    color: #FFE000;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    justify-content: flex-end;
    text-transform: uppercase;
    cursor: pointer;
  }
}
