<div class="no-orders-yet">

  <div class="no-orders-img-container">
    <img 
      src="../../../../../assets/images/history/no-orders-yet.svg" 
      alt="no orders yet">
  </div>

  <div class="no-orders-title">

    {{ translations.title }}
  </div>

  <div class="no-orders-body">
    {{ translations.body }}
  </div>

  <div class="no-orders-call-to-action">
    <button 
      mat-raised-button
      routerLink="/home"
      class="bego-btn yellow thick-btn"
      routerLink="/home"
       >
        {{ 'history.no-orders-yet.call-to-action' | translate }}
    </button>
  </div>
  
</div>
