<form [formGroup]="firstFormGroup" class="transport-component">
  <div class="grid container-row">
    <!-- <mat-slide-toggle formControlName="transp_internac">{{
      "invoice.transporte.transporte-internacional" | translate
    }}</mat-slide-toggle> -->
    <div class="transport-button">
      <button mat-icon-button class="bego-icon" type="button">
        <bego-icon icon="begon-truck"></bego-icon>
      </button>
      <button mat-icon-button class="bego-icon" type="button" disabled>
        <bego-icon icon="begon-ship"></bego-icon>
      </button>
      <button mat-icon-button class="bego-icon" type="button" disabled>
        <bego-icon icon="begon-airplane"></bego-icon>
      </button>
      <button mat-icon-button class="bego-icon" type="button" disabled>
        <bego-icon icon="begon-train"></bego-icon>
      </button>
    </div>
    <mat-button-toggle-group #group="matButtonToggleGroup" class="container-row-b" formControlName="transp_internac">
      <mat-button-toggle mat-fab value="No" aria-label="Nacional"> Nacional </mat-button-toggle>

      <mat-button-toggle mat-fab value="Sí" aria-label="Internacional"> Internacional </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngIf="firstFormGroup.get('transp_internac').value === 'Sí'">
    <div class="grid">
      <mat-form-field appearance="outline" class="brand-field-1">
        <mat-label>{{ 'invoice.transporte.pais-origen-destino' | translate }}</mat-label>
        <mat-select class="disable-custom-format" formControlName="pais_origen_destino">
          <mat-option [value]="country.code" *ngFor="let country of countries">
            {{ country.code }} - {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="brand-field-1">
        <mat-label>{{ 'invoice.transporte.via-entrada' | translate }}</mat-label>
        <mat-select class="disable-custom-format" formControlName="via_entrada_salida">
          <mat-option [value]="option.clave" *ngFor="let option of ingresoSalidaPais">
            {{ option.clave }} - {{ option.descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid">
      <mat-form-field appearance="outline" class="brand-field-1">
        <mat-label>{{ 'invoice.transporte.movimiento-mercancia' | translate }}</mat-label>
        <mat-select class="disable-custom-format" formControlName="entrada_salida_merc">
          <mat-option value="Entrada">{{ 'invoice.transporte.movimiento-mercancia-entrada' | translate }}</mat-option>
          <mat-option value="Salida">{{ 'invoice.transporte.movimiento-mercancia-salida' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="brand-field-1">
        <mat-label>{{ 'invoice.transporte.regimen_aduanero' | translate }}</mat-label>
        <mat-select class="disable-custom-format" formControlName="regimen_aduanero">
          <ng-container *ngFor="let option of regimenesAduaneros">
            <mat-option
              [value]="option.clave"
              *ngIf="
                option.impo_expo.toLowerCase().includes(firstFormGroup.get('entrada_salida_merc')?.value?.toLowerCase())
              ">
              {{ option.clave }} - {{ option.descripcion }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field> -->
    </div>
    <!-- <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>Total Distancia Recorrida</mat-label>
      <input
        matInput
        name="Distancia"
        placeholder="0"
      />
    </mat-form-field> -->
  </div>

  <div class="grid" *ngIf="firstFormGroup.value.transp_internac === 'Sí'">
    <mat-form-field>
      <!-- <mat-label>Regimenes Aduaneros</mat-label> -->
       <div class="title">Regimenes Aduaneros</div>
      <input matInput formControlName="regimenes_aduaneros" class="hide" />
      <div *ngIf="!firstFormGroup.get('entrada_salida_merc').value">Seleccione el movimiento de mercancia</div>
      <app-regimenes-aduaneros
        *ngIf="firstFormGroup.get('entrada_salida_merc').value"
        [initialValue]="selectedCustomsRegime"
        [regimes_list]="regimenesAduaneros"
        [entrada_salida_merc]="firstFormGroup.get('entrada_salida_merc').value"
        (regimeHasChanged)="firstFormGroup.get('regimenes_aduaneros').setValue($event)"></app-regimenes-aduaneros>
    </mat-form-field>
  </div>

  <div class="grid" *ngIf="cartaPorteType === 'autotransporte'">
    <app-autotransporte [subtiposRemolques]="subtiposRemolques" [info]="autotransportesInfo"></app-autotransporte>
  </div>
  <div class="grid" *ngIf="cartaPorteType === 'maritimo'">
    <app-maritimo></app-maritimo>
  </div>
  <div class="grid" *ngIf="cartaPorteType === 'aereo'">
    <app-aereo></app-aereo>
  </div>
  <div class="grid" *ngIf="cartaPorteType === 'ferroviario'">
    <app-ferroviario></app-ferroviario>
  </div>
  <div class="grid">
    <button mat-button matStepperNext>
      {{ 'invoice.cp-page.siguiente' | translate }}
    </button>
  </div>
</form>
