@use '@angular/material' as mat;

.mat-mdc-unelevated-button.brand-btn-1 {
  background: linear-gradient(180deg, #080f15 0%, #171d23 100%) !important;
  border: 3px solid #10161c;
  box-shadow: inset 3px 3px 8px 3px #111416;
  border-radius: 8px;

  @include mat.button-overrides((
    filled-label-text-color: #c1c7d0,
    filled-disabled-label-text-color: #494c50,
    filled-label-text-weight: 600,
    filled-label-text-size: 14px,
    filled-label-text-tracking: normal,
  ));

  &:not(.mat-mdc-button-disabled):hover {
    outline: 1px solid #ffe000;
  }
}

.mat-mdc-unelevated-button.brand-btn-2 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px #ffea52, inset -4px -4px 4px #e1c600;
  border: 2px solid #ffe000;
  border-radius: 8px;

  @include mat.button-overrides((
    filled-container-color: #ffe000,
    filled-label-text-color: #040b11,
    filled-disabled-label-text-color: #494c50,
    filled-label-text-weight: 600,
    filled-label-text-size: 14px,
    filled-label-text-tracking: normal,
  ));

  &.mat-mdc-button-disabled {
    border-color: #10161c;
    box-shadow: inset 3px 3px 8px 3px #111416;
    background: linear-gradient(180deg, #080f15 0%, #171d23 100%) !important;
  }
}

.mat-mdc-mini-fab.brand-btn-2 {
  background: #ffe000;
  color: #040b11;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  mat-icon {
    height: auto;
    font-size: 11px;
  }
}

.mat-mdc-unelevated-button.brand-btn-error {
  background: #fa3c00;
  border-radius: 8px;
  color: #ededed;
  font-size: 14px;
  font-weight: 600;
}

.mat-form-field-appearance-outline.brand-field-1 {
  --mdc-outlined-text-field-focus-outline-color: #fe0;
  --mdc-outlined-text-field-label-text-size: 14px;
  --mdc-filled-text-field-input-text-placeholder-color: #70757b;

  .mat-mdc-input-element::placeholder,
  mat-select .mat-mdc-select-placeholder {
    color: #70757b;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-family: 'Avenir';
  }

  input.mat-mdc-input-element,
  .mat-mdc-select-value {
    caret-color: #ededed;
    color: #ededed;
    font-size: 15px;
  }

  mat-label,
  .mat-radio-label .mat-radio-label-content {
    font-family: 'Avenir';
    color: #c1c7d0;
  }

  .mat-mdc-form-field-infix {
    --mat-form-field-container-height: auto;

    width: auto;
    padding: 0.4em 0 0.6em;
    display: flex;
  }

  &.mat-form-field-hide-placeholder .mat-form-field-empty.mat-form-field-label {
    top: 1.28em;

    mat-label {
      color: #70757b;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      font-family: 'Avenir';
    }
  }

  .mdc-text-field--outlined:first-child {
    border: 1px solid #1c232a;
    box-shadow: inset -2px -2px 4px #1c232a, inset 4px 4px 4px #02070b;
    border-radius: 4px;
  }

  .mdc-notched-outline {
    display: flex !important;
  }

  .mat-form-field-outline-thick {
    color: #ffe000cc;

    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border-width: 1px;
    }
  }

  .mat-form-field-suffix button[matsuffix] {
    color: #ededed;
  }

  .mat-mdc-select-disabled .mat-mdc-select-arrow,
  .mat-mdc-select-arrow {
    color: #63686e;
  }

  &.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
    color: #ffe000;
  }

  &.mat-form-field-disabled {
    .mat-form-field-label mat-label {
      opacity: 0.4;
    }

    .mat-form-field-appearance-outline:first-child {
      box-shadow: none;
    }

    input.mat-mdc-input-element,
    .mat-mdc-select-value {
      opacity: 0.4;
    }

    .mat-mdc-select-disabled .mat-mdc-select-arrow,
    .mat-mdc-select-arrow {
      opacity: 0.4;
    }

    .mat-form-field-appearance-outline:first-child {
      opacity: 0.4;
    }
  }

  &[readonly='true'] {
    .mat-form-field-appearance-outline {
      display: none;
    }

    .mat-mdc-select .mat-mdc-select-arrow {
      visibility: hidden;
    }
  }

  .brand-icon-help {
    display: none;
    position: absolute;
    // right: -5px;
    // top: -4px;
    right: -1px;
    top: 2px;
  }

  &.mat-form-field-type-mat-select {
    .brand-icon-help {
      right: 21px;
      top: 3px;
    }
  }

  &:hover,
  &.mat-focused {
    .brand-icon-help {
      display: inline-block;
    }
  }
}

.mat-mdc-menu-panel.brand-menu-1 {
  background: #0a0f14;
  box-shadow: 0px 10px 10px #040b11, inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
  border-radius: 8px;

  .mat-mdc-menu-item {
    color: #ededed;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.5px;

    .mat-icon {
      font-size: 20px;
      color: #ededed;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #1c232a;
    }

    &:hover:not([disabled]) {
      background: rgba(255, 255, 255, 0.03);
    }
  }
}

.mat-menu-panel.brand-menu-2 {
  border-radius: 26px;
  position: relative;
  padding: 5px 8px;
  background: linear-gradient(to right, #191c1e 0%, #333537 25%, #5f6162 50%, #565757 75%, #343536 100%);
  width: 193px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1.5px);
    height: calc(100% - 1.5px);
    background-color: #0d0f11;
  }

  .mat-menu-item {
    color: rgba(255, 255, 255, 0.54);
    font-size: 14px;
    font-weight: 350;
    line-height: 19.12px;
    letter-spacing: 0.5px;

    &:not(:last-child) {
      // border-bottom: 1px solid #1c232a;
    }

    &:hover:not([disabled]) {
    }
  }
}

.mat-tooltip.brand-tooltip-1 {
  padding: 12px 14px;
  color: #ededed;
  background: linear-gradient(270deg, #090d12 5.77%, #0a0f14 100%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 70%), inset 0px -4px 4px rgb(0 0 0 / 25%), inset 0px 4px 6px #1c232a;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 300;
  white-space: pre-line;
  letter-spacing: 0.9px;

  &::first-line {
    font-weight: 500;
  }
}

.mat-tooltip.brand-tooltip-2 {
  padding: 12px 14px;
  color: #ededed;
  background: linear-gradient(270deg, #090d12 5.77%, #0a0f14 100%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 70%), inset 0px -4px 4px rgb(0 0 0 / 25%), inset 0px 4px 6px #1c232a;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 300;
  white-space: pre-wrap;
  letter-spacing: 0.9px;
}

.mat-progress-bar.brand-progress-bar-1 {
  .mat-progress-bar-background {
    fill: #332c11;
  }

  .mat-progress-bar-buffer {
    background-color: #332c11;
  }

  .mat-progress-bar-fill::after {
    background-color: #ffe000;
  }
}

.mat-progress-spinner.brand-spinner-1 {
  circle {
    stroke: #040b11;
  }
}

.mat-progress-spinner.brand-spinner-2 {
  circle {
    stroke: #ffe000;
  }
}

ngx-mat-select-search.brand-select-search-1 {
  .mat-mdc-select-search-input::placeholder {
    color: #54575c;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir';
  }
}

.mat-mdc-option.brand-option-1 {
  height: auto;
  padding: 8px 16px;
  border-left: 1px solid transparent;

  .mdc-list-item__primary-text {
    display: inline-flex;
    align-items: center;
    font-size: 15px;

    > img {
      display: block;
      width: 40px;
      height: 40px;
      min-width: 40px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      background-color: rgba(255, 255, 255, 0.08);
    }

    > div {
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      line-height: normal;
      color: #ededed;

      .sublabel {
        opacity: 0.7;
        font-size: 0.9em;
      }
    }
  }

  &.mat-mdc-option-active {
    background: rgba(255, 255, 255, 0.03);
    border-left: 1px solid #ffe000;
  }

  &[disabled] {
    padding-top: 0;
    padding-bottom: 0;
    color: rgba(0, 0, 0, 0.38);
    font-size: 14px;
    background-color: transparent;
  }
}

.cdk-overlay-backdrop.brand-dialog-1 {
  &.cdk-overlay-backdrop-showing {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }

  & + * {
    .mat-mdc-dialog-container .mat-mdc-dialog-surface {
      padding: 32px 24px 32px;
      background: #0a0f14;
      box-shadow: inset 4px 4px 5px #1a1e24, inset -4px -4px 4px #050d14;
      border-radius: 8px 8px 24px 8px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)) drop-shadow(0px -8px 8px rgba(0, 0, 0, 0.5));
      overflow: hidden;
    }
  }

  &.no-padding {
    & + * {
      .mat-mdc-dialog-container .mat-mdc-dialog-surface {
        padding: 0px;
        border-radius: 8px;
      }
    }
  }
  &.full-visible {
    & + * {
      .mat-mdc-dialog-container .mat-mdc-dialog-surface {
        border-radius: 30px;
        overflow: visible;
      }
    }
  }
}

.cdk-overlay-backdrop.brand-dialog-map {
  &.cdk-overlay-backdrop-showing {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }

  & + * {
    mat-mdc-dialog-container .mat-mdc-dialog-surface {
      padding: 0;
      overflow: hidden;
      background: #0a0f14;
      box-shadow: inset 4px 4px 5px #1a1e24, inset -4px -4px 4px #050d14;
      border-radius: 8px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)) drop-shadow(0px -8px 8px rgba(0, 0, 0, 0.5));
    }
  }
}

.cdk-overlay-backdrop.brand-ui-dialog-1 {
  &.cdk-overlay-backdrop-showing {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }

  & + * {
    mat-mdc-dialog-container .mat-mdc-dialog-surface {
      padding: 0;
      background: transparent;
      box-shadow: none;
      border-radius: 50px;
      filter: none;
      width: 566px;
    }
  }
}

.cdk-overlay-backdrop.brand-ui-dialog-2 {
  &.cdk-overlay-backdrop-showing {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }

  & + * {
    mat-mdc-dialog-container .mat-mdc-dialog-surface {
      padding: 0;
      background: transparent;
      box-shadow: none;
      border-radius: 50px;
      filter: none;

      app-share-report-modal bego-modal {
        ::ng-deep {
          .modal {
            width: 667px !important;
            height: 521px !important;
          }
        }
      }
    }
  }
}

.brand-table-1 {
  --mat-table-background-color: initial;

  width: 100%;
  box-shadow: none;

  .mat-header-cell,
  .mat-cell,
  .mat-mdc-header-cell,
  .mat-mdc-cell {
    color: #ededed;
  }

  .mat-header-cell,
  .mat-mdc-header-cell {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    > div {
      justify-content: center;
    }
  }

  .mat-cell,
  .mat-mdc-cell {
    border: none;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    background: none;
  }

  thead th {
    border-bottom-color: #1c232a;
  }

  tbody tr:nth-child(2n) {
    background: linear-gradient(
      90.03deg,
      rgba(13, 18, 23, 0.4) 0.86%,
      rgba(35, 37, 40, 0.163875) 51.72%,
      rgba(83, 88, 94, 0.08) 99.51%
    );
    box-shadow: 0px 2px 16px 0px rgba(4, 4, 4, 1);
  }
}

mat-snack-bar-container.brand-snackbar-1 {
  --mdc-snackbar-container-color: none;
  --mdc-snackbar-supporting-text-color: #fe0;

  .mdc-snackbar__surface {
    background: linear-gradient(180deg, #080f15 0%, #171d23 100%);
    border: 3px solid #10161c;
    box-shadow: inset 3px 3px 8px 3px #111416;
  }
}

mat-snack-bar-container.brand-snackbar-2 {
  --mdc-snackbar-supporting-text-color: #040b11;
  --mdc-snackbar-supporting-text-color: bold;

  .mdc-snackbar__surface {
    background: #ffee00;
    border: 2px solid #ffee00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px #ffea52, inset -4px -4px 4px #e1c600;
    border-radius: 8px;
  }
}

.brand-icon-help {
  .mat-icon {
    font-size: 17px;
    color: #c5ccd0;
    width: 16px;
    height: 16px;
    padding: 0;
    cursor: pointer;
  }
}

// Utils

.radius-s {
  border-radius: 24px 0 24px 0 !important;
}

.radius-30 {
  border-radius: 30px !important;
}

.brand-filter-1 {
  vertical-align: middle;
  filter: invert(78%) sepia(16%) saturate(7050%) hue-rotate(1deg) brightness(106%) contrast(103%);
}
