@use 'src/styles.scss';

#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: styles.$bego-menu-width;
  transition: margin-left 0.5s;

  router-outlet {
    display: none;
  }

  > ::ng-deep app-tracking {
    height: 100px !important;
  }
  > ::ng-deep app-contact-support.ng-star-inserted {
    flex: 1;
  }

  &.full-height {
    height: 100%;

    .full-height-child {
      flex-basis: 100%;
      overflow: hidden;
    }
  }
}

app-tracking {
  height: 100px !important;
}

#container.open {
  margin-left: styles.$bego-menu-width-open;
}
