<div class="app-factura-direccion-input">
  <div class="grid">
    <mat-form-field appearance="outline" class="brand-field-1" [attr.readonly]="readonly">
      <mat-label>Nombre Sucursal</mat-label>
      <input
        matInput
        name="nombre"
        [ngModel]="vm.direccion?.nombre"
        (ngModelChange)="vm.direccion.nombre = $event"
        [placeholder]="!readonly ? 'Ingresa el nombre de la Dirección' : '- -'"
        [readonly]="readonly"
        autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1" [attr.readonly]="readonly">
      <mat-label>Calle</mat-label>
      <input
        matInput
        name="calle"
        [ngModel]="vm.direccion?.calle"
        (ngModelChange)="vm.direccion.calle = $event"
        [placeholder]="!readonly ? 'Ingresa la calle' : '- -'"
        [readonly]="readonly"
        autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1" [attr.readonly]="readonly">
      <mat-label>No. Exterior</mat-label>
      <input
        matInput
        name="numero"
        [ngModel]="vm.direccion?.numero"
        (ngModelChange)="vm.direccion.numero = $event"
        [placeholder]="!readonly ? 'Ingresa el número exterior' : '- -'"
        [readonly]="readonly"
        autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1" [attr.readonly]="readonly">
      <mat-label>No. Interior</mat-label>
      <input
        matInput
        name="interior"
        [ngModel]="vm.direccion?.interior"
        (ngModelChange)="vm.direccion.interior = $event"
        [placeholder]="!readonly ? 'Ingresa el número interior' : '- -'"
        [readonly]="readonly"
        autocomplete="off" />
    </mat-form-field>

    <!-- #region PAIS -->
    <mat-form-field appearance="outline" class="brand-field-1" [attr.readonly]="readonly">
      <mat-label>País</mat-label>

      <mat-select
        name="pais"
        [ngModel]="vm.direccion?.pais"
        (ngModelChange)="direccionEmitter.next(['pais:select', (vm.direccion.pais = $event)])"
        class="disable-custom-format">
        <mat-option>
          <ngx-mat-select-search
            ngModel
            (ngModelChange)="searchCountries($event)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let country of filteredCountries">
          <mat-option [value]="country.code" class="brand-option-1">
            {{ country.code }} - {{ country.name }}
          </mat-option>
        </ng-container>
      </mat-select>

      <mat-progress-bar
        [style.display]="vm.paises == null ? 'block' : 'none'"
        style="bottom: 0px; position: absolute; height: 2px"
        class="brand-progress-bar-1"
        mode="indeterminate"></mat-progress-bar>
    </mat-form-field>

    <!-- #region ESTADO -->
    <mat-form-field appearance="outline" class="brand-field-1" [attr.readonly]="readonly">
      <mat-label>Estado</mat-label>

      <mat-select
        name="estado"
        [ngModel]="vm.direccion?.estado"
        (ngModelChange)="direccionEmitter.next(['estado:select', (vm.direccion.estado = $event)])"
        class="disable-custom-format"
        [placeholder]="
          !vm.direccion?.pais
            ? 'Selecciona un país'
            : vm.estados == null
            ? 'Cargando...'
            : !readonly
            ? 'Seleciona una opción'
            : '- -'
        ">
        <mat-option>
          <ngx-mat-select-search
            ngModel
            (ngModelChange)="searchStates($event)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let state of filteredStates">
          <mat-option [value]="state.clave" class="brand-option-1"> {{ state.clave }} - {{ state.nombre }} </mat-option>
        </ng-container>
      </mat-select>

      <mat-progress-bar
        [style.display]="vm.estados == null ? 'block' : 'none'"
        style="bottom: 0px; position: absolute; height: 2px"
        class="brand-progress-bar-1"
        mode="indeterminate"></mat-progress-bar>
    </mat-form-field>
    <!-- #endregion ESTADO -->

    <!-- #region MUNICIPIO -->
    <mat-form-field appearance="outline" class="brand-field-1" [attr.readonly]="readonly">
      <mat-label>Municipio</mat-label>

      <mat-select
        name="municipio"
        [ngModel]="vm.direccion?.municipio"
        (ngModelChange)="
          vm.direccion.municipio = $event; vm.direccion.cp = ''; vm.direccion.colonia = ''; vm.colonias = []
        "
        class="disable-custom-format"
        [placeholder]="
          !vm.direccion?.estado
            ? 'Selecciona un estado'
            : vm.municipios == null
            ? 'Cargando...'
            : !readonly
            ? 'Seleciona una opción'
            : '- -'
        ">
        <mat-option>
          <ngx-mat-select-search
            ngModel
            (ngModelChange)="searchMunicipalities($event)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let municipality of filteredMunicipalities">
          <mat-option [value]="municipality.clave" class="brand-option-1">
            {{ municipality.clave }} - {{ municipality.nombre }}
          </mat-option>
        </ng-container>
      </mat-select>

      <button
        [style.display]="vm.direccion?.municipio && !readonly ? 'block' : 'none'"
        mat-icon-button
        matSuffix
        (click)="
          vm.direccion.municipio = '';
          vm.direccion.cp = '';
          vm.direccion.colonia = '';
          vm.colonias = [];
          $event.stopPropagation()
        ">
        <mat-icon>close</mat-icon>
      </button>

      <mat-progress-bar
        [style.display]="vm.municipios == null ? 'block' : 'none'"
        style="bottom: 0px; position: absolute; height: 2px"
        class="brand-progress-bar-1"
        mode="indeterminate"></mat-progress-bar>
    </mat-form-field>
    <!-- #endregion MUNICIPIO -->

    <!-- #region CODIGO_POSTAL -->
    <mat-form-field appearance="outline" class="brand-field-1" [attr.readonly]="readonly">
      <mat-label>Código Postal</mat-label>
      <input
        matInput
        name="cp"
        [ngModel]="vm.direccion?.cp"
        (ngModelChange)="direccionEmitter.next(['cp:input', (vm.direccion.cp = $event)])"
        [placeholder]="!readonly ? 'Ingresa el Codigo Postal' : '- -'"
        [readonly]="readonly"
        autocomplete="off" />
    </mat-form-field>
    <!-- #endregion CODIGO_POSTAL -->

    <mat-form-field appearance="outline" class="brand-field-1" [attr.readonly]="readonly">
      <mat-label>Colonia</mat-label>

      <mat-select
        name="colonia"
        [ngModel]="vm.direccion?.colonia"
        (ngModelChange)="vm.direccion.colonia = $event"
        class="disable-custom-format"
        [placeholder]="
          !vm.direccion?.cp || vm.direccion?.cp.length < 5
            ? 'Ingresa un código postal'
            : vm.colonias == null
            ? 'Cargando...'
            : !readonly
            ? 'Seleciona una opción'
            : '- -'
        ">
        <mat-option>
          <ngx-mat-select-search
            ngModel
            (ngModelChange)="searchMunicipalities($event)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let suburb of filteredSuburbs">
          <mat-option [value]="suburb.clave" class="brand-option-1">
            {{ suburb.clave }} - {{ suburb.nombre }}
          </mat-option>
        </ng-container>
      </mat-select>

      <button
        [style.display]="vm.direccion?.colonia && !readonly ? 'block' : 'none'"
        mat-icon-button
        matSuffix
        (click)="vm.direccion.colonia = ''; $event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>

      <mat-progress-bar
        [style.display]="vm.colonias == null ? 'block' : 'none'"
        style="bottom: 0px; position: absolute; height: 2px"
        class="brand-progress-bar-1"
        mode="indeterminate"></mat-progress-bar>
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1" [attr.readonly]="readonly">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        name="email"
        [ngModel]="vm.direccion?.email"
        (ngModelChange)="vm.direccion.email = $event"
        [placeholder]="!readonly ? 'Ingresa el correo electrónico' : '- -'"
        [readonly]="readonly"
        autocomplete="off" />

      <button
        [style.display]="vm.direccion?.email && !readonly ? 'block' : 'none'"
        mat-icon-button
        matSuffix
        (click)="vm.direccion.email = ''; $event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
