<div>
  <bego-ticket [removeHeaderSeparator]="true">
    <div centeredHeader>
      <div class="ticket-row header">
        <div class="title">
          {{ 'checkout.title-invoice' | translate }}
        </div>
      </div>
    </div>

    <div body>
      <form [formGroup]="receiverForm">
        <!-- address -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-address' | translate }}
          </div>
          <div class="address">
            <bego-address-autocomplete
              [address]="addressName"
              (addressChange)="setAddressName($event)"
              (placeIdChange)="setPlaceId($event)">
            </bego-address-autocomplete>
          </div>
        </div>

        <!-- company -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-company' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow">
              <input matInput (focusout)="emitreceiverData()" formControlName="company" />
            </mat-form-field>
          </div>
        </div>

        <!-- rfc -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-rfc' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow">
              <input matInput (keyup)="validateRFC()" formControlName="rfc" />
            </mat-form-field>
            <p class="error" *ngIf="!validRFC && receiverForm.controls.rfc.value">
              {{ 'checkout.invalid_rfc' | translate }}
            </p>
          </div>
        </div>

        <!-- cfdi -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-cfdi' | translate }}
          </div>
          <div>
            <mat-form-field class="small-input-inner-shadow">
              <mat-select formControlName="cfdi" (valueChange)="updateCFDI($event)">
                <mat-option value="select-document" [disabled]="true">
                  {{ 'checkout.select-cfdi' | translate }}
                </mat-option>

                <mat-option *ngFor="let option of CFDIs" [value]="option.code">
                  {{ option.code }} - {{ option.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- tax_regime -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-tax_regime' | translate }}
          </div>
          <div>
            <mat-form-field class="small-input-inner-shadow">
              <mat-select formControlName="taxRegime" (valueChange)="updateTaxRegime($event)">
                <mat-option value="select-document" [disabled]="true">
                  {{ 'checkout.select-tax' | translate }}
                </mat-option>

                <mat-option *ngFor="let j of tax_regimes" [value]="j.code">
                  {{ j.code }} - {{ j.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </bego-ticket>
</div>
