.ticket-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align:left;
  font-size: 18px;
  padding: 17px 0px;
  color: #ededed;

  .error{
    display: flex;
    justify-content: flex-end;
    color: red;
    font-size: small;
  }

  mat-select{
    background-color: #091016;
    box-shadow: none;
}
}

.header{
  position: absolute;
  top: -35px;
  width: 100%;
}
