@use 'src/styles.scss';

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  color: styles.$lighter-color;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  height: calc(100vh - 104px);

  .container-app-threads {
    flex-basis: 100%;
    overflow-y: scroll;
    position: relative;
    direction: rtl;
  }

  main {
    @include styles.flexbox-align(row, center, center);
    height: 100%;
    direction: ltr;
  }
}

.conversation-container-component {
  height: 100%;
  width: 100%;
}

.open-history,
.closed-history {
  position: absolute;
  top: 50%;
  right: 0;
  width: 21.5px;
  height: 125.5px;
  z-index: 1;
}

.open-history {
  background: url('../../../assets/images/chibpt/open-history.png');
}

.closed-history {
  background: url('../../../assets/images/chibpt/open-yellow.png');
}

app-history-chibpt {
  margin-block-end: 44px;
  margin-inline-end: 13px;
  width: 500px;
  transition: all 0.3s ease-in-out;
  overflow-y: hidden;
  overflow-x: hidden;
}

app-history-chibpt.hide-history-app {
  width: 0;
  margin: 0px;
  transition: all 0.3s ease-in-out;
}
