@use "../../styles/colors";
@use "../../styles/font";
@use "../../styles/variables";

.factura-table-wrapper {
  padding-left: 0;
  padding-right: 0;
  margin: 0 16px 32px 16px;
  background: #0a0f14;

  &__header {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: variables.$small) {
      padding: 0 16px;
    }
  }

  &__title {
    margin: 0;
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    color: inherit;
  }

  &__search-input {
    font-size: font.$fs-normal;
    height: 32px;
    border: 0;
    border-bottom: 1px solid colors.$grey;
    outline: none;

    @media (max-width: variables.$small) {
      width: 150px;
    }

    &:focus {
      border-bottom: 2px solid colors.$blue;
    }
  }

  &__button {
    box-shadow: none;
    background-color: inherit;
    width: 46px;
    height: 46px;
    color: colors.$grey;

    &:hover {
      background-color: colors.$black-08;
      color: colors.$blue;
    }
  }
}

.factura-table {
  &__content {
    overflow-x: scroll;
    position: relative;
  }

  &__table {
  }

  &__table-checkbox {
    width: 32px;
    padding-left: 24px;
  }

  &__table-header {
    font-size: font.$fs-small;
    padding: 0 8px;
  }

  &__table-body {
    font-size: font.$fs-small;
    padding: 0 8px;
    text-align: center;
  }

  &__content-badge {
    width: fit-content;
    border-radius: 32px;
    color: colors.$white;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: font.$fw-lighter;
    line-height: 1.75;
    letter-spacing: 0.457px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__paginator {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    mat-label {
      margin-right: 1em;
    }
  }
}

.verified {
  color: #3cd4a0;
}

.unverified {
  color: #ff0f60;
}
