<mat-card class="factura-table-wrapper">
  <mat-card-content class="factura-table__content">
    <!-- <mat-progress-bar
      [style.display]="loading ? 'block' : 'none'"
      style="position: absolute; top: 54px; height: 2px"
      mode="indeterminate"
    ></mat-progress-bar> -->

    <table mat-table [dataSource]="dataSource" class="brand-table-1" matSort matSortStart="desc">
      <!-- Serie -->
      <ng-container matColumnDef="serie">
        <th mat-header-cell *matHeaderCellDef class="factura-table__table-header" mat-sort-header>
          {{ 'invoice.serie-table.serie' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="factura-table__table-body">
          {{ element.serie }}
        </td>
      </ng-container>

      <!-- Tipo de Comprobante -->
      <ng-container matColumnDef="comprobante">
        <th mat-header-cell *matHeaderCellDef class="factura-table__table-header" mat-sort-header>
          {{ 'invoice.serie-table.tipo-comprobante' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="factura-table__table-body">
          {{ element.tipo_comprobante }} - {{ element.tipo_comprobante_desc }}
        </td>
      </ng-container>

      <!-- Folio -->
      <ng-container matColumnDef="folio">
        <th mat-header-cell *matHeaderCellDef class="factura-table__table-header" mat-sort-header>
          {{ 'invoice.serie-table.folio' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="factura-table__table-body">
          {{ element.folio }}
        </td>
      </ng-container>

      <!-- use_for_automatic_stamp -->
      <ng-container matColumnDef="use_for_automatic_stamp">
        <th mat-header-cell *matHeaderCellDef class="factura-table__table-header" mat-sort-header>
          {{ 'invoice.serie-table.use_for_automatic_stamp' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="factura-table__table-body">
          <mat-icon *ngIf="element.use_for_automatic_stamp">check</mat-icon>
          <mat-icon *ngIf="!element.use_for_automatic_stamp">-</mat-icon>
        </td>
      </ng-container>

      <!-- Color -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef class="factura-table__table-header" mat-sort-header>
          {{ 'invoice.serie-table.color' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="factura-table__table-body">
          <mat-icon [ngStyle]="{ color: element.color }">lens</mat-icon>
          <div></div>
        </td>
      </ng-container>

      <!-- Logo -->
      <ng-container matColumnDef="logo">
        <th mat-header-cell *matHeaderCellDef class="factura-table__table-header center" mat-sort-header>
          {{ 'invoice.serie-table.logo' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="factura-table__table-body">
          <img src="{{ element.logo }}" alt="" width="50px" />
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="factura-table__table-header" mat-header-cell *matHeaderCellDef style="width: 50px"></th>
        <td class="factura-table__table-body" mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="brand-menu-1">
            <button mat-menu-item (click)="editSerie(element)">
              <mat-icon>edit</mat-icon>
              <span>{{ 'invoice.serie-table.editar' | translate }}</span>
            </button>
            <!-- <button mat-menu-item (click)="deleteSerie(element._id)">
              <mat-icon
                class="icon icon-trash1 icon-only"
                style="font-size: 18px"
              ></mat-icon>
              <span>{{ "invoice.serie-table.borrar" | translate }}</span>
            </button> -->
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>

  <!-- <div class="factura-table__paginator">
    <div>
      <mat-label>Table size</mat-label>
      <mat-form-field>
        <mat-select
          [(value)]="page.pageSize"
          (selectionChange)="pageChangeEmiter()"
        >
          <mat-option
            [value]="sizeOption"
            *ngFor="let sizeOption of sizeOptions"
            >{{ sizeOption }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <pagination-controls
      id="active"
      (pageChange)="pagination($event)"
    ></pagination-controls>
  </div> -->
</mat-card>
