<div class="investors-container">
  <!-- <div class="investors-background"><span>Investors</span></div> -->

  <h1 data-aos="fade-up">
    {{ 'about.investors.title-first-line' | translate }} <br />
    {{ 'about.investors.title-second-line' | translate }}
  </h1>

  <div class="investors-desktop">
    <div class="investors-flexbox" data-aos="fade-down" data-aos-delay="400">
      <div>
        <img src="assets/images/about/flexport.svg" />
      </div>
      <div>
        <img src="assets/images/about/ycombinator.svg" />
      </div>
      <div>
        <img src="assets/images/about/google.svg" />
      </div>
    </div>
  </div>

  <div
    class="embla investors-mobile"
    #embla
    data-aos="fade-down"
    data-aos-delay="400"
  >
    <div class="embla__viewport" #viewPort>
      <div class="embla__container">
        <!-- Slide 1 -->
        <div class="embla__slide">
          <div class="embla__slide__inner">
            <div class="investor-slide">
              <img src="assets/images/about/flexport.svg" />
            </div>
          </div>
        </div>
        <!-- // Slide 1 -->

        <!-- Slides 2 -->
        <div class="embla__slide">
          <div class="embla__slide__inner">
            <div class="investor-slide">
              <img src="assets/images/about/ycombinator.svg" />
            </div>
          </div>
        </div>
        <!-- // Slide 2 -->

        <!-- Slides 3 -->
        <div class="embla__slide">
          <div class="embla__slide__inner">
            <div class="investor-slide">
              <img src="assets/images/about/google.svg" />
            </div>
          </div>
        </div>
        <!-- // Slide 3 -->

        <!-- Slides 4 -->
        <div class="embla__slide">
          <div class="embla__slide__inner">
            <div class="investor-slide">Among others</div>
          </div>
        </div>
        <!-- // Slide 4 -->
      </div>
    </div>
  </div>
</div>
