@use 'src/styles.scss';

/****************************/
/********* Desktop **********/
/****************************/

.investors-mobile {
  display: none;

  @include styles.mobile {
    display: block;
  }
}

.investors-desktop {
  @include styles.mobile {
    display: none;
  }
}

.investors-container {
  position: relative;
  width: 100%;
  min-height: 400px;
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 150px;

  @include styles.mobile {
    margin-bottom: 0px;
  }

  h1 {
    color: styles.$lighter-color;
    font-family: Avenir;
    font-weight: 900;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;

    @include styles.fluid('font-size', styles.$mobile-xs, styles.$desktop-hd, 30px, 65px);
    @include styles.fluid('line-height', styles.$mobile-xs, styles.$desktop-hd, 38px, 68px);
    @include styles.mobile {
      margin-top: 85px;
    }
  }

  .investors-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 16em;
    font-weight: 900;
    color: #494c5033;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 266px;
  }

  .investors-flexbox {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 266px;

    > div {
      position: relative;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid grey;
    }

    > div:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 8px;
      height: 8px;
      right: -4.5px;
      background: styles.$lighter-color;
    }

    // > div:last-child {
    //   border: none;
    // }
  }
}

/**************************/
/********* Embla **********/
/**************************/

.embla {
  position: relative;
  padding: 20px 0px 0px 0px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 0px;
}

.embla__viewport {
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  min-width: 50%;
}

.embla__slide:nth-child(odd) {
  .investor-slide {
    border-right: 1px solid grey;
  }

  .investor-slide:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 8px;
    height: 8px;
    right: -4.5px;
    background: styles.$lighter-color;
  }
}

.embla__slide__inner {
  position: relative;
  overflow: visible;

  .investor-slide {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

    img {
      max-width: 100px;
    }
  }
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}
