<div class="step2">
  <h3 class="formgroup-title-required">{{  'orders.title-personal-info' | translate }}</h3>

  <form [formGroup]="form">
    <bego-input>
      <span>{{ 'orders.title-fullname' | translate }}*</span>
      <input uiInput type="text" [placeholder]="'orders.placeholder-fullname' | translate" formControlName="name" />
    </bego-input>
    <bego-input>
      <bego-phone-code-select
        theme="secondary"
        [selectedPhoneCode]="form.controls.phone_code.value"
        [flag]="form.controls.phone_flag.value"
        (sendValues)="updatePhoneCode($event)"></bego-phone-code-select>
      <input
        uiInput
        type="tel"
        [attr.mask]="form.controls.phone_flag.value"
        [placeholder]="'orders.placeholder-phone' | translate"
        formControlName="phone_number" />
    </bego-input>
    <bego-input>
      <span>Email*</span>
      <input uiInput type="email" placeholder="email@gmail.com" formControlName="email" />
    </bego-input>
    <div class="details">
      <span>{{ 'history.history_detail.aditional_details' | translate }}</span>
      <bego-text-area
        [customPlaceholder]="'orders.placeholder-notes' | translate"
        [defaultValue]="form.controls.aditional_details.value"
        (sendData)="updateDetails($event)"></bego-text-area>
    </div>
  </form>
</div>
