<div class="figura-container">
  <div class="add-figura-btn" (click)="addFigura()">
    <div class="icon icon-plus"></div>
    <span>Agregar</span>
  </div>
  <div class="figuras-wrapper">
    <div class="figuras-subwrapper" *ngFor="let figura of figuras; let i = index">
      <div>
        <span class="bubble">{{ i + 1 }}</span>
        <span>
          <button mat-icon-button class="btn-dark-bego icon icon-trash1" type="button" (click)="delete(i)"></button>
        </span>
        <span (click)="delete(i)">Eliminar</span>
      </div>
      <app-figura [figuraInfo]="figura"></app-figura>
      <mat-divider *ngIf="i != figuras.length - 1"></mat-divider>
    </div>
  </div>
  <!-- <button (click)="getFiguras()">Get Figuras</button>
  <button (click)="isValid()">Get Validity</button> -->
</div>

<div class="grid">
  <button mat-button matStepperPrevious>
    {{ 'invoice.cp-page.anterior' | translate }}
  </button>
</div>
