$icomoon-font-family: 'bego-icons-legacy';
$icomoon-font-path: '../../../assets/fonts/bego-icons';
$icon-invoice-order: '\e950';
$icon-invoice-cfdi: '\e951';
$icon-invoice-driver: '\e952';
$icon-invoice-user: '\e953';
$icon-pin: '\e94f';
$icon-cloud-upload: '\e942';
$icon-flag: '\e943';
$icon-drag: '\e944';
$icon-camera: '\e945';
$icon-comment: '\e946';
$icon-key: '\e947';
$icon-grid: '\e948';
$icon-avatar: '\e949';
$icon-lightning: '\e94a';
$icon-checked: '\e94b';
$icon-star: '\e94c';
$icon-trailer: '\e94d';
$icon-stretch: '\e94e';
$icon-trash1: '\e939';
$icon-image: '\e93a';
$icon-fleet: '\e93b';
$icon-calendar1: '\e93c';
$icon-truck: '\e93d';
$icon-ship: '\e93e';
$icon-airplane: '\e93f';
$icon-train: '\e940';
$icon-document: '\e935';
$icon-close: '\e933';
$icon-filter: '\e934';
$icon-check-seen: '\e910';
$icon-triangle-down: '\e911';
$icon-triangle-up: '\e912';
$icon-triangle-left: '\e92e';
$icon-triangle-right: '\e92f';
$icon-arrow-left: '\e913';
$icon-arrow-right: '\e930';
$icon-attachment: '\e914';
$icon-calendar: '\e915';
$icon-check-rounded: '\e916';
$icon-check: '\e917';
$icon-contacts-book: '\e918';
$icon-email: '\e919';
$icon-exchange: '\e91a';
$icon-facebook: '\e91b';
$icon-faqs: '\e91c';
$icon-happiness: '\e91d';
$icon-iphone: '\e91e';
$icon-list: '\e91f';
$icon-logout: '\e920';
$icon-paper-plane: '\e921';
$icon-phone: '\e922';
$icon-suitcase: '\e923';
$icon-terms: '\e924';
$icon-timer: '\e925';
$icon-user-profile: '\e926';
$icon-user: '\e927';
$icon-cards: '\e928';
$icon-eye-open: '\e929';
$icon-list1: '\e92a';
$icon-location: '\e92b';
$icon-trash: '\e92c';
$icon-vertical-ellipsis: '\e92d';
$icon-back: '\e908';
$icon-up: '\e931';
$icon-down: '\e932';
$icon-dot: '\e909';
$icon-gps: '\e90a';
$icon-minus: '\e90b';
$icon-pickup: '\e90c';
$icon-plus: '\e90d';
$icon-search: '\e90e';
$icon-next: '\e90f';
$icon-menu: '\e901';
$icon-bell: '\e902';
$icon-bego-text: '\e903';
$icon-home: '\e904';
$icon-drafts: '\e905';
$icon-history: '\e906';
$icon-referals: '\e907';
$icon-chat: '\e936';
$icon-invoice: '\e938';
$icon-edit: '\e941';
$icon-download: '\e937';
$icon-shared: '\e961';
$icon-invoices: '\e923';
$icon-tags: '\e98f';
$icon-ballon: '\e991';
$icon-sad: '\e990';
$icon-happy: '\e992';
$icon-crown: '\e993';
$icon-tiktok: '\e980';
$icon-polygon: '\e98d';
$icon-heart: '\e98e';
$icon-money: '\e95b';

.icon {
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;

  &.icon-invoices {
    &:before {
      content: $icon-invoices;
    }
  }
  &.icon-invoice-order {
    &:before {
      content: $icon-invoice-order;
    }
  }
  &.icon-invoice-cfdi {
    &:before {
      content: $icon-invoice-cfdi;
    }
  }
  &.icon-invoice-driver {
    &:before {
      content: $icon-invoice-driver;
    }
  }
  &.icon-invoice-user {
    &:before {
      content: $icon-invoice-user;
    }
  }
  &.icon-pin {
    &:before {
      content: $icon-pin;
    }
  }
  &.icon-cloud-upload {
    &:before {
      content: $icon-cloud-upload;
    }
  }
  &.icon-flag {
    &:before {
      content: $icon-flag;
    }
  }
  &.icon-drag {
    &:before {
      content: $icon-drag;
      color: #494c50;
    }
  }
  &.icon-camera {
    &:before {
      content: $icon-camera;
    }
  }
  &.icon-comment {
    &:before {
      content: $icon-comment;
    }
  }
  &.icon-key {
    &:before {
      content: $icon-key;
    }
  }
  &.icon-grid {
    &:before {
      content: $icon-grid;
    }
  }
  &.icon-avatar {
    &:before {
      content: $icon-avatar;
    }
  }
  &.icon-lightning {
    &:before {
      content: $icon-lightning;
    }
  }
  &.icon-checked {
    &:before {
      content: $icon-checked;
    }
  }
  &.icon-star {
    &:before {
      content: $icon-star;
    }
  }
  &.icon-trailer {
    &:before {
      content: $icon-trailer;
    }
  }
  &.icon-stretch {
    &:before {
      content: $icon-stretch;
    }
  }
  &.icon-trash1 {
    &:before {
      content: $icon-trash1;
    }
  }
  &.icon-image {
    &:before {
      content: $icon-image;
    }
  }
  &.icon-fleet {
    &:before {
      content: $icon-fleet;
    }
  }
  &.icon-calendar1 {
    &:before {
      content: $icon-calendar1;
    }
  }
  &.icon-truck {
    &:before {
      content: $icon-truck;
    }
  }
  &.icon-ship {
    &:before {
      content: $icon-ship;
    }
  }
  &.icon-airplane {
    &:before {
      content: $icon-airplane;
    }
  }
  &.icon-train {
    &:before {
      content: $icon-train;
    }
  }
  &.icon-document {
    &:before {
      content: $icon-document;
    }
  }
  &.icon-close {
    &:before {
      content: $icon-close;
    }
  }
  &.icon-filter {
    &:before {
      content: $icon-filter;
    }
  }
  &.icon-check-seen {
    &:before {
      content: $icon-check-seen;
    }
  }
  &.icon-triangle-down {
    &:before {
      content: $icon-triangle-down;
    }
  }
  &.icon-triangle-up {
    &:before {
      content: $icon-triangle-up;
    }
  }
  &.icon-triangle-left {
    &:before {
      content: $icon-triangle-left;
    }
  }
  &.icon-triangle-right {
    &:before {
      content: $icon-triangle-right;
    }
  }
  &.icon-arrow-left {
    &:before {
      content: $icon-arrow-left;
    }
  }
  &.icon-arrow-right {
    &:before {
      content: $icon-arrow-right;
    }
  }
  &.icon-attachment {
    &:before {
      content: $icon-attachment;
    }
  }
  &.icon-calendar {
    &:before {
      content: $icon-calendar;
    }
  }
  &.icon-check-rounded {
    &:before {
      content: $icon-check-rounded;
    }
  }
  &.icon-check {
    &:before {
      content: $icon-check;
    }
  }
  &.icon-contacts-book {
    &:before {
      content: $icon-contacts-book;
    }
  }
  &.icon-email {
    &:before {
      content: $icon-email;
    }
  }
  &.icon-exchange {
    &:before {
      content: $icon-exchange;
    }
  }
  &.icon-facebook {
    &:before {
      content: $icon-facebook;
    }
  }
  &.icon-faqs {
    &:before {
      content: $icon-faqs;
    }
  }
  &.icon-happiness {
    &:before {
      content: $icon-happiness;
    }
  }
  &.icon-iphone {
    &:before {
      content: $icon-iphone;
    }
  }
  &.icon-list {
    &:before {
      content: $icon-list;
    }
  }
  &.icon-logout {
    &:before {
      content: $icon-logout;
    }
  }
  &.icon-paper-plane {
    &:before {
      content: $icon-paper-plane;
    }
  }
  &.icon-phone {
    &:before {
      content: $icon-phone;
    }
  }
  &.icon-suitcase {
    &:before {
      content: $icon-suitcase;
    }
  }
  &.icon-terms {
    &:before {
      content: $icon-terms;
    }
  }
  &.icon-timer {
    &:before {
      content: $icon-timer;
    }
  }
  &.icon-user-profile {
    &:before {
      content: $icon-user-profile;
    }
  }
  &.icon-user {
    &:before {
      content: $icon-user;
    }
  }
  &.icon-cards {
    &:before {
      content: $icon-cards;
    }
  }
  &.icon-eye-open {
    &:before {
      content: $icon-eye-open;
    }
  }
  &.icon-list1 {
    &:before {
      content: $icon-list1;
    }
  }
  &.icon-location {
    &:before {
      content: $icon-location;
    }
  }
  &.icon-trash {
    &:before {
      content: $icon-trash;
    }
  }
  &.icon-vertical-ellipsis {
    &:before {
      content: $icon-vertical-ellipsis;
    }
  }
  &.icon-back {
    &:before {
      content: $icon-back;
    }
  }
  &.icon-up {
    &:before {
      content: $icon-up;
    }
  }
  &.icon-down {
    &:before {
      content: $icon-down;
    }
  }
  &.icon-dot {
    &:before {
      content: $icon-dot;
    }
  }
  &.icon-gps {
    &:before {
      content: $icon-gps;
    }
  }
  &.icon-minus {
    &:before {
      content: $icon-minus;
    }
  }
  &.icon-pickup {
    &:before {
      content: $icon-pickup;
    }
  }
  &.icon-plus {
    &:before {
      content: $icon-plus;
    }
  }
  &.icon-search {
    &:before {
      content: $icon-search;
    }
  }
  &.icon-next {
    &:before {
      content: $icon-next;
    }
  }
  &.icon-menu {
    &:before {
      content: $icon-menu;
    }
  }
  &.icon-bell {
    &:before {
      content: $icon-bell;
    }
  }
  &.icon-bego-text {
    &:before {
      content: $icon-bego-text !important;
    }
  }
  &.icon-home {
    &:before {
      content: $icon-home;
    }
  }
  &.icon-drafts {
    &:before {
      content: $icon-drafts;
    }
  }
  &.icon-history {
    &:before {
      content: $icon-history;
    }
  }
  &.icon-referals {
    &:before {
      content: $icon-referals;
    }
  }
  &.icon-chat {
    &:before {
      content: $icon-chat;
    }
  }
  &.icon-invoice {
    &:before {
      content: $icon-invoice;
    }
  }
  &.icon-edit {
    &:before {
      content: $icon-edit;
    }
  }
  &.icon-download {
    &:before {
      content: $icon-download;
    }
  }
  &.icon-shared {
    &:before {
      content: $icon-shared;
    }
  }
  &.icon-tags {
    &:before {
      content: $icon-tags;
    }
  }
  &.icon-ballon {
    &:before {
      content: $icon-ballon; 
    }
  }
  &.icon-sad {
    &:before {
      content: $icon-sad; 
    }
  }
  &.icon-happy {
    &:before {
      content: $icon-happy; 
    }
  }
  &.icon-crown {
    &:before {
      content: $icon-crown; 
    }
  }
  &.icon-tiktok {
    &:before {
      content: $icon-tiktok; 
    }
  }
  &.icon-polygon {
    &:before {
      content: $icon-polygon; 
    }
  }
  &.icon-heart {
    &:before {
      content: $icon-heart; 
    }
  }
  &.icon-money {
    &:before {
      content: $icon-money; 
    }
  }
}

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?jsc947') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?jsc947') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?jsc947##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

button {
  background: transparent;
}
