@use 'src/styles.scss';

ng-lottie {
  position: absolute;
  top: 0;
  transform: scale(1.65) translate(-55px, 40%);
  background: url('../../../assets/lottie/animated-map.jpg');
  background-size: 53% 89%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 48% 48%;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 0.5s;
}

.fade-in {
  opacity: 1;
}

.customs-agent-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 0px 180px;
  box-sizing: border-box;
  margin: auto;
  max-width: 1700px;
  overflow-x: hidden;
  top: -108px;

  .customs-agent-header {
    position: relative;

    .customs-agent-pic {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: 800px;
      z-index: 1;

      .customs-agent-title {
        position: absolute;
        bottom: 100px;
        left: -200px;

        h1 {
          color: $lighter-color;
          font-family: 'Keep Calm';
          font-size: 100px;
          letter-spacing: 2px;
          line-height: 90px;
        }

        p {
          font-family: Avenir Next;
          font-size: 26px;
          font-weight: 400;
          letter-spacing: 1.4px;
          line-height: 30px;
          text-align: justify;
          max-width: 580px;
          margin-left: 160px;
          margin-top: 50px;
        }
      }
    }
  }
}

// =============================================================================
// Media Queries
// =============================================================================

.customs-agent-container {
  @include styles.mobile {
    padding: 0;
  }

  .customs-agent-header {
    @include styles.fluid('min-height', $mobile-ms, $mobile, 600px, 1200px);

    .customs-agent-pic {
      @include styles.mobile {
        position: relative;
        top: auto;
        left: auto;
        transform: translateX(0);
        max-width: auto;
      }

      @include styles.mobile-xs {
        top: 20px;
      }

      img {
        @include styles.mobile {
          width: 100%;
        }
      }
      .customs-agent-title {
        @include styles.fluid('bottom', $mobile-ms, $desktop-fhd, -40px, 140px);
        @include styles.fluid('left', $mobile, $desktop-fhd, 40px, -200px);
        @include styles.mobile {
          right: 40px;
        }

        h1 {
          @include styles.fluid('font-size', $mobile, $desktop-hd, 50px, 100px);
          @include styles.fluid('margin-bottom', $mobile, $desktop-hd, 0px, 67px);
        }

        p {
          @include styles.fluid('font-size', $mobile, $desktop-fhd, 16px, 25px);
          @include styles.fluid('margin-left', $mobile, $desktop-fhd, 0px, 160px);
          @include styles.fluid('margin-top', $mobile, $desktop-fhd, 0px, 50px);
        }
      }
    }
  }
}
