<div class="tags-container">
  <div class="page-header">
    <div>
      <h1>
        {{ tag.carriers.length === 0 ? ('tags.form.add_drivers_title' | translate) : ('tags.form.edit_drivers_title' | translate) }}
      </h1>
    </div>
  </div>

  <div class="dialog-container" *ngIf="alertContent?.title">
    <bego-alert
      class="alert"
      [simple]="true"
      [lang]="{
        done: ('tags.confirm_dialog.done' | translate),
      }"
      [alertLang]="alertContent">
    </bego-alert>
  </div>

  <div class="tag-name-container">
    <div class="flex">
      <p class="tag-name-title">{{ 'tags.form.tag_name' | translate }}</p>
      <strong class="tag-name">{{ tagName }}</strong>
    </div>

    <p class="table-title">
      {{ 'tags.drivers_table.title' | translate }}
    </p>

    <bego-table-multiple-selection
      [idKeyItem]="tablePrimaryKey"
      [loading]="loadingTableData"
      [lang]="lang"
      [columns]="columns"
      [values]="drivers"
      [page]="page"
      [actions]="actions"
      [filter]="true"
      [debounce]="1000"
      [selectRowCheck]="selectedRow"
      (filterEmitter)="filterData($event)"
      (selectedActionEmitter)="selectingAction($event)"
      (selectorRowsCheckEmitter)="rowSelected($event)"
      (sortColumnEmitter)="sortingTable($event)"
      (pageChangeEmitter)="changePage($event)"
      (actionColumn)="selectColumn($event)"
      >
      <div class="buttons-external">
        <button mat-flat-button (click)="finish()" type="button" class="brand-btn-2">
          {{ 'tags.buttons.finish' | translate }}
        </button>
      </div>
    </bego-table-multiple-selection>
  </div>
</div>
