@use '@angular/material' as mat;

:host {
  @include mat.checkbox-overrides((
    label-text-color: #ededed,
    selected-checkmark-color: #111,
    selected-icon-color: #fe0,
    selected-pressed-icon-color: #fe0,
    selected-focus-icon-color: #fe0,
    selected-hover-icon-color: #fe0,
    unselected-icon-color: #ededed,
    unselected-focus-icon-color: #ededed,
    unselected-hover-icon-color: #ededed,
  ));
}

.send-message-dialog {
  background-color: #111;
  padding: 20px;
  min-width: 480px;

  .top {
    display: flex;
    justify-content: space-between;

    h2 {
      width: 100%;
      p {
        padding-top: 10px;
        font-style: italic;
        font-size: 14px;
        text-align: center;
        span {
          text-transform: uppercase;
        }
      }
    }
  }

  .content {
    padding: 20px;
  }

  input,
  textarea {
    padding: 10px;
    width: 95%;
  }

  input:focus,
  textarea:focus {
    background-color: #111;
  }

  .w-full {
    width: 100% !important;
  }

  .checkbox-group {
    &:first-child {
      margin-bottom: 10px;
    }

    mat-checkbox {
      display: block;
      ::ng-deep {
        .mat-checkbox-inner-container {
          border: 1px solid #fff;
        }
      }
    }
  }

  .bottom {
    text-align: center;
    margin-top: 40px;
  }

  label {
    font-weight: bold;
  }

  .type-label,
  .message-label {
    margin: 15px 0px 0px !important;
    display: block;
  }

  .type-label {
    margin: 15px 0px 20px !important;
  }

  .dialog-container::before {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 201;
  }
}
