@use 'src/styles.scss';

.cargo-weight {
  display: flex;
  width: 450px;
  margin: 0 50px;

  ::ng-deep .alert-subcontainer {
    flex: 1;
    justify-content: flex-start !important;
  }

  .title {
    margin-top: 28px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }

  app-cargo-units {
    margin: 28px 0 46px;
  }

  .unit-list {
    $unit-size: 66px;
    $gap: 24px;

    display: flex;
    flex-direction: column;
    gap: $gap;
    padding: 0;
    height: $unit-size * 3 + $gap * 2;
    overflow: auto;

    .unit {
      list-style: none;
      text-align: center;
      height: $unit-size;

      ::ng-deep bego-input-increment-decrement {
        .mat-form-field-wrapper, .mat-form-field-infix {
          padding: 0;
        }
      }
    }
  }
}
