section {
  margin-bottom: 2rem;

  > h6 {
    font-size: 21px;
    font-weight: 400;
    color: #6e6e6e;
  }

  > div {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem 2rem;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

    > div {
      label {
        display: block;
        margin-bottom: 4px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

mat-expansion-panel {
  margin-bottom: 2rem;

  mat-panel-description {
    margin: 0 1.5rem 1.5rem;
    display: block;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 2rem;
}

mat-form-field {
  .textarea {
    .mat-form-field-wrapper {
      padding-bottom: unset;
    }
  }

  mat-progress-bar {
    bottom: 0px;
    position: absolute;
    width: calc(100% + 16px);
    height: 2px;
    left: -9px;
  }
}

::ng-deep .brand-option-1 {
  .mdc-list-item__primary-text {
    display: inline-flex;
    align-items: center;

    > img {
      display: block;
      width: 40px;
      height: 40px;
      min-width: 40px;
      border-radius: 50%;
    }

    > div {
      margin-left: 8px;

      .rfc {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.transport-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartaPorteTable {
  background: transparent;
  width: 100%;

  mat-row,
  mat-header-row,
  mat-footer-row,
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    color: #ffffff;
  }
}

.mercancias-inputs {
  display: flex;
  gap: 2rem;
  margin: 10px 0px;

  .unidad-peso {
    flex-grow: 1;
  }
}

.commodities {
  position: relative;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 2rem;
}

.add-merchandise-btn {
  display: flex;
  gap: 8px;
  justify-content: end;
  align-items: center;
  margin-bottom: 40px;
  z-index: 2;
  cursor: pointer;

  .icon {
    background: linear-gradient(180deg, #ffd200 0%, #ffbe00 100%);
    color: #040b11;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.merchandises-subwrapper {
  position: relative;

  > div {
    right: 10px;
    top: 10px;
    width: auto;
    display: flex;
    cursor: pointer;
    bottom: 30px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    .bubble {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: linear-gradient(180deg, #ffd200 0%, #ffbe00 100%);
      color: #040b11;
      cursor: initial;
      display: flex;
      align-items: center;
      font-size: 11px;
      justify-content: center;
    }

    mat-icon {
      font-size: 22px;
      color: #949494;
      margin: 0px 5px;
    }
  }
}
