<div class="steps">
  <form [formGroup]="step2Form">
    <div class="steps-container">
      <h2 class="formgroup-title-required">{{ 'orders.title-personal-info' | translate }}</h2>

      <div class="field">
        <bego-label-input size="small" [textLabel]="('orders.title-fullname' | translate) + '*'"></bego-label-input>
        <bego-input
          keyValue="fullname"
          (value)="updateFormGroup($event)"
          [setValue]="step2Form.get('fullname')!.value"
          [placeholder]="'orders.placeholder-fullname' | translate"></bego-input>
      </div>

      <div class="row-field">
        <div class="field">
          <bego-phone-code-select
            [flag]="phoneFlag | lowercase"
            [selectedPhoneCode]="phoneCode"
            (sendValues)="updateFormPhoneCode($event)"></bego-phone-code-select>
          <bego-input
            type="phone"
            size="small"
            [setValue]="phoneNumber"
            [validators]="phoneValidator"
            (value)="phoneNumberChangeValue($event)"
            [setValue]="step2Form.get('phonenumber')!.value"
            [placeholder]="'orders.placeholder-phone' | translate"></bego-input>
        </div>

        <div class="field">
          <bego-label-input size="small" textLabel="Email*"></bego-label-input>
          <bego-input
            keyValue="email"
            type="email"
            size="small"
            [validators]="emailValidator"
            (value)="updateFormGroup($event)"
            [setValue]="step2Form.get('email')!.value"
            [placeholder]="'orders.placeholder-mail' | translate"></bego-input>
        </div>
      </div>

      <div class="field" *ngIf="orderWithCP">
        <bego-label-input size="small" textLabel="RFC*"></bego-label-input>
        <bego-rfc-input
          theme="secondary"
          (valueChanges)="updateRFC($event)"
          [values]="rfcComponentValues"
          [lang]="{
            country_of_residence: 'orders.tax-country_of_residence' | translate,
            registration_number: 'orders.tax-registration_number' | translate,
            invalid_rfc: 'checkout.invalid_rfc' | translate,
            not_found: 'orders.rfc-not_found' | translate,
            cancel: 'orders.btn-cancel' | translate
          }"></bego-rfc-input>
      </div>

      <div class="field" *ngIf="orderWithCP">
        <bego-label-input size="small" [textLabel]="('orders.title-company_name' | translate) + '*'"></bego-label-input>
        <bego-input keyValue="company_name" (value)="updateFormGroup($event)"
          [setValue]="step2Form.get('company_name')!.value"
          [placeholder]="'orders.placeholder-company_name' | translate"></bego-input>
      </div>

      <div class="aditional-details">
        <h2 class="formgroup-title">{{ 'history.history_detail.aditional_details' | translate }}</h2>

        <bego-text-area
          keyValue="extra_notes"
          [defaultValue]="draftData?.destinations[1]?.extra_notes"
          [customPlaceholder]="'orders.placeholder-notes' | translate"
          (sendData)="updateFormGroup($event)"></bego-text-area>
      </div>
    </div>
  </form>
</div>
