@use 'src/styles.scss';

.menu-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 108px;
  left: 0;
  width: 100%;
  height: calc(100% - 108px);
  background: styles.$background-color;
  z-index: 101;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  overflow: hidden;
  padding-top: 15px;
  ng-lottie {
    position: absolute;
    transform: translateX(-15%);
    background: url('../../../../../assets/lottie/animated-map.jpg');
    background-size: 53% 89%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 48% 48%;
    z-index: -1;
  }

  .menu-sections {
    position: relative;
    flex: 1;
    display: flex;
    font-size: 80px;
    font-weight: 900;
    padding-left: 200px;
    padding-bottom: 100px;
    letter-spacing: 3px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    h2 {
      position: absolute;
      left: 100px;
      transform: rotate(270deg) translateX(160px);
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 300;
      font-family: Avenir Next;
    }

    > div {
      position: relative;
      opacity: 0;
      transform: translateY(80%);
      transition: all 0.3s ease-in-out;
      > div {
        transition: all 0.3s ease-in-out;
      }
    }

    .menu-number {
      position: absolute;
      top: 20px;
      left: 0px;
      transform: translateX(50px) rotate(-90deg);
      opacity: 0;
      font-size: 18px;
      z-index: 1;
      transition: all 0.3s ease-in-out;
    }

    .menu-title {
      position: relative;
      outline: none;

      > div:first-child {
        display: block;
        position: relative;
        color: #20272D;

      }

      > div:last-child {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        clip-path: inset(0 0 0 0);
        transition: clip-path 0.3s ease-in-out;
      }

      .focused-out {
        clip-path: inset(0 100% 0 0) !important;
      }
    }

    > div:hover {
      transition-delay: 0s;
      > div {
        transform: translateX(10%);
      }

      .menu-number {
        transform: translateX(-60px) rotate(-90deg);
        opacity: 1;
      }
    }

    .menuItem1 {
      opacity: 1;
      transition-delay: 0.1s;
      transform: translateY(0%);
    }

    .menuItem2 {
      opacity: 1;
      transition-delay: 0.25s;
      transform: translateY(0%);
    }

    .menuItem3 {
      opacity: 1;
      transition-delay: 0.4s;
      transform: translateY(0%);
    }

    .menuItem4 {
      opacity: 1;
      transition-delay: 0.55s;
      transform: translateY(0%);
    }

    .menuItem5 {
      opacity: 1;
      transition-delay: 0.7s;
      transform: translateY(0%);
    }

    .remove-delay {
      transition-delay: 0s !important;
    }
  }

  .menu-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-contact-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 20px;
      max-width: 210px;
      text-align: justify;
      text-justify: inter-word;

      > div {
        margin: 10px 0px;
      }

      .menu-phone, .menu-email {
        color: styles.$yellow-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .menu-social {
      position: relative;
      flex: 0 0 30%;
      display: flex;
      flex-direction: row;

      .menu-networks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 210px;

        > div {

          a {
            cursor: pointer;

            img {
              width: 20px;
              height: 20px;
              transition: all 0.3s ease-in-out;
            }
          }
        }

      }
    }
  }

  .menu-brochure {
    position: absolute;
    transform: rotateZ(270deg);
    bottom: 140px;
    right: -122px;
    width: 300px;
    text-align: end;
    cursor: pointer;
    &::before {
      display: inline-block;
      content: "";
      border-top: 2px solid #979797;
      width: 140px;
      transform: translate(-15px, -4px);
    }
  }
}

.menu-opened {
  opacity: 1;
  pointer-events: auto;
}

// =============================================================================
// Media Queries
// =============================================================================

.menu-container {

  @include styles.mobile {
    flex-direction: column;
  }

  @include styles.mobile-xs {
    top: 90px;
    height: calc(100% - 90px);
  }

  ng-lottie {
    @include styles.mobile-xs {
      transform: scale(2.5);
      top: 185px;
    }
  }

  .menu-sections {
    @include styles.fluid-type(styles.$mobile-xs, styles.$desktop-hd, 40px, 80px);
    @include styles.fluid-padding-left(styles.$mobile-xs, styles.$desktop-hd, 63px, 200px);
    @include styles.mobile {
      padding-bottom: 0;
    }

    h2 {
      @include styles.fluid-type(styles.$mobile-xs, styles.$desktop-hd, 9px, 18px);
      @include styles.desktop-hd {
        display: none;
      }
    }
  }

  .menu-info {
    .menu-social {
      .menu-networks {
        > div {
          a {
            img {
              @include styles.mobile-xs {
                width: 19px;
                height: 19px;
              }
            }
          }
        }
      }
    }
  }
}
