@use 'src/styles.scss';
$lighter-color: #EDEDED;
$light-gray: #A0A0A0;

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}

.history-container-shadow {
  height: 100%;
  border-radius: 21px;
  padding: 1.5px;
  border: none;
  background-image: radial-gradient(112.63% 391.25% at 102.56% 100%, #000000 0%, rgba(186, 186, 186, 0.489583) 55.21%, rgba(132, 132, 132, 0) 99.25%);
  width: 100%;
  transition: all 0.3s ease-in-out;
  max-width: 400px;

  @include styles.desktop-hd {
    max-width: 370px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(60deg, #090d10, #121518); // new interface color
  width: 100%;
  max-width: 396px;
  min-height: 100%;
  height: 100%;
  border-radius: 21px;
  position: relative;
  overflow: hidden;

  @include styles.desktop-hd {
    max-width: 376px;
  }

  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 21px;
    margin-block: 21px;
    margin-inline-start: 28.5px;

    &:hover {
      cursor: pointer;
    }

    bego-icon {
      --color: #{$light-gray};
    }

    h3 {
      color: $lighter-color;
    }
  }

  .wait-request:hover {
    cursor: wait;
  }

  .threads {
    margin-inline: 3px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 

    ::-webkit-scrollbar {
      display: none; 
    }

    .history-list-container {
      border-radius: 15px;
      padding: 16px;
      margin-right: 4px;
      background: linear-gradient(60deg, #0d0f12, #191c1e, #0f1416);
      margin-block-end: 6px;

      h4 {
        font-size: 14px;
        font-weight: 500;
        line-height: 19.12px;
        letter-spacing: 0.5px;
        color: #8e8e8e;
        margin-top: 12px;
        margin-bottom: 25px;
        padding: 0 27px;
      }

      ol {
        list-style: none;
        padding: 0;

        li {
          color: $light-gray;
          font-size: 14px;
          font-weight: 350;
          line-height: 19.12px;
          letter-spacing: 0.5px;
          cursor: pointer;
          position: relative;
          outline: none;
          -webkit-tap-highlight-color: transparent;

          .threads-title {
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            padding: 7px 10px 8px 27px;
            height:  33px;
            z-index: 3;
            border-radius: 24px;
            margin-block: 3px;
            margin: 1.5px;
  
               /*
               &:after {
                 content: '';  
                  display: block;
                 position: absolute;
                   top: 0;
                 right: 0;
                 background-image: linear-gradient(to right, transparent 0%, #0c141b 90%);
                  z-index: 1;
                 width: 100%;
                  height: 100%;
                }
               */

            p {
              overflow: hidden;
              width: 87%;
            }

            &:hover{
              background: linear-gradient(60deg, #0d0f12, #191c1e, #0f1416);
              color: #ffee00;
            }
          }

          .threads-options {
            transform: translate(0, -50%);
            top: 50%;
            right: 15px;
            position: absolute;
            z-index: 5;

            .options {
              transform: rotate(90deg);

              ::ng-deep bego-icon {
                i {
                  color: $light-gray;
                }
              }
            }
          }

          &:hover {
            border-radius: 24px;

            &:before {
              content: '';  
              display: block;
              background-image: radial-gradient(112.63% 391.25% at 102.56% 100%, #000000 0%, rgba(186, 186, 186, 0.489583) 55.21%, rgba(132, 132, 132, 0) 99.25%);
              border-radius: 24px;
              position: absolute;
              top: -1.5px;
              left: -1.5px;
              bottom: -1.5px;
              right: -1.5px;
            }
          }
        }

        .selected-history-title {
          color: #ffee00;
        }

        .selected-options-button {
          ::ng-deep bego-icon i {
            color: #ffee00 !important; // options icons when clicked
          }
        } 
      }
    }

    ::ng-deep {
      .loader-spinner {
        margin: 25px auto;
      }

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: #ffee00;
      }
    }
  }

  
}

::ng-deep .mat-mdc-menu-panel.brand-menu-2 {
  background: radial-gradient(112.63% 391.25% at 102.56% 100%, #1c2021 0%, #646667 55.21%, #2c2e30 99.25%) !important;
  border-radius: 26px;

  &::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: linear-gradient(66.07deg, #0f1416 5.1%, #1a1d20 60%, #181c1d 100%); //new background gradient (inside)
    border-radius: inherit;
  }

  .mat-mdc-menu-item {
    color: rgba(237, 237, 237, 0.54);
    font-weight: 350;
    font-family: 'Avenir';
  }
}

::ng-deep .mat-mdc-menu-panel.brand-menu-2 .mat-mdc-menu-item {
  position: relative; 

  span {
    position: relative; 
    z-index: 1; 
  }

  &:hover span::before {
    content: '';
    position: absolute;
    border-radius: 26px;
    background: linear-gradient(to top right, #16191c 5.1%, #232627 60%, #1e2123 100%);//new background gradient of select (hover)
    width: 100%;
    height: 100%;
    top: 8px;
    left: 33.3px;
    transform: translate(-50%, -50%);
    z-index: -1; 
    box-sizing: border-box;
  }
}

.menu-option {
  padding: 0 16px;

  ::ng-deep bego-icon {
    margin-right: 20px;
    
    i {
      color: rgba(237, 237, 237, 0.54) !important;
      font-size: 18px;
    }
  }

  &:hover:not([disabled]) {
    
    color: $lighter-color;
    border-radius: 26px;
    height: 100%;
    width: 100%;
    background: linear-gradient(95.86deg, #1E1E1E 30.22%, #3e3f3f 62.01%, #1d2022 87.8%, #191c1e 87.8%);

    ::ng-deep bego-icon {
      i {
        z-index: 3;
        position: relative;
        color: $lighter-color;
      }
    }
  }
}

.show-history {
  transform: translateX(100%);
  //position: relative;
  //animation: mover-izquierda 3s forwards; /* duración de 2 segundos */
}

.hide-history {
  transform: translateX(0);
  //position: relative;
  //animation: mover-derecha 3s forwards; /* duración de 2 segundos */
}

/*
@keyframes mover-izquierda {
  0% {
      left: 200px; // Empieza desde 50 píxeles a la derecha 
  }
  100% {
      left: 0;     // Termina en su posición original 
  }
}

@keyframes mover-derecha {
  0% {
      left: 0px; // Empieza desde 50 píxeles a la izquierda 
  }
  100% {
      left: 100%;     // Termina en su posición original 
  }
}
*/
