
<div class="history-container-shadow" [ngClass]="{ 
  'hide-history': !openHistoryChat,
  'show-history': openHistoryChat,
}">
  <section class="container">
    <div class="header" [ngClass]="{ 'wait-request': chibiptService.sendingMessage }" (click)="createNewChat()">
      <img src="../../../../../assets/images/chibpt/chibi-history.svg" alt="Chibi History" />
      <h3>{{ 'chibpt.history.new-chat' | translate }}</h3>
      <bego-icon icon="begon-edit-fintech"></bego-icon>
    </div>
    <div class="threads" #scrollHistory (scroll)="onScroll()">
      <ng-container *ngFor="let date of dates">
        <ng-container *ngIf="histories[date].length">
          <div class="history-list-container">
            <h4>{{ 'chibpt.history.timestamp.' + date | translate }}</h4>
            <ol>
              <ng-container *ngIf="histories[date].length">
                <li
                  *ngFor="let history of histories[date]; index as i"
                  [ngClass]="{
                    'renaming-title': history?.rename || history?.selected,
                    'selected-history-title': history?.selected
                  }">
                  <ng-container *ngIf="!history?.rename; else rename">
                    <div class="threads-title">
                      <p
                        [ngClass]="{ 'wait-request': chibiptService.sendingMessage }"
                        (click)="selectedHistoryTitle(history, i, date)">
                        {{ history.title }}
                      </p>
                      <div class="threads-options">
                        <button 
                        class="options" 
                        [matMenuTriggerFor]="menu" 
                        #menuTrigger
                        [ngClass]="{ 'selected-options-button': selectedButtonIndex?.date === date && selectedButtonIndex?.index === i }"
                        (click)="selectButton(i, $event, date)">
                          <bego-icon icon="begon-vertical-ellipsis"></bego-icon>
                        </button>
                        <mat-menu #menu="matMenu" class="brand-menu-2">
                          <button mat-menu-item class="menu-option" (click)="activeRename(i, date)">
                            <bego-icon icon="begon-edit-fintech"></bego-icon>
                            <span>{{ 'chibpt.history.edit' | translate }}</span>
                          </button>
                          <button mat-menu-item class="menu-option" [disabled]="history.selected && chibiptService.sendingMessage" (click)="openCloseModal(history, i, date)">
                            <bego-icon icon="begon-trash1"></bego-icon>
                            <span>{{ 'chibpt.history.delete' | translate }}</span>
                          </button>
                        </mat-menu>
                      </div>
                    </div>
                  </ng-container>
  
                  <ng-template #rename>
                    <input
                      type="text"
                      [(ngModel)]="auxName"
                      #renameInput
                      (keyup.enter)="renameHistory(history._id, i, date)"
                      (keyup.escape)="cancelRename(i, date)"
                      (blur)="cancelRename(i, date)" />
                  </ng-template>
  

                </li>
              </ng-container>
            </ol>
          </div>
        </ng-container>
      </ng-container>
  
      <mat-progress-spinner *ngIf="loading" class="loader-spinner" [mode]="'indeterminate'" [diameter]="30"> </mat-progress-spinner>
    </div>
  </section>
</div>
