<div class="app-member-card">
  <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="brand-menu-1">
    <button mat-menu-item [routerLink]="[routes.EDIT_MEMBER]" [queryParams]="{ id: data.member_meta.id_member }">
      <mat-icon class="icon icon-eye-open icon-only" style="font-size: 18px"></mat-icon>
      <span>{{ 'fleet.members.see_details' | translate }}</span>
    </button>
    <button mat-menu-item (click)="delete()">
      <mat-icon class="icon icon-trash1 icon-only" style="font-size: 18px"></mat-icon>
      <span>{{ 'fleet.btn_remove' | translate }}</span>
    </button>
  </mat-menu>

  <div class="avatar">
    <div class="avatar-1">
      <div class="avatar-status" [class]="data.status"></div>
      <img
        [src]="
          data.thumbnail && !data.thumbnail.endsWith('/')
            ? data.thumbnail
            : '../../../../assets/images/avatar-outline.svg'
        " />
    </div>
  </div>

  <p class="name">
    {{ data.member.nickname }}
  </p>

  <ul class="tasks">
    <li>
      {{ data.orders_meta?.upcoming ?? '—' }}
      <span>{{ 'fleet.members.incoming' | translate }}</span>
    </li>
    <li>
      {{ data.orders_meta?.past ?? '—' }}
      <span>{{ 'fleet.members.done' | translate }}</span>
    </li>
  </ul>

  <p class="description" *ngIf="data.original_fleet">
    {{ data.original_fleet.name }}
  </p>
</div>
