bego-body{

  .container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    .orders-list{
      flex-grow: 1;
    }

    .order-detail{
      margin-top: 94px;
      z-index: 1;
    }
  }

  app-no-orders-yet{
    position: absolute;
    margin-top: 10vh;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .order-detail {
    opacity: 1;
    transition: opacity 0.5s;
  }

  &.no-orders{
    app-no-orders-yet{
      opacity: 1;
    }

    .order-detail {
      opacity: 0;
    }
  }
}
