<form [formGroup]="commodityForm">
  <div class="grid">
    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.bienes-transportados' | translate }}</mat-label>

      <mat-select name="bienes_transp" formControlName="bienes_transp" class="disable-custom-format">
        <mat-option aria-hidden="false">
          <ngx-mat-select-search
            (input)="searchTransportedGoods($event.target.value)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let option of transportedGoods">
          <mat-option [value]="option.code" class="brand-option-1">
            {{ option.code }} - {{ option.description }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <!-- input es de tipo ferroviario -->
    <!-- <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>Clave STCC (Opcional)</mat-label>
      <input
        matInput
        name="claveSCTT"
        formControlName="claveSCTT"
        [value]=""
      />
    </mat-form-field> -->
    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.cantidad' | translate }}</mat-label>
      <input matInput name="cantidad" type="number" formControlName="cantidad" [value]="" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.clave-unidad' | translate }}</mat-label>
      <mat-select name="clave_unidad" formControlName="clave_unidad" class="disable-custom-format">
        <mat-option>
          <ngx-mat-select-search
            (keyup)="searchUnitType($event.target.value)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let option of filteredUnitTypes">
          <mat-option [value]="option.clave" class="brand-option-1">
            {{ option.clave }} - {{ option.nombre }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.peso' | translate }}</mat-label>
      <input matInput name="peso" type="number" formControlName="peso_en_kg" [value]="" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.valor-mercancia' | translate }}</mat-label>
      <input matInput name="valor_mercancia" type="number" formControlName="valor_mercancia" [value]="" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.moneda' | translate }}</mat-label>

      <mat-select name="moneda" formControlName="moneda" class="disable-custom-format">
        <mat-option>
          <ngx-mat-select-search
            (keyup)="searchCurrency($event.target.value)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let option of filteredCurrencies">
          <mat-option [value]="option.clave" class="brand-option-1">
            {{ option.clave }} - {{ option.descripcion }}
          </mat-option>
        </ng-container>
      </mat-select>

      <button
        *ngIf="commodityForm.get('moneda').value"
        mat-icon-button
        matSuffix
        (click)="commodityForm.get('moneda').setValue(''); $event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.dimensiones' | translate }}</mat-label>
      <input matInput name="dimensiones" formControlName="dimensiones" [value]="" />
      <mat-error>{{ 'invoice.commodity.dimensiones-error' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.tipo_materia' | translate }}</mat-label>
      <mat-select formControlName="tipo_materia" class="disable-custom-format" name="tipo_materia">
        <mat-option *ngFor="let option of typesOfMatter" [value]="option.clave">
          {{ option.clave }} - {{ option.descripcion }}
        </mat-option>
      </mat-select>
      <mat-hint align="end">Solo transporte internacional</mat-hint>
    </mat-form-field>

    <div class="hazardous-container">
      <p>{{ 'invoice.commodity.material-peligroso' | translate }}</p>
      <mat-slide-toggle formControlName="material_peligroso"></mat-slide-toggle>
    </div>

    <mat-form-field *ngIf="commodityForm.value.material_peligroso" appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.clave-material-peligroso' | translate }}</mat-label>

      <mat-select name="cve_material_peligroso" formControlName="cve_material_peligroso" class="disable-custom-format">
        <mat-option>
          <ngx-mat-select-search
            (keyup)="searchHazardousMaterialType($event.target.value)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let option of filteredMaterialPeligroso">
          <mat-option [value]="option.clave" class="brand-option-1">
            {{ option.clave }} - {{ option.descripcion }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="commodityForm.value.material_peligroso" appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.embalaje' | translate }} {{ commodityForm.value.embalaje }}</mat-label>

      <mat-select name="embalaje" formControlName="embalaje" class="disable-custom-format">
        <mat-option>
          <ngx-mat-select-search
            (keyup)="searchPackagingType($event.target.value)"
            [placeholderLabel]="'invoice.edit.type-to-search' | translate"
            [noEntriesFoundLabel]="'invoice.edit.no-results' | translate"
            class="brand-select-search-1"></ngx-mat-select-search>
        </mat-option>
        <ng-container *ngFor="let option of filteredPackagingTypes">
          <mat-option [value]="option.clave" class="brand-option-1">
            {{ option.clave }} - {{ option.descripcion }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1" *ngIf="showFraccion">
      <mat-label>Fracción arancelaria</mat-label>
      <input
        matInput
        name="fraccion_arancelaria"
        placeholder=""
        type="text"
        formControlName="fraccion_arancelaria"
        [value]="" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="brand-field-1" *ngIf="showFraccion">
      <mat-label>UUID del comprobante de comercio exterior</mat-label>
      <input
        matInput
        name="uuid_comercio_ext"
        placeholder=""
        type="text"
        formControlName="uuid_comercio_ext"
        [value]="" />
      <mat-error
        >Las dimensiones deben de tener el fomato '#/#/#' con terminación cm o plg. Ejemplo: 10/10/10cm</mat-error
      >
    </mat-form-field>
  </div>

  <h6>{{ 'invoice.commodity.cantidad_transporta.title' | translate }}</h6>

  <div *ngFor="let ct of cantidad_transporta; index as i">
    <app-cantidad-transporta
      [totalRows]="cantidad_transporta?.length"
      [data]="ct"
      [index]="i"
      (itemRemoved)="removeCantidadTransportaRow($event)"
      (itemChanged)="cantidadTransportaRowHasChanged($event)"></app-cantidad-transporta>
  </div>

  <div class="add-cantidad-transporta-btn" (click)="addCantidadTransportaRow()">
    <div class="icon icon-plus"></div>
    <span>Agregar cantidad transporta</span>
  </div>

  <h6>{{ 'invoice.commodity.pedimentos' | translate }}</h6>

  <div class="grid">
    <mat-form-field appearance="outline" class="brand-field-1">
      <mat-label>{{ 'invoice.commodity.pedimento' | translate }}</mat-label>
      <input
        placeholder="Ingrese el numero de pedimento y presione Enter"
        matInput
        autocomplete="off"
        (keyup.enter)="addPedimento($event)"
        (keyup)="acceptOnlyNumbers($event)" />
    </mat-form-field>
  </div>

  <div class="grid">
    <table
      #pedimentosTable
      mat-table
      [dataSource]="dataSourcePedimento"
      class="cartaPorteTable"
      *ngIf="dataSourcePedimento.length > 0">
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'invoice.commodity.table-pedimento' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.pedimento }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button class="btn-dark-bego icon icon-trash1" type="button" (click)="removeData(i)"></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="buttons">
    <div class="add-merchandise-btn">
      <div (click)="addCommodityRow()">
        <div class="icon icon-check" *ngIf="commodityForm.get('id').value; else addCommodityIcon"></div>
        <ng-template #addCommodityIcon>
          <div class="icon icon-plus"></div>
        </ng-template>
        <span *ngIf="commodityForm.get('id').value; else addCommodity">Guardar cambios</span>
        <ng-template #addCommodity>Agregar mercancia</ng-template>
      </div>
    </div>

    <div class="cancel-merchandise-btn" *ngIf="commodityForm.get('id').value">
      <div (click)="cancelAddCommodityRow()">
        <div class="icon icon-close"></div>
        <span *ngIf="commodityForm.get('id').value">Cancelar</span>
      </div>
    </div>
  </div>
</form>
<mat-divider></mat-divider>
