@use 'sass:math';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($carriersDashboard-theme);

@forward './app/shared/styles/icomoon.scss';
@use './app/shared/styles/cross-icon.scss';
@use 'aos/dist/aos.css';

//angular material components
@use './styles/angular-components/button-toggle-group.scss';
@use './styles//angular-components/select.scss';
@use './styles//angular-components/button.scss';
@use './styles//angular-components/input.scss';
@use './styles/angular-components/autocomplete.scss';
@use './styles/angular-components/stepper.scss';
@use './styles/custom-styles/textarea.scss';

//custom styles
@use './styles/custom-styles/radio-button.scss';
@use './app/pages/invoice/styles/styles';

//theme component styles
@use './styles/components/_loader';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();
@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$carriersDashboard-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$carriersDashboard-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$carriersDashboard-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$carriersDashboard-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $carriersDashboard-primary,
      accent: $carriersDashboard-accent,
      warn: $carriersDashboard-warn
    )
  )
);

@include mat.all-component-themes($carriersDashboard-theme);

// =============================================================================
// Colors
// =============================================================================

$background-color: #080b10;
$lighter-color: #ededed;
$light-color: #c1c7d0;
$yellow-color: #ffe000;
$white: #EDEDED;
$color-font-grey: #c1c7d0;

$bego-menu-width: 80px;
$bego-menu-width-open: 196px;

// =============================================================================
// Reset
// =============================================================================

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Avenir', Helvetica, sans-serif;
  background: $background-color;
  color: $white;
}

html,
body {
  height: 100%;
}

// =============================================================================
// Media Querries
// =============================================================================

@mixin custom-resolution($resolution) {
  @media (max-width: #{$resolution}) {
    @content;
  }
}

@mixin desktop-4k {
  @media (min-width: #{$desktop-fhd}) {
    @content;
  }
}

@mixin desktop-hd {
  @media (max-width: #{$desktop-hd}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin mobile-xs {
  @media (max-width: #{$mobile-xs}) {
    @content;
  }
}

@mixin mobile-xxs {
  @media (max-width: #{$mobile-xxs}) {
    @content;
  }
}

@mixin mobile-ms {
  @media (max-width: #{$mobile-ms}) {
    @content;
  }
}

@mixin touch {
  @media only screen and (hover: none) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

@mixin inner-shadow {
  background: #0b1117;
  box-shadow: 0px 3px 2px #131a21;
  border-radius: 8px;
}

.inner-shadow {
  @include inner-shadow;
}

// =============================================================================
// CrossBrowsing
// =============================================================================

@mixin edge {
  @supports (-ms-accelerator: true) {
    @content;
  }
  @supports (-ms-ime-align: auto) {
    @content;
  }
}

@mixin ie11 {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

// =============================================================================
// Fluid Typography
// =============================================================================

@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: math.unit($min-vw);
  $u2: math.unit($max-vw);
  $u3: math.unit($min-font-size);
  $u4: math.unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            math.div((100vw - #{$min-vw}), #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin fluid-padding-left($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: math.unit($min-vw);
  $u2: math.unit($max-vw);
  $u3: math.unit($min-font-size);
  $u4: math.unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      padding-left: $min-font-size;
      @media screen and (min-width: $min-vw) {
        padding-left: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        padding-left: $max-font-size;
      }
    }
  }
}

@mixin fluid($property, $min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: math.unit($min-vw);
  $u2: math.unit($max-vw);
  $u3: math.unit($min-font-size);
  $u4: math.unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      #{$property}: $min-font-size;
      @media screen and (min-width: $min-vw) {
        #{$property}: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        #{$property}: $max-font-size;
      }
    }
  }
}

::ng-deep .small-input-inner-shadow {
  min-width: 100%;

  .mat-form-field-infix {
    padding: 0px;
    border-top: unset;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }

  .mat-form-field-label-wrapper {
    top: 0px;
    padding-top: 0px;
  }

  .mat-form-field-underline {
    display: none;
  }

  mat-select {
    background: #0b1117;
    box-shadow: 0px 3px 2px #131a21;
    border-radius: 8px;
    color: white;
    padding: 5px 24px 5px 0px;
    text-align: right;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
  }
}

// =============================================================================
// Other
// =============================================================================

//Hardware acceleration (forces GPU usage instead of CPU)
@mixin hardware($backface: true, $perspective: 1000) {
  @if $backface {
    backface-visibility: hidden;
  }
  perspective: $perspective;
}

// =============================================================================
// Media Queries Variables
// =============================================================================

$desktop-qhd: 2560px;
$desktop-fhd: 1440px;
$desktop-hd: 1200px;
$desktop: 992px;
$mobile: 768px;
$mobile-xs: 576px;
$mobile-xxs: 375px;
$mobile-ms: 320px;

// =============================================================================
// Forms
// =============================================================================

input {
  background: transparent;
  border: none;
  outline: 0;
  padding: 0;
  width: 100%;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(0.5);
    box-shadow: 0 0 0 11px rgba(255, 190, 0, 0.7);
  }

  70% {
    transform: scale(1.3);
    box-shadow: 0 0 0 22px rgba(255, 190, 0, 0);
  }

  100% {
    transform: scale(0.5);
    box-shadow: 0 0 0 11px rgba(255, 190, 0, 0);
  }
}

@keyframes pulse-white {
  0% {
    transform: scale(0.5);
    box-shadow: 0 0 0 11px rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 22px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.5);
    box-shadow: 0 0 0 11px rgba(255, 255, 255, 0);
  }
}

.hidden {
  display: none !important;
}

#map div[title='yellow'] {
  box-shadow: 0 0 0 0 rgba(255, 190, 0, 1);
  animation: pulse-yellow 2s infinite;
  border-radius: 51px;
}

#map div[title='white'] {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  border-radius: 51px;
}

.blob.yellow {
}

#map div[title='title'] img {
  display: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;

  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: $yellow-color;
  color: $background-color;
}

/*******************************/
/********** Scrollbar **********/
/*******************************/

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(66, 66, 66, 0);
  opacity: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #040b11;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(66, 66, 66, 1);
  -webkit-box-shadow: inset 4px 4px 4px 0 #1d2024, inset -4px -4px 4px 0 #10161c;
}

::-webkit-scrollbar-corner {
  background-color: #040b11;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.6s;
}
.ripple:hover {
  background: #10161c radial-gradient(circle, transparent 1%, #10161c 1%) center/20000%;
}
.ripple:active {
  background-color: #040b11;
  background-size: 100%;
  transition: background 0s;
}

/*Loader ellipsis*/

.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*********** Material ********/

/*Inputs*/

.mat-form-field-appearance {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 400;
  position: relative;

  .icon {
    position: absolute;
    left: 20px;

    &:before {
      font-size: 20px;
    }
  }

  // .mat-form-field-infix {
  //   padding-left: 60px;
  //   padding-bottom: 18px;
  // }
}

input.mat-mdc-input-element {
  caret-color: #ededed;
  color: #ededed;
  font-size: 18px;
}

.mat-form-field-appearance.mat-form-field-label-wrapper {
  transform: translate(60px, 0);
  width: calc(100% - 60px);
}

.mat-mdc-form-field.mat-focused .mat-form-field-ripple {
  background: transparent;
}

/**** Mat-group *****/
.mat-tab-group,
.mat-calendar,
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-icon-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button,
.mat-mdc-fab,
.mat-mdc-mini-fab {
  font-family: 'Avenir', Helvetica, sans-serif !important;
}

/*** MAT Calendar ***/
.mat-calendar-body-label {
  opacity: 0;
}

.mat-calendar-body-label[colspan='7'] {
  display: none;
}

.mat-datepicker-content {
  background: #091016;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.5), inset 4px 4px 4px #1c232a, inset -4px -4px 4px #040b11;
}

.mat-datepicker-content,
.mat-calendar-body-cell-content,
.mat-calendar-table-header,
.mat-calendar-body-label,
.mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  color: #ededed;
}

.mat-calendar-arrow {
  fill: #ededed;
}

// .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
//   background: #FFE000;
//   box-shadow: inset 2px 2px 4px #ffbe00, inset -2px -2px 4px #c69400;
//   border-radius: 8px;
//   font-weight: 800;
//   letter-spacing: 0.5px;
//   color: #040B11;
// }

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border: 1px solid #1c232a;
  border-radius: 8px;
  background-color: #10161c;
  box-shadow: inset -2px -2px 4px 0 rgba(44, 46, 50, 0.45), inset 2px 2px 4px 0 #000000;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-keyboard-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-program-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: #10161c;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: $yellow-color;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #040b11;
  box-shadow: inset 2px 2px 4px #ffbe00, inset -2px -2px 4px #c69400;
}

.mat-calendar-table-header th {
  font-size: 16px;
  font-weight: 500;
}

.mat-calendar-body {
  font-size: 16px;
}

.mat-calendar-body-selected {
  background-color: $yellow-color;
  color: #040b11 !important;
  box-shadow: inset 2px 2px 4px #ffbe00, inset -2px -2px 4px #c69400;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: inset 2px 2px 4px #ffbe00, inset -2px -2px 4px #c69400;
  border-radius: 8px;
}

:root {
  @include mat.form-field-overrides((
    filled-container-color: transparent,
    filled-caret-color: #fff,
    filled-input-text-color: #fff,
    filled-label-text-color: #89898a,
    filled-hover-label-text-color: #89898a,
    filled-focus-label-text-color: #89898a,

    filled-active-indicator-color: #494c50,
    filled-hover-active-indicator-color: #494c50,
    filled-focus-active-indicator-color: #494c50,

    filled-disabled-input-text-color: #fff,
    filled-disabled-container-color: transparent,
    filled-disabled-label-text-color: #89898a,

    outlined-caret-color: #fff,
    outlined-input-text-color: #fff,
  ));

  @include mat.radio-overrides((
    selected-icon-color: #fe0,
    unselected-icon-color: #ededed,
    label-text-color: #ededed,
  ));
}

/*   Button Toggle   */

.mat-button-toggle-group-appearance-standard {
  --mat-standard-button-toggle-divider-color: transparent;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border-radius: 8px !important;
  background: #0b1117;
  border: 2px solid #171e24;
  box-shadow: inset 4px 4px 10px #040b11;
  min-width: 300px;
}

.mat-button-toggle-appearance-standard {
  background: none;
  color: #ededed;
}

.mat-button-toggle-checked {
  background-color: #ffe000;
  color: #040b11 !important;
  border-radius: 8px !important;
  min-width: 153px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 46px;
}

.mat-button-toggle {
  --mat-standard-button-toggle-label-text-line-height: 33px;

  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  min-width: 153px;
  text-align: center;
}

.mat-button-toggle-standalone,
.mat-button-toggle-group {
  justify-content: space-around;
}

.mat-ripple-element {
  display: none !important;
}

.mat-radio-outer-circle {
  border: 2px solid #1c232a;
  background: #10161c;
  box-shadow: inset 0px 4px 4px #000000;
}
/***** Time Input ******/

.ngx-timepicker-control__arrow {
  color: #494c50 !important;

  &:hover {
    color: #c1c7d0 !important;
  }
}

.ngx-timepicker-control__arrows {
  right: 50% !important;
  top: 50% !important;
  transform: translate(50%, -50%);
  height: 75px;
  justify-content: space-between;
  z-index: 1;
}

.ngx-timepicker-control__input {
  font-size: 18px !important;
  z-index: 2;
}

.ngx-timepicker-control.ngx-timepicker-control--active {
  &::after {
    content: none !important;
  }
}

.ngx-timepicker__control--first {
  border-left: 1px solid #161b20;
  border-top: 1px solid #161b20;
  border-bottom: 1px solid #161b20;
  border-radius: 4px 0 0 4px;
}

.ngx-timepicker__control--second {
  border-top: 1px solid #161b20;
  border-bottom: 1px solid #161b20;
  height: 32px;
}

.ngx-timepicker__control--third {
  border-right: 1px solid #161b20;
  border-top: 1px solid #161b20;
  border-bottom: 1px solid #161b20;
  border-radius: 0 4px 4px 0;
}

.ngx-timepicker__control--forth {
  background: #12171d;
  box-shadow: inset 2px 2px 5px #292e35, inset -2px -2px 4px #0d1215;
  border-radius: 6px;
  height: 32px;
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.ngx-timepicker__time-colon {
  margin: 0 !important;
  line-height: 28px;
}

.period-control__button {
  letter-spacing: 2px;
}

.period-control__arrow {
  color: #c1c7d0 !important;
  margin-left: 5px !important;
  font-size: 10px !important;
}

.period-control__button:not(.period-control__button--disabled):focus:after {
  content: none !important;
}

.period-selector {
  background: #091016 !important;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.5), inset 4px 4px 4px #1c232a, inset -4px -4px 4px #040b11 !important;
  border-radius: 4px;
}

.period-selector__button {
  color: $white !important;
}

.period-selector__button:focus {
  background-color: transparent !important;
}

.period-selector__button--active {
  color: $yellow-color !important;
}

.input-textarea.mat-form-field-appearance .mat-form-field-underline {
  height: 0;
}

.input-textarea.mat-form-field-appearance .mat-form-field-infix {
  // padding: 0;
  textarea {
    border: 1px solid #1c232a;
    border-radius: 8px;
    caret-color: $white;
    padding: 10px;
  }
}

.textarea {
  resize: none;

  &.mat-mdc-input-element {
    box-sizing: border-box;
    border: 1px solid #1c232a;
    border-radius: 8px;
    caret-color: #EDEDED;
    padding: 10px;
    font-family: 'Avenir', Helvetica, sans-serif;

    &::placeholder {
      font-family: 'Avenir', Helvetica, sans-serif;
      color: #89898a;
    }
  }
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  content: none !important;
}
.mat-form-field-appearance-fill:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  ~ .mat-form-field-underline
  .mat-form-field-ripple {
  opacity: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0.75em 0 0 !important;

  bego-search-select & {
    padding: 0 1em !important;
  }
}
.browse-btn {
  color: #ffe000;
  text-decoration: underline;
  cursor: pointer;

  &.disabled {
    color: #313336;
    cursor: unset;
    pointer-events: none;
  }
}

// Status dots
.blue-dot {
  color: #61aaff;
}

.yellow-dot {
  color: #ffe000;
}

.grey-dot {
  color: #c1c7d0;
}

.blue-dot-bg {
  color: #61aaff;
}

.yellow-dot-bg {
  color: #ffe000;
}

.grey-dot-bg {
  color: #c1c7d0;
}

.bego-modal {
  display: contents;

  .mat-mdc-dialog-container {
    display: contents;

    .alert-container {
      background: linear-gradient(225deg, #080c0f 0%, rgba(46, 48, 49, 0) 100%);
      box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.5), inset 4px 4px 4px #1c232a, inset -4px -4px 4px #040b11;
      backdrop-filter: blur(35px);
    }
  }
}

.modal {
  .mat-mdc-dialog-container {
    background: #091016;
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.5), inset 4px 4px 4px #1c232a, inset -4px -4px 4px #040b11;
    border-radius: 4px;
    color: $white;
    position: relative;
    padding: 0;

    .mat-mdc-dialog-content {
      max-height: 295px;
    }
  }
}

.backdrop {
  backdrop-filter: blur(4px) !important;
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* TimePicker NGX-Bootstrap */

.timepicker {
  table {
    border-spacing: 0;
    tbody {
      tr {
        &:nth-of-type(2) {
          td {
            &:nth-of-type(1) {
              border-top: 2px solid #161b20;
              border-bottom: 2px solid #161b20;
              border-left: 2px solid #161b20;
              border-right: none;
              border-radius: 4px 0 0 4px;
              input {
                &.bs-timepicker-field {
                  width: 39.5px;
                }
              }
            }
            &:nth-of-type(2) {
              border-top: 2px solid #161b20;
              border-bottom: 2px solid #161b20;
              border-left: none;
              border-right: none;
              border-radius: 0;
              font-size: 18px;
              font-family: 'Avenir', Helvetica, sans-serif;
            }
            &:nth-of-type(3) {
              border-top: 2px solid #161b20;
              border-bottom: 2px solid #161b20;
              border-left: none;
              border-right: 2px solid #161b20;
              border-radius: 0 4px 4px 0;
              input {
                &.bs-timepicker-field {
                  width: 39.5px;
                }
              }
            }
          }
        }
      }
    }
  }
  .bs-timepicker-field {
    color: #ededed;
    text-align: center;
    font-size: 18px;
    font-family: 'Avenir', Helvetica, sans-serif;
    letter-spacing: 2px;
    padding: 0;
  }
  .bs-chevron {
    border-style: none;
    display: inline-block;
  }
  .bs-chevron-up {
    top: 0;
    transform: none;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-bottom: 5.48px solid #494c50;
  }
  .bs-chevron-down {
    top: 0;
    transform: none;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-top: 5.48px solid #494c50;
  }

  .text-center {
    text-align: center;
  }

  a {
    &.btn-link {
      cursor: pointer;
    }
  }

  .btn-default {
    width: 71px;
    background: #12171d;
    box-shadow: inset 2px 2px 5px #292e35, inset -2px -2px 4px #0d1215;
    border-radius: 6px;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500px;
    line-height: 41px;
    letter-spacing: 2px;
    color: #ededed;
    outline: none;
    border: 0;
    cursor: pointer;
  }
}

.input-timer {
  display: flex;
  align-items: center;

  .icon-timer {
    background: #0b1117;
    box-shadow: 0px 10px 10px #040b11, inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
    border-radius: 4px;
    padding: 7.5px;
    text-align: center;
    display: inline-block;
    margin-right: 29px;

    &::before {
      font-size: 21px;
    }
  }
}

.app-full-bleed-dialog .mat-mdc-dialog-container {
  background-color: #0b1117;
  border: 2px solid #171e24;
  border-radius: 8px;
  margin: 0;
}

.input-timepicker.mat-mdc-button.mat-primary,
.mat-mdc-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: #ededed;
}

.icon-invoice-order,
.icon-invoice-cfdi,
.icon-invoice-user,
.icon-invoice-driver {
  font-size: 30px;
  position: relative;
  z-index: 1;
}

.icon-invoice-user {
  color: #ffe000;
}

.icon-invoice-driver {
  color: #ededed;
}

.icon-invoice-order,
.icon-invoice-cfdi {
  color: #2568ef;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    transform: translate(-50%, -3px);
    height: 8px;
    border-radius: 4px;
    background-color: #EDEDED;
    z-index: -1;
  }
}

// Copied from _status.scss
/**********************/
/******* Status *******/
/**********************/

// $color-yellow: #FFCC00;
// $color-white: #ededed;
// $color-green: #67c013;
// $color-red: #de473c;

/*****************************/
/******* Driver Status *******/
/*****************************/

.available {
  border: 2px solid #67c013;
}

.in-service {
  border: 2px solid #de473c;
}

.not-available {
  border: 2px solid #de473c;
}

//To be defined...
.no-status {
  border: 2px solid #c1c7d0;
}

.offline {
  border: 2px solid gray;

  > img {
    filter: grayscale(1);
  }
}

.saved-locations-modal {
  .mat-mdc-dialog-container {
    background: none;
  }
}
/*****************************/
/******* Gradient border *******/
/*****************************/

@mixin gradient-background-small {
  // Establecer el background del contenedor padre
  //background: linear-gradient(140deg, #111416 10%, #2B2E2F 50%, #0C1012 100%);
  background: radial-gradient(112.63% 391.25% at 102.56% 100%, rgba(0, 0, 0, 0.5) 0%, rgba(186, 186, 186, 0.244792) 55.21%, rgba(132, 132, 132, 0) 99.25%);
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5px;
  border-radius: 30px;
  max-width: 306px;
/*
  @include desktop-hd {
    max-width: 320px;

  }
    */

  // Establecer el background del primer hijo
  & > div {
    //background-color: #0D0F11;
    background: linear-gradient(66.07deg, #111518 5.1%, #1c1d20 100%); // new background color

    border-radius: 30px;
    padding: 15px;
    width: auto;
    height: auto;
    min-width: 250px;

    @include desktop-hd {
      min-width: 200px;
    }
  }
}

/*****************************/
/******* Gradient border (chibpt conversation messages) *******/
/*****************************/

@mixin gradient-background-message($chibibot: false) {
  position: relative;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;


  @if $chibibot == true {
    max-width: calc(100% - 170px);

    @media (max-width: 1100px) {
      max-width: calc(100% - 100px);
    }
  } @else {
    max-width: 480px;

    @media (min-width: 1240px) and (max-width: 1390px) {
      max-width: 450px;
    }

    @include desktop-hd {
      max-width: 320px;
    }
  }

  // Establecer el background del primer hijo
  & > div {
    background: linear-gradient(60deg, #0f1416, #1c1e21, #1c2021);
    border-radius: 33px;
    padding: 15px 30px;
    width: auto;
    height: auto;
    min-width: 469px;
    min-height: 51px;
    color: #A0A0A0;  // new text color


    @media (min-width: 1015px) and (max-width: 1390px) {
      min-width: 200px;
    }
  }
}

/*****************************/
/******* Flexbox align *******/
/*****************************/

@mixin flexbox-align($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
