// copied from _home.scss
::ng-deep {
  .map {
    &.map-container {
      position: relative;
    }
  }
}

.google-map {
  height: calc(100vh - 106px);
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &.map-faded-out {
    pointer-events: none;

    ::ng-deep {
      bego-polygons-map .map-container {
        .controls-container,
        google-map {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  &.hide-map {
    pointer-events: none;
    opacity: 0;

    bego-polygons-map {
      display: none;
    }
  }

  &.transparent {
    height: 100vh;
  }
}

.polygons-map-container {
  overflow: hidden;
  font-family: Avenir, Avenir-Medium;

  bego-polygons-map {
    ::ng-deep {
      .polygon-filter {
        position: absolute;
        z-index: -1;
        top: 105px;
        left: 130px;
        z-index: 100;
      }

      .filter-container {
        z-index: 1000;
        padding-left: 20px;
        padding-right: 50px;
        height: 59px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        background: linear-gradient(66.07deg, rgba(8, 12, 15, 0.5) 5.1%, rgba(85, 85, 85, 0) 100%);
        backdrop-filter: blur(20px);
        pointer-events: auto;

        &::before {
          border-radius: inherit;
          content: '';
          position: absolute;
          inset: 0;
          background: linear-gradient(133.09deg, rgba(8, 12, 15, 0.85) 24.22%, rgba(23, 29, 35, 0.85) 94.67%);
          z-index: -1;
          padding: 1px;
          -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
        }

        &:hover {
          cursor: pointer;
        }

        .action-btn {
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 35px;
          padding-right: 28px;
          color: #ededed;

          span {
            text-decoration: underline;
            text-underline-offset: 2px;
          }

          bego-icon {
            --color: #ededed;
            --font-size: 20px;
            margin-right: 22px;
            margin-top: 4px;
          }

          &.active-btn {
            color: #ffee00;
            bego-icon {
              --color: #ffee00;
              margin-right: 22px;
            }
          }
        }

        .disabled-btn {
          color: #313336;

          bego-icon {
            --color: #313336;
          }
        }

        .divider {
          width: 1px;
          height: 100%;
          background: #535556;
        }

        .active-checkbox {
          margin-left: 27px;
          font-family: Avenir;
          font-size: 13px;
          font-weight: 800;
          color: #ededed;

          --mdc-theme-text-primary-on-background: #ffee00;
          --mdc-checkbox-unselected-icon-color: #ffee00;
          --mdc-checkbox-unselected-focus-icon-color: #ffee00;
          --mdc-checkbox-unselected-hover-icon-color: #ffee00;
          --mdc-checkbox-unselected-pressed-icon-color: #ffee00;

          --mdc-checkbox-selected-checkmark-color: white;
          --mdc-checkbox-selected-icon-color: black;
          --mdc-checkbox-selected-focus-icon-color: black;
          --mdc-checkbox-selected-hover-icon-color: black;
          --mdc-checkbox-selected-pressed-icon-color: black;

          ::ng-deep &.mat-mdc-checkbox-checked .mdc-checkbox__background {
            border-color: #ffee00 !important;
          }
          ::ng-deep {
            .mat-datepicker-content:before {
              background: none;
            }
          }
        }
      }

      bego-polygon-filter {
        display: none;
        position: absolute;
        top: 100px;
        left: 0px;
      }

      .open-filter {
        display: block;
      }
    }
  }

  .active-polygons {
    ::ng-deep {
      .map-container .controls-container {
        transition: all 0.3s;
        --controlXPos: 430px;
        --controlYPos: 21vh;
        translate: 0 100%;
      }
    }
  }
  .active-filter {
    ::ng-deep {
      .map-container .controls-container {
        transform: translateX(420px);
      }
    }
  }
}
