<div class="orders-list-container">
  <div class="orders-list-row">
    <bego-tabs [tabs]="orderTabsText" (onTabChange)="selectTab($event)"></bego-tabs>
    <!-- <div class="orders-list-filter">
      <p>Filter</p>
      <img src="../../../../../assets/images/history/filter.svg" alt="">
    </div> -->
    <div class="orders-search">
      <i class="icon icon-search"></i>
      <input [(ngModel)]="inputSearch" (ngModelChange)="searchOrder($event)" type="text" [placeholder]="'draft.txt-search' | translate">
    </div>
  </div>

  <mat-tab-group [(selectedIndex)]="currentTabIndex"  >

    <mat-tab *ngFor="let tab of Object.keys(orderTabs), index as i" >
      <app-order-card
        *ngFor="let order of orderTabs[tab].orders, index as j"
        [order]="order"
        [active]="selectedOrderId == order._id"
        (click)="sendData(order, i)"
        [language]="language">
      </app-order-card>  
    </mat-tab>

  </mat-tab-group>

  <div class="draft-item-container">

  </div>

  <div class="order-pagination" *ngIf="!noOrdersInCurrentTab">
    <div class="pagination">
      <i class="icon icon-back"></i>
      <p class="pagination-back" [ngClass]="currentPage == 1 ? 'desactivated' : ''" (click)="selectedArrowPage('prev')">
        {{ 'history.btns.prev' | translate }}
      </p>
     <!--  <mat-form-field>
        <mat-select>
          <mat-option *ngFor="let page of pagesGroup" [value]="page">
            {{page}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <div class="current-pagination" (click)="changeCurrentPage()">{{currentPage}} <i class="icon icon-triangle-down"></i></div>
      <div class="select-page" *ngIf="showSelectPage">
        <p *ngFor="let page of pagesGroup" (click)="selectedPage(page)">{{page}}</p>
      </div>
      <p class="pagination-next" [ngClass]="currentPage >= paginationPages ? 'desactivated' : ''" (click)="selectedArrowPage('next')">
        {{ 'history.btns.next' | translate }}
      </p>
      <i class="icon icon-next"></i>
    </div>
  </div>
</div>