@use 'src/styles.scss';

.orders-list-container {
  width: 100%;
  height: 100%;
  padding: 0px 30px;

  &.no-orders{
    width: 100%;
  }

  .orders-list-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;

    @media screen  and (min-width: 1280px){
      min-width: 646px;
    }


    @media only screen and (max-width: 1115px) {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }


    .orders-list-filter {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 89px;
      background: linear-gradient(180deg, #080F15 0%, #171D23 100%);
      border: 3px solid #10161C;
      box-shadow: inset 3px 3px 8px 3px #111416;
      border-radius: 30.5px;
      margin-left: 19px;

      p {
        margin-left: 14px;
      }

      img {
        width: 14px;
        height: 14px;
        margin-left: 14px;
        margin-right: 11px;
      }
    }

    .orders-search {
      display: flex;
      align-items: center;
      background: linear-gradient(180deg, #080F15 0%, #171D23 100%);
      border: 3px solid #10161C;
      box-shadow: inset 3px 3px 8px 3px #111416;
      border-radius: 30.5px;
      margin-left: 10px;
      min-height: 43px;

      .icon-search {
        margin-left: 12px;
        margin-right: 20px;
        font-size: 15px;
      }

      input {
        color: white
      }
    }
  }

  .orders-list-row-cards {
    max-width: 646px;
    width: 646px;
    height: 178.02px;
    background: #0B1117;
    box-shadow: inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
    border-radius: 8px;

    .date-order {
      display: flex ;
      justify-content: space-between;
      padding-top: 19.02px;
      margin-bottom: 19px;
      font-family: 'Avenir-Light';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.5px;
      text-transform: capitalize;

      color: #C1C7D0;


      p:nth-child(1) {
        margin-left: 80px;
      }

      p:nth-child(2) {
        margin-right: 57px;
        font-weight: 800;
        color: #FFE000;
      }
    }

    .address-order {
      display: flex;
      flex-direction: row;

      .card-selector {
        display: flex;
        align-items: center;
        width: 54px;
        margin-right: 26px;
      }

      .pickup-dropoff-info {
        display: flex;
        justify-content: center;
        height: 86px;
        .icons-navigation {
          display: flex;
          flex-direction: column;
          margin-right: 17px;
          img:nth-child(1) {
            width: 16.51px;
            height: 16.51px;
          }
        }

        .pickup-info {
          margin-bottom: 20px;
        }

        .pickup-address-title,
        .dropoff-address-title {
          font-family: 'Avenir-light';
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.5px;
          text-transform: capitalize;
          color: #C1C7D0;
        }

        .pickup-address-text,
        .dropoff-address-text {
          font-family: 'Avenir-Light';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.5px;
          text-transform: capitalize;

          color: #FFFFFF;
        }
      }
    }
  }

  //new styles

  .draft-item {
    max-width: 646px;
    margin: 0 0 30px 0;
    cursor: pointer;
    display: flex;
    align-items: stretch;

    .draft-radio {
        background: #0B1117;
        box-shadow: inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
        border-radius: 8px 0 0 8px;
        display: flex;
        align-items: center;
        padding: 10px;

        .radio {
            width: 35px;
            height: 35px;
            position: relative;
            background: #10161C;
            border-radius: 50%;

            &:before {
                width: 23px;
                height: 23px;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                border: 2px solid #1C232A;
                border-radius: 50%;
                transition: all .2s ease-in-out;
            }

            &:after {
                width: 25px;
                height: 25px;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                background: #10161C;
                box-shadow: inset 0px 4px 4px #000000;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }

            &.active {
                &:before {
                    background: url('../../../../../assets/images/drafts/radio-active.svg');
                    z-index: 1;
                    background-size: cover;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }

    .draft-arrow {
        background: #0B1117;
        box-shadow: inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
        border-radius: 0 8px 8px 0;
        display: flex;
        align-items: center;
        padding: 8px;

        .icon {
            width: 30px;
            height: 30px;
            display: inline-block;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
        }
    }

    .draft-info {
        background: #0B1117;
        box-shadow: inset 0px 3px 0px #1a1e24;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 20px 20px;

        .drafts-data-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            color: styles.$light-color;

            .order-date-info {
              display: flex;
              flex-direction: row;
              div:nth-child(1),
              div:nth-child(2) {
                  display: flex;
                  align-items: center;

                  &::after {
                      font-family: styles.$icomoon-font-family;
                      content: "\e909";
                      font-size: 4px;
                      padding: 0 5px;
                  }
              }
            }

            /* p {
              display: flex;
              align-self: end;
            } */
            .earning-order-info {
              font-family: 'Avenir-Light';
              font-style: normal;
              font-weight: 800;
              font-size: 14px;
              line-height: 19px;
              color: styles.$yellow-color;
            }

        }

        .order-status {
          p {
            font-family: 'Avenir-Light';
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            text-align: end;
            color: #C1C7D0;

            i {
              font-size: 8px;
            }
          }
        }

        .drafts-data-body {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            color: styles.$light-color;
            padding: 23px 0 27px 35px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: calc(50% - 4px);
                left: 10px;
                height: 30px;
                width: 0px;
                transform: translate(0, -50%);
                border-left: 1px dashed #ffffff;
                background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
            }

            .drafts-addresses {
                position: relative;

                label {
                    display: block;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: styles.$light-color;
                    cursor: pointer;
                }

                .addresses {
                    color: styles.$white;
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    text-transform: capitalize;
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                    white-space: nowrap;
                }

                &:before {
                    position: absolute;
                    top: 50%;
                    left: -44px;
                    transform: translate(50%, -50%);
                    content: '';
                    background: #091016;
                    box-shadow: inset 2px 2px 4px #1C232A, inset -2px -2px 4px #040B11;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    font-family: '#{styles.$icomoon-font-family}' !important;
                    text-align: center;
                    line-height: 22px;
                }

                &:first-child {
                    margin-bottom: 20px;
                    &:before {
                        content: styles.$icon-pickup;
                        font-size: 13px;
                        color: styles.$yellow-color;
                        top: 0;
                        transform: translate(50%, 0);
                    }
                }

                &:last-child {
                    &:before {
                        content: styles.$icon-dot;
                        font-size: 6px;
                        color: styles.$white;
                    }
                }
            }
        }

        .drafts-data-footer {
            .percentage {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.5px;
                text-transform: capitalize;
                color: styles.$light-color;
                padding: 4.5px 0 0 0;
            }
        }
    }
}


  .pagination {
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #EDEDED;

    .icon-back {
      margin-right: 10px;
      cursor: pointer;
    }

    .pagination-back {
      padding-right: 8px;
      border-right: 0.5px solid #EDEDED;
      cursor: pointer;
    }

    .pagination-next {
      padding-left: 8px;
      border-left: 0.5px solid #EDEDED;
      cursor: pointer;
    }

    .current-pagination {
      display: flex;
      align-items: center;
      padding: 0 7px;
      cursor: pointer;
    }

    .icon-triangle-down {
      margin-left: 4px;
      font-size: 8px;
    }

    .icon-next {
      margin-left: 10px;
      cursor: pointer;
    }

    .select-page {
      position: absolute;
      bottom: -5px;
      z-index: 1;
      left: 50%;
      translate: -50%;
      max-height: calc(26px * 5);
      overflow: auto;
      display: flex;
      flex-direction: column;
      background: black;
      cursor: pointer;
      transition: 10s ease-in;

      & p {
        padding: 5px 10px;
      }
    }

    .desactivated {
      color: #494C50;
    }
  }

  ::ng-deep .mat-mdc-tab-header {
    display: none!important;
  }
}
