<div class="order-info-container">
  <div class="order-info-row-status">
    <div class="order-data-gral">
      <div>
        <div class="order-reference-date">
          <p class="order-reference">{{'history.history_detail.reference' | translate }}
            {{orderInfo['reference_number']}}</p>
        </div>
        <div class="order-number">{{'history.history_detail.order' | translate }} #{{orderInfo['order_number']}}</div>
        <div class="order-date">
          {{ selectedInfo?.start_date | date: 'dd/MM/yyyy' }}
          <i class="icon icon-dot"></i>
          {{ selectedInfo?.start_date | date: 'shortTime' }}
          {{ selectedRow === 'dropoff' ? ' - ' + (selectedInfo?.end_date | date: 'shortTime') : '' }}
        </div>
      </div>
      <div class="edit-cn-btn-wrapper">
        <app-edit-cn-btn *ngIf="orderInfo.user_id == orderInfo.manager?._id && orderInfo.type !== 'OCL'" [progress]="orderInfo?.stampedPercentage"
          [orderId]="orderInfo._id"></app-edit-cn-btn>
      </div>

    </div>

    <div class="order-info-status">
      <div class="status-active">
        <div class="draft-radio">
          <div class="radio" [ngClass]="selectedRow == 'pickup' ? 'active' : ''"></div>
        </div>
        <span class="dot-line"></span>
        <div class="draft-radio">
          <div class="radio" [ngClass]="selectedRow == 'dropoff' ? 'active' : ''"></div>
        </div>
      </div>

      <div class="status-address" *ngIf="orderInfo.destinations">
        <div (click)="changePickupDropoff('pickup')" class="pickup-status-address">
          <div class="pickup-address">
            <p class="pickup-title"> {{'history.history_detail.pickup'| translate }}</p>
            <p class="pickup-text-address">{{orderInfo.destinations?.[0]?.address}}</p>
          </div>
          <div class="pickup-status">
            <div class="pickup-status-text">
              <i class="icon icon-dot" [ngClass]="orderInfo.destinations[0].status_class"></i>
              {{orderInfo.destinations[0].status_string}}
            </div>
          </div>
        </div>

        <div (click)="changePickupDropoff('dropoff')" class="dropoff-status-address">
          <div class="dropoff-address">
            <p class="dropoff-title">{{'history.history_detail.dropoff' | translate }}</p>
            <p *ngIf="orderInfo.destinations?.[1].address; else addressPending" class="pickup-text-address">
              {{ orderInfo.destinations?.[1]?.address }}
            </p>
            <ng-template #addressPending>
              <p class="pickup-text-address pending" (click)="showLocationModal = true">
                {{ 'history.history_detail.pending' | translate }}
              </p>
            </ng-template>
          </div>
          <div class="dropoff-status">
            <div class="dropoff-status-text">
              <i class="icon icon-dot" [ngClass]="orderInfo.destinations[1].status_class"></i>
              {{orderInfo.destinations[1].status_string}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div
  class="embla"
  #embla
>
  <div class="embla__viewport" #viewPort>
    <div class="embla__container">
      
      <!-- Order status slide -->
      <div class="embla__slide" [ngClass]="{current: sliderIndex == 0}">
        <div class="embla__slide__inner">
          <div class="investor-slide">
            <div>
              <app-driver-status-card 
                [title]="selectedRow" 
                [orderData]="orderInfo"
                (editOrder)="slider.scrollNext()">
              </app-driver-status-card>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit order info slide  -->
      <!-- Fleet edition not available for now as its not working as expected-->
      <div class="embla__slide"  [ngClass]="{current: sliderIndex == 1}">
        <div class="embla__slide__inner">
          <div class="investor-slide">
            <app-edit-order-fleet
              [orderData]="orderInfo"
              (goBack)="slider.scrollPrev()"
              (edit)="chooseFleetElement($event)">
            </app-edit-order-fleet>

          </div>
        </div>
      </div>

      <!-- Change fleet element goes here  -->
      <!-- Change fleet not available for now!!-->
      <div class="embla__slide"  [ngClass]="{current: sliderIndex == 2}">
        <div class="embla__slide__inner">
          <div class="investor-slide"> 
            <app-choose-fleet-element 
              #chooseFleetElementRef
              [orderInfo]="orderInfo"
              (goBack)="slider.scrollPrev()"
              (infoUpdated)="infoUpdated.emit($event); slider.scrollPrev()">
            </app-choose-fleet-element>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  

  <!-- WE ARE NOT APPLYING RULES FOR MANAGERS-->
  <app-download-invoices #downloadInvoicesRef *ngIf="orderInfo.user_id == orderInfo.manager?._id && orderInfo.type !== 'OCL'" [orderId]="orderInfo._id"
    [orderRefNumber]="orderInfo.order_number" [pdf]="true" [xml]="true"></app-download-invoices>

  <app-drop-down *ngIf="selectedRow === 'pickup'" [title]=" 'history.history_detail.pickup_info_tab' | translate ">
    <app-pickup-dropoff-info title="pickup" [orderData]="orderInfo"></app-pickup-dropoff-info>
  </app-drop-down>

  <app-drop-down *ngIf="selectedRow === 'dropoff'" [title]=" 'history.history_detail.dropoff_info_tab' | translate ">
    <app-pickup-dropoff-info title="dropoff" [orderData]="orderInfo"></app-pickup-dropoff-info>
  </app-drop-down>

  <app-order-evidence *ngIf=" orderInfo?.status >= 3" [orderData]="selectedInfo" [orderId]="orderInfo?._id"
    [orderStatus]="orderInfo?.status"
    [commentsText]="selectedRow == 'pickup' ? orderInfo?.cargo?.description : orderInfo?.destinations?.[1]?.extra_notes">
  </app-order-evidence>

  <div class="earnings-card" *ngIf="orderInfo.pricing" >
    <div class="total-price">
      <small><b>{{ 'history.total_earnings' | translate }}:</b></small>
      <small class="driver-earnings">
        {{ orderInfo.pricing?.driver_earnings ? (orderInfo.pricing?.driver_earnings | currency ) : '-' }}
      </small>
    </div>
  </div>

  <!-- <app-price-details [orderData]="orderInfo"></app-price-details> -->
</div>

<bego-modal
  *ngIf="showLocationModal"
  class="location-modal"
  (clickOut)="closeLocationModal()"
  [disabledDone]="true"
>
  <app-saved-locations (pickLocation)="updateDropoff($event)"></app-saved-locations>
</bego-modal>
