@use 'src/styles.scss';

.order-info-container {
  max-width: 508px;
  width: 508px;
  background: #0B1117;
  box-shadow: inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
  border-radius: 15px;

  .order-info-row-status {
    padding-bottom: 16px;
    box-shadow: 0px 10px 10px #040B11, inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
    border-radius: 8px;

    .order-data-gral {
      display: flex;
      justify-content: space-between;
      margin: 0px 46px 32px 46px;
      padding-top: 39px;
      .order-date{
        font-family: 'Avenir-Light';
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: #ededed;
      }
      .icon {
        font-size: 5px;
        color: #EDEDED;
        line-height: 18px;
        margin: 0 5px;
        line-height: 32px;
      }

      .edit-cn-btn-wrapper{
        align-self: center;
      }
    }
  }

  .order-number {
    font-family: 'Avenir-Light';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: capitalize;

    color: #FFFFFF;
  }

  .order-reference-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    p {
      font-family: 'Avenir-Light';
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      color: #FFFFFF;
    }



    p:nth-child(2) {
      margin-right: 40px;
      display: flex;
      align-items: center;
    }
  }

  .order-info-status {
    display: flex;

    .status-active {
      display: flex;
      flex-direction: column;
      margin-left: 50px;

      .draft-radio {
        background: #0B1117;
        border-radius: 8px 0 0 8px;
        display: flex;
        align-items: center;
        padding: 0px 10px 0 0;
        margin-left: 4px;
        .radio {
            width: 35px;
            height: 35px;
            position: relative;
            background: #10161C;
            border-radius: 50%;

            &:before {
                width: 23px;
                height: 23px;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                border: 2px solid #1C232A;
                border-radius: 50%;
                transition: all .2s ease-in-out;
            }

            &:after {
                width: 25px;
                height: 25px;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                background: #10161C;
                box-shadow: inset 0px 4px 4px #000000;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }

            &.active {
                &:before {
                    background: url('../../../../../assets/images/drafts/radio-active.svg');
                    z-index: 1;
                    background-size: cover;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
      }
    }

    .dot-line {
      width: 0px;
      height: 61px;
      position: relative;
      right: -21px;
      border-left: 1px dashed;
    }

    .status-address {
      display: flex;
      flex-direction: column;

      .pickup-status-address {
        padding-bottom: 16.35px;
        border-bottom: 1px solid #1C232A;
      }

      .dropoff-status-address {
        padding-top: 16.35px;
      }

      .pickup-status-address,
      .dropoff-status-address {
        display: flex;
        margin-right: 25px;
        align-items: center;
        min-height: 70px;
        cursor: pointer;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          left: -49px;
        }
      }

      .pickup-address,
      .dropoff-address {
        flex: 1;
      }

      .pickup-title,
      .dropoff-title,
      .pickup-text-address,
      .dropoff-text-address {
        font-family: 'Avenir-Light';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: #C1C7D0;
      }

      .pickup-text-address,
      .dropoff-text-address {
        max-width: 300px;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;

        &.pending {
          color: #fe0;
          text-decoration: underline;
        }
      }

      .pickup-title-address,
      .dropoff-title-address {
        font-family: 'Avenir-Light';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
      }

      .pickup-status-text,
      .dropoff-status-text {
        display: flex;
        justify-content: center;
        font-family: 'Avenir-Light';
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #C1C7D0;
        width: 85px;
        height: 16px;
        background: #0B1117;
        box-shadow: inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;
        border-radius: 8px;

        & i {
          font-size: 8px;
          margin-right: 10px;
        }
      }
    }

    
  }
}

app-drop-down {
  margin-top: 35px;
}


::ng-deep{
  .invoices{
    margin-top: 50px!important;
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
}

.total-price {
  padding: 15px 0px;
  text-align: center;

  .title {
    color: #ededed;
    font-family: Avenir;
    font-size: 16px;
  }

  .earnings {
    color: #ededed;
    font-family: Avenir;
    font-size: 8vw;
    font-weight: 900;
  }

  .driver-earnings {
    @include styles.fluid('font-size', 320px, 375px, 11px, 14.5px);
    color: #FFE000;
  }
}

$dark1: #10161c;
.earnings-card{
  background: #0B1117;
  box-shadow: 0px 4px 4px #040b11, inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
  border-radius: 10px;
  margin-top: 50px;
}

.investor-slide {
  height: 100%;
}

/**************************/
/********* Embla **********/
/**************************/
.embla {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}



.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  margin-right: 20px;
  overflow: hidden;
  opacity: 0;
  max-height: 0px;
  min-height: 415px;
  transition: max-height 1.5s , opacity 1.5s;

  &.current{
    max-height: 1000px;
    opacity: 1;
  }

  &__inner {
    height: 100%;
  }
}

.location-modal {
  --modalHeight: min(600px, 50vh);

  ::ng-deep .modal {
    padding: 0 !important;
  }

  ::ng-deep .backdrop {
    pointer-events: all;
  }

  ::ng-deep app-saved-locations {
    .list {
      overflow: auto;
    }

    .btn-back {
      display: none;
    }
  }
}
