.step1 {
  margin: 30px 57px;
}

form {
  margin: 40px 0 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

bego-input {
  ::ng-deep .custom-input {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  span {
    white-space: nowrap;
  }

  span, bego-phone-code-select {
    min-width: 100px;
    flex-shrink: 0;
  }

  input {
    text-align: center;
  }
}

bego-calendar-time {
  ::ng-deep .calendar-container {
    justify-content: flex-start;
  }
}
