<div class="step1">
  <h3 class="formgroup-title-required">{{  'orders.title-personal-info' | translate }}</h3>

  <form [formGroup]="form">
    <bego-input>
      <span>{{ 'orders.title-fullname' | translate }}*</span>
      <input uiInput type="text" [placeholder]="'orders.placeholder-fullname' | translate" formControlName="name" />
    </bego-input>
    <bego-input>
      <bego-phone-code-select
        theme="secondary"
        [selectedPhoneCode]="form.controls.phone_code.value"
        [flag]="form.controls.phone_flag.value"
        (sendValues)="updatePhoneCode($event)"></bego-phone-code-select>
      <input
        uiInput
        type="tel"
        [attr.mask]="form.controls.phone_flag.value"
        [placeholder]="'orders.placeholder-phone' | translate"
        formControlName="phone_number" />
    </bego-input>
    <bego-input>
      <span>Email*</span>
      <input uiInput type="email" placeholder="email@gmail.com" formControlName="email" />
    </bego-input>
    <bego-input>
      <span>{{ 'orders.title-reference' | translate }}*</span>
      <input
        uiInput
        type="text"
        [placeholder]="'orders.placeholder-reference' | translate"
        formControlName="reference" />
    </bego-input>

    <bego-calendar-time
      *ngIf="cardIsOpen"
      [disabled]="true"
      [defaultDate]="form.controls.date.value"
      (changeValue)="updateDate($event)"></bego-calendar-time>
  </form>
</div>
