<div class="steps">
  <form [formGroup]="step1Form">
    <div class="steps-container">
      <h2 class="formgroup-title-required">{{ 'orders.title-personal-info' | translate }}</h2>

      <div class="field">
        <bego-label-input size="small" [textLabel]="('orders.title-fullname' | translate) + '*'"></bego-label-input>
        <bego-input
          keyValue="fullname"
          (value)="updateFormGroup($event)"
          [placeholder]="'orders.placeholder-fullname' | translate"
          [setValue]="step1Form.get('fullname')!.value"></bego-input>
      </div>

      <div class="row-field">
        <div class="field">
          <bego-phone-code-select
            [flag]="phoneFlag | lowercase"
            [selectedPhoneCode]="phoneCode"
            (sendValues)="phoneCodeChanged($event)"></bego-phone-code-select>
          <bego-input
            type="phone"
            size="small"
            [setValue]="phoneNumber"
            [validators]="phoneValidator"
            (value)="phoneNumberChangeValue($event)"
            [placeholder]="'orders.placeholder-phone' | translate"
            [setValue]="step1Form.get('phonenumber')!.value"></bego-input>
        </div>

        <div class="field">
          <bego-label-input size="small" textLabel="Email*"></bego-label-input>
          <bego-input
            keyValue="email"
            type="email"
            size="small"
            [validators]="emailValidator"
            (value)="updateFormGroup($event)"
            [placeholder]="'orders.placeholder-mail' | translate"
            [setValue]="step1Form.get('email')!.value"></bego-input>
        </div>
      </div>

      <div class="field" *ngIf="orderWithCP">
        <bego-label-input size="small" textLabel="RFC*"></bego-label-input>
        <bego-rfc-input
          theme="secondary"
          (valueChanges)="updateRFC($event)"
          [values]="rfcComponentValues"
          [lang]="{
            country_of_residence: 'orders.tax-country_of_residence' | translate,
            registration_number: 'orders.tax-registration_number' | translate,
            invalid_rfc: 'checkout.invalid_rfc' | translate,
            not_found: 'orders.rfc-not_found' | translate,
            cancel: 'orders.btn-cancel' | translate
          }"></bego-rfc-input>
      </div>

      <div class="field" *ngIf="orderWithCP">
        <bego-label-input size="small" [textLabel]="('orders.title-company_name' | translate) + '*'"></bego-label-input>
        <bego-input
          keyValue="company_name"
          (value)="updateFormGroup($event)"
          [placeholder]="'orders.placeholder-company_name' | translate"
          [setValue]="step1Form.get('company_name')!.value"></bego-input>
      </div>

      <div class="field">
        <bego-label-input size="small" [textLabel]="('orders.title-reference' | translate) + '*'"></bego-label-input>
        <bego-input
          keyValue="reference"
          (value)="updateFormGroup($event)"
          [placeholder]="'orders.placeholder-reference' | translate"
          [setValue]="step1Form.get('reference')!.value"></bego-input>
      </div>
      <ng-container *ngIf="isDraft">
        <bego-calendar-time
          *ngIf="cardIsOpen"
          [disabled]="false"
          [defaultDate]="datePickup"
          (changeValue)="getPickupDate($event)"></bego-calendar-time>
      </ng-container>
    </div>
  </form>
</div>
