@use 'src/styles.scss';

.address-box {
    padding: 36px 20px 23px 57px;
    margin-bottom: 32px;
    max-width: 545px;
    transform: translateX(-57px);
    border-radius: 0 8px 8px 0;
    background-color: #0B1117;
    box-shadow: 0px 10px 10px #040B11, inset 2px 2px 5px #1A1E24, inset -2px -2px 4px #050D14;

    p {
        color: #EDEDED;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        padding-left: 65px;
        margin-bottom: 58px;

        span {
            display: block;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #C1C7D0;
        }
    }

    .btn-change {
        color: #C1C7D0;
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        margin: 0;
        letter-spacing: 0.5px;
        position: relative;
        padding-left: 65px;
        text-transform: capitalize;
    }

    .icons {
        &::before {
            content: '';
            font-family: styles.$icomoon-font-family;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            border-radius: 50%;
        }
    }

    .address-check {

        &::before {
            content: "\e916";
            font-size: 25px;
            background: #1C232A;
            box-shadow: inset -2px -2px 4px #10161C, inset 2px 2px 4px #1C232A;
        }
    }

    .change-route {
        display: inline;
        cursor: pointer;
        &::before {
            content: "\e909";
            font-size: 11px;
            width: 33px;
            height: 33px;
            color: styles.$yellow-color;
            border: 1px solid #494C50;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 74px;
        transform: translate(-0.5px, 0);
        width: 1px;
        height: 27px;
        background: #C1C7D0;
    }
}

::ng-deep .done-button .mdc-button__label {
    color: black !important;
}
