<div>
  <bego-ticket>
    <div header>
      <h1 class="order-number">{{ 'checkout.txt-order' | translate }} #{{ orderData?.order_number }}</h1>
    </div>

    <div body>
      <form [formGroup]="summaryForm">
        <div class="ticket-row">
          <div class="title">
            {{ 'orders.title-personal-info' | translate }}
          </div>
        </div>

        <!-- full name -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-fullname' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow">
              <input [disabled]="formIsDisabled" matInput [value]="orderData?.[selectedCard]?.contact_info.name" />
            </mat-form-field>
          </div>
        </div>

        <!-- phone number -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-phonenumber' | translate }}
          </div>
          <div>
            <bego-phone-input
              design="inner-shadow"
              [arrow]="false"
              [(phoneFlag)]="orderData?.[selectedCard]?.contact_info.country_code"
              [(phoneCode)]="orderData?.[selectedCard]?.contact_info.dialCode"
              [(phoneNumber)]="orderData?.[selectedCard]?.contact_info.barePhone"
              [disabled]="formIsDisabled">
            </bego-phone-input>
          </div>
        </div>

        <!-- email -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.placeholder-email' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow">
              <input [disabled]="formIsDisabled" matInput [value]="orderData?.[selectedCard]?.contact_info.email" />
            </mat-form-field>
          </div>
        </div>

        <!-- reference -->
        <div class="ticket-row" *ngIf="selectedCard === 'pickup'">
          <div>
            {{ 'checkout.txt-reference' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow">
              <input [disabled]="formIsDisabled" matInput [value]="orderData?.reference_number" />
            </mat-form-field>
          </div>
        </div>

        <hr />

        <div class="ticket-row">
          <div class="title">
            {{ 'orders.title-cargo-info' | translate }}
          </div>
        </div>

        <div *ngIf="selectedCard === 'pickup'">
          <!-- units -->
          <div class="ticket-row">
            <div>
              {{ 'checkout.units' | translate }}
            </div>
            <div>
              <mat-form-field class="inner-shadow">
                <input
                  [disabled]="formIsDisabled"
                  matInput
                  value="({{ orderData?.cargo?.required_units }}) {{ orderData?.cargo?.['53_48'] }} {{
                    'checkout.units' | translate
                  }} = {{ orderData?.pricing?.subtotal | number: '1.2' }} MXN" />
              </mat-form-field>
            </div>
          </div>

          <!-- weight -->
          <div class="ticket-row">
            <div>
              {{ 'checkout.weight' | translate }}
            </div>
            <div>
              <div class="weight-details">
                <div *ngFor="let weight of orderData?.cargo?.weigth; index as i">
                  <p>{{ 'checkout.unit' | translate }} {{ i + 1 }} - {{ weight }} {{ 'checkout.tons' | translate }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- cargo type -->
          <div class="ticket-row">
            <div>
              {{ 'checkout.cargo-type' | translate }}
            </div>
            <div>
              <mat-form-field class="inner-shadow">
                <input
                  [disabled]="formIsDisabled"
                  matInput
                  [value]="
                    orderData?.cargo?.type === 'general'
                      ? (orderData?.cargo?.type | titlecase)
                      : orderData?.cargo?.type === 'hazardous'
                      ? ('checkout.hazardous' | translate | titlecase) +
                        ' ' +
                        (orderData?.cargo.hazardous_type | titlecase)
                      : ''
                  " />
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- merchandise type -->
        <div class="ticket-row" *ngIf="selectedCard === 'pickup'">
          <div>
            {{ 'checkout.merchandise_type' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow">
              <input
                [disabled]="formIsDisabled"
                matInput
                [value]="orderData?.cargo?.cargo_goods ? orderData?.cargo.cargo_goods : ''" />
            </mat-form-field>
          </div>
        </div>

        <!-- date -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.date' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow">
              <input
                [disabled]="formIsDisabled"
                matInput
                [value]="orderData?.[selectedCard]?.startDate | date:'MMMM dd'" />
            </mat-form-field>
          </div>
        </div>

        <!-- time -->
        <div class="ticket-row">
          <div>
            {{ 'checkout.time' | translate }}
          </div>
          <div>
            <mat-form-field class="inner-shadow">
              <input
                [disabled]="formIsDisabled"
                matInput
                [value]="orderData?.[selectedCard]?.startDate | date:'hh:mm'" />
            </mat-form-field>
          </div>
        </div>

        <!-- cargo description & order comments -->
        <textarea [disabled]="formIsDisabled" class="comments"
          >{{ selectedCard === 'pickup' ? orderData?.cargo?.description : orderData?.dropoff.extra_notes }}
        </textarea>
      </form>
    </div>
  </bego-ticket>
</div>
