@use 'src/styles.scss';

.ticket-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align:left;
  font-size: 18px;
  font-weight: 500;
  padding: 17px 0px;
  color: #ededed;

  .title{
    font-size: 20px;
  }

}

.edit-btn{
  text-align: right;

  .mat-mdc-button{
    color: #FFE000;
    font-size: 16px
  }
}

.weight-details{

  @include styles.inner-shadow;

  min-height: 30px;
  text-align: right;
  padding: 5px 24px;

  >div{
    margin: 7px 0px;
  }

}


.order-number{
  font-size: 30px;
  padding: 10px;
  font-weight: 500;
}
