<bego-modal
  [ngClass]="{ 'first-step': !sended }"
  [enabledBack]="!sended"
  [activatedDone]="sended || validForm"
  (backEmitter)="back()"
  (closeEmitter)="actions($event)"
  [lang]="{ done: ('home.polygon-filter.share.' + (this.sended ? 'sended.done' : 'form.send') | translate) }"
  [image]="sended ? 'email' : ''"
  [simple]="
    sended && {
      title: 'home.polygon-filter.share.sended.title' | translate,
      subtitle: 'home.polygon-filter.share.sended.subtitle' | translate
    }
  ">
  <div class="share-report-container" *ngIf="!sended">
    <span class="title">{{ 'home.polygon-filter.share.form.title' | translate }}</span>
    <p class="subtitle">{{ 'home.polygon-filter.share.form.subtitle' | translate }}</p>

    <div class="input-container" [formGroup]="shareForm">
      <div class="input">
        <span>{{ 'home.polygon-filter.share.form.name' | translate }}</span>
        <input
          type="text"
          [placeholder]="'home.polygon-filter.share.form.placeholder' | translate"
          formControlName="name" />
      </div>

      <div class="input">
        <span>{{ 'home.polygon-filter.share.form.email' | translate }}</span>
        <input type="text" placeholder="email@gmail.com" formControlName="email" />
      </div>
    </div>
  </div>
</bego-modal>
