.page-header {
  margin: 24px 54px 24px 54px;
  display: flex;
  justify-content: space-between;

  .toolbar-right {
    display: flex;
    align-items: center;

    button {
      margin: 0 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
