<section>
  <div>
    <app-stepper
      [stepWithPadding]="true"
      [(selectedSlide)]="currentStepIndex"
      (selectedSlideChange)="calculateProgress()"
      [progress]="checkoutProgress"
      [steps]="checkoutSteps">
    </app-stepper>

    <div>
      <!-- only show cards if selected tab is 'summary'-->
      <div class="previewBox" (click)="getInvoicePreview()" *ngIf="currentStepIndex === checkoutSteps.length - 1">
        <app-button class="icon icon-document icon-only"></app-button>
        <div class="name">
          <span *ngIf="summaryData.order_number">{{ summaryData.order_number }}.pdf</span>
          <span *ngIf="!summaryData.order_number">{{ 'checkout.preview' | translate }}.pdf</span>
          <span>{{ 'checkout.invoice-preview' | translate }}</span>
        </div>
      </div>

      <div class="pickup-dropoff-cards" *ngIf="currentStepIndex === checkoutSteps.length - 1">
        <bego-radio-card (click)="changeSelectedCard('pickup')" [cardIsSelected]="selectedCard === 'pickup'">
          <div class="pickup-dropoff-content">
            <div>
              <div class="title">
                {{ 'checkout.txt-pickup' | translate }}
              </div>
              <div class="details">
                {{ summaryData?.pickup.startDate | date: 'dd/MM/yyyy' }}
                <span class="separator-dot"></span>
                {{ summaryData?.pickup.startDate | date: 'hh:mm' }}
                <span class="separator-dot"></span>
                #{{ summaryData?.order_number }}
              </div>

              <div class="directions">
                {{ summaryData?.pickup.address }}
              </div>
            </div>
            <div class="map-img">
              <img [src]="summaryData?.map.thumbnail_url" (error)="setDefaultMapImg()" />
            </div>
          </div>
        </bego-radio-card>

        <bego-radio-card (click)="changeSelectedCard('dropoff')" [cardIsSelected]="selectedCard === 'dropoff'">
          <div class="pickup-dropoff-content">
            <div>
              <div class="title">
                {{ 'checkout.txt-dropoff' | translate }}
              </div>
              <div class="details">
                {{ summaryData?.dropoff.startDate | date: 'dd/MM/yyyy' }}
                <span class="separator-dot"></span>
                {{ summaryData?.dropoff.startDate | date: 'hh:mm' }}
                <span class="separator-dot"></span>
                #{{ summaryData?.order_number }}
              </div>

              <div class="directions">
                {{ summaryData?.dropoff.address }}
              </div>
            </div>
            <div class="map-img">
              <img [src]="summaryData?.map.thumbnail_url" (error)="setDefaultMapImg()" />
            </div>
          </div>
        </bego-radio-card>
      </div>
    </div>

    <div class="checkout-body">
      <div class="tabs" *ngIf="checkoutSteps.length === 2; else elseBlock">
        <bego-stepper
          #stepper
          class="invisible-tabs"
          [withControls]="false"
          [allowKeysMovement]="false"
          [config]="stepperOptions">
          <bego-step>
            <div class="tab-container">
              <app-invoice [userData]="invoiceData" (receiverData)="updatereceiverData($event)"> </app-invoice>
            </div>
          </bego-step>

          <bego-step>
            <div class="tab-container">
              <app-summary [orderData]="summaryData" [selectedCard]="selectedCard"> </app-summary>
            </div>
          </bego-step>
        </bego-stepper>
      </div>

      <ng-template #elseBlock>
        <div class="tabs">
          <bego-stepper
            #stepper
            class="invisible-tabs"
            [withControls]="false"
            [allowKeysMovement]="false"
            [config]="stepperOptions">
            <bego-step>
              <div class="tab-container">
                <app-emitter [userData]="invoiceData" (emitterData)="updateEmitterData($event)">> </app-emitter>
              </div>
            </bego-step>

            <bego-step>
              <div class="tab-container">
                <app-invoice [userData]="invoiceData" (receiverData)="updatereceiverData($event)"> </app-invoice>
              </div>
            </bego-step>

            <bego-step>
              <div class="tab-container">
                <app-summary [orderData]="summaryData" [selectedCard]="selectedCard"> </app-summary>
              </div>
            </bego-step>
          </bego-stepper>
        </div>
      </ng-template>

      <div class="step-button">
        <button mat-raised-button class="bego-btn yellow full-width thick-btn" (click)="validate()">
          <span class="bold">
            {{ checkoutSteps[currentStepIndex]?.nextBtnTxt }}
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
