section{

  margin: 0px 70px;
  padding-bottom: 100px;

  .checkout-body{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    &:first-child{
      min-height: 100%;
    }

    .tabs{
      width: 750px;
    }

    .step-button{
      margin-top: 50px;
      width: 690px;
    }
  }

  .tab-container{
    margin-right: 63px;
  }

  .pickup-dropoff-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 66px;
    margin-top: 66px;

    .pickup-dropoff-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 6px;
    }
  }

  .previewBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: inset -2px -2px 4px 0 #040b11, inset 2px 2px 4px 0 #1c232a,
    0 13px 9px 0 #000000 !important;
    cursor: pointer;
    background-color: #091016 !important;
    margin-top: 66px;
    
    app-button{
      transform: scale(1.5);
    }

    .name{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 10px;

      span:first-child{
        font-family: "Avenir-Medium", Arial, Helvetica, sans-serif;
        font-size: 0.75rem;
        color: #ededed;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 500;
        text-overflow: ellipsis;
      }

      span:last-child{
        font-family: 'Avenir';
        font-weight: 400;
        font-size: 11px;
        color: #89898a;
      }
      
    }
  }

  ::ng-deep bego-radio-card{
    cursor: pointer;
    
    .radio-card-container{
      height: 100%;
    }

    .title{
      font-weight: 500;
      font-family: Avenir;
      font-size: 20px;
    }

    .details{
      font-size: 12px;
      font-weight: normal;
      color: #c1c7d0;
    }

    .directions{
      color: #c1c7d0;
      font-size: 16px;
      margin-top: 25px;
      font-weight: 100;

    }

    .map-img{


      img{
        width: 129px;
        height: 129px;
        object-fit: cover;
        border-radius: 14px;
      }
    }

    .separator-dot{
      &::after{
        content: '\b7';
        font-size: 15px;
      }
    }
  }

  ::ng-deep app-stepper{
    .stepper{
      margin: 0px 12.3vw;
    }
  }

  ::ng-deep .mat-form-field-infix{
    padding-left: 0px !important;
  }

  ::ng-deep .mat-form-field-label-wrapper{
    transform: translate(0px);
  }
}

::ng-deep .mat-tab-header {
  display: none!important;
}
