
.container{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  .orders-list{
    flex-grow: 1;
  }

  .order-detail{
    z-index: 1;
  }
}

app-order-info{
  opacity: 1;
  transition: opacity 0.5s;
}
