<div class="content" style="max-width: 350px; min-width: 350px">
  <h3 style="text-align: center" *ngIf="!loading">{{ username }}</h3>
  <h3 style="text-align: center" class="skeleton skeleton-header" *ngIf="loading"></h3>

  <div class="description" *ngIf="!loading">
    <div class="info" *ngIf="email">
      <bego-icon icon="begon-email"></bego-icon>
      <p>{{ email }}</p>
    </div>
    <div class="info" *ngIf="lastDate">
      <bego-icon icon="begon-timer"></bego-icon>
      <p>{{ lastDate }}</p>
    </div>
    <div class="info" *ngIf="location">
      <bego-icon icon="begon-tracker" class="tracker"></bego-icon>
      <p>{{ location }}</p>
    </div>

    <div class="info" *ngIf="speed > 0">
      <i class="material-icons">speed</i>

      <p>{{ speed | number: '1.0-3' }} km/h</p>
    </div>

    <div class="battery-status-div">
      <div class="battery-icon-div">
        <ng-container *ngIf="battery?.percentage">
          <div class="battery-icon-filled">
            <div class="battery-fill" [style.width]="battery.width" [style.backgroundColor]="battery.color"></div>
          </div>
          <p>{{ battery.percentage }}%</p>
        </ng-container>
      </div>
    </div>

    <div class="info" *ngIf="fleetName">
      <bego-icon icon="begon-fleet"></bego-icon>
      {{ fleetName }}
    </div>
  </div>

  <!-- Skeleton -->
  <div class="description" *ngIf="loading">
    <div class="info">
      <bego-icon icon="begon-email"></bego-icon>
      <p class="skeleton"></p>
    </div>
    <div class="info">
      <bego-icon icon="begon-timer"></bego-icon>
      <p class="skeleton"></p>
    </div>
    <div class="info">
      <bego-icon icon="begon-tracker" class="tracker"></bego-icon>
      <p class="skeleton"></p>
    </div>

    <div class="info">
      <i class="material-icons">speed</i>
      <p class="skeleton"></p>
    </div>

    <div class="battery-status-div">
      <div class="battery-icon-na"></div>
      <p class="skeleton"></p>
    </div>
  </div>
</div>
