@use 'src/styles.scss';

.new-order-wrapper {
  margin: 125px 20px 0 calc(50px + #{styles.$bego-menu-width});
  display: flex;
  height: 80vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
  overflow: hidden;

  .new-order-details {
    flex-grow: 1;
    pointer-events: none;
  }

  .input-directions {
    background: #0b1117;
    box-shadow: inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
    border-radius: 8px;
    width: 400px;
    height: 80vh;
    overflow-y: hidden;
    pointer-events: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    overflow: auto;
  }

  app-fleet-widget {
    display: block;
    height: 100%;
    position: relative;
  }

  .btn-traffic {
    position: absolute;
    color: #ededed;
    bottom: 60px;
    right: calc(100% + 10px);
    cursor: pointer;
    border: none;
    border-radius: 30px;

    img {
      filter: brightness(0) invert(1);
    }
  }

  .btn-traffic.active img {
    filter: none;
  }

}

// copied from _home.scss
::ng-deep {
  .map {
    &.map-container {
      position: relative;
    }

    .customMarker {
      position: absolute;
      cursor: pointer;
      background: styles.$yellow-color;
      width: 50px;
      height: 50px;
      /* -width/2 */
      margin-left: -25px;
      /* -height + arrow */
      margin-top: -25px;
      border-radius: 50%;
      padding: 0px;

      &.inactive-marker {
        filter: grayscale(100%);
      }

      &.available-marker {
        background: #6dd400;
      }

      &.unavailable-marker {
        background: #de473c;
      }
    }

    .customMarker img {
      width: 44px;
      height: 44px;
      margin: 3px;
      border-radius: 50%;
      background: #040b12;
      object-fit: cover;
    }
  }
}

.google-map {
  height: calc(100vh - 106px);
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &.map-faded-out {
    opacity: 0;
    pointer-events: none;
    // display: none;
  }

  &.transparent {
    height: 100vh;
  }
}

.created-modal {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
    width: 100%;
  }

  ::ng-deep .backdrop {
    pointer-events: all;
  }

  h3 {
    font-size: 1.875rem;
    font-weight: 700;
  }

  p {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    max-width: 33ch;
  }
}
