<div class="map map-container">
  <div class="new-order-wrapper">
    <div class="new-order-details"></div>

    <div class="input-directions">
      <app-fleet-widget></app-fleet-widget>
    </div>
  </div>
</div>

<bego-modal
  *ngIf="showCompleteModal"
  image="vehicle"
  class="created-modal"
  (closeEmitter)="showCompleteModal = false"
  (clickOut)="showCompleteModal = false"
  [lang]="{ done: 'fleet.prime.complete_modal.done' | translate }">
  <div class="wrapper">
    <h3>{{ 'fleet.prime.complete_modal.title' | translate }}</h3>
    <p>{{ 'fleet.prime.complete_modal.txt' | translate }}</p>
  </div>
</bego-modal>
