<div class="pictures-wrapper">
  <div class="pic pic1" (click)="openFileEditor(!pictures?.[0])" [class]="{'no-picture': !pictures?.[0]?.url}"><img [src]="pictures?.[0]?.url" alt=""/></div>
  <div class="pic pic2" (click)="openFileEditor(!pictures?.[0])" [class]="{'no-picture': !pictures?.[1]?.url}"><img [ngClass]="{'no-picture':pictures?.[1]?.url}" [src]="pictures?.[1]?.url" alt=""/></div>
  <div class="pic pic3" (click)="openFileEditor(!pictures?.[0])" [class]="{'no-picture': !pictures?.[2]?.url}"><img [ngClass]="{'no-picture':pictures?.[2]?.url}" [src]="pictures?.[2]?.url" alt=""/></div>
  <div class="more-btn" (click)="openFileEditor(true)">
    <div>
      <i class="icon icon-plus" style="color: white;"></i>
    </div>
     <p>{{'fleet.trucks.more' | translate}}</p>
    </div>
</div>
