<div class="fleet-info-container">
  <ng-container *ngIf="orderType === 'OCL'; else notOcl">
    <div class="fleet-drivers-row">
      <p>{{ 'home.fleet-assignment.available-drivers' | translate }}</p>
      <div class="drivers-container">
        <!-- .slice(0, 4) -->
        <!-- TODO : Just show this msg .slice(0, 4) -->
        <app-circular-avatar
          *ngFor="let driver of drivers"
          [data]="driver"
          fleetMember="drivers"
          (click)="selectMembersForOrder(driver, 'drivers')">
        </app-circular-avatar>
      </div>
    </div>

    <div class="fleet-trucks-row" *ngIf="walkingData">
      <p>{{ 'orders.prime.no-vehicle' | translate }}</p>
      <div class="drivers-container">
        <app-circular-avatar
          fleetMember="vehicle"
          [data]="walkingData"
          (click)="selectMembersForOrder(walkingData, 'vehicle')"></app-circular-avatar>
      </div>
    </div>

    <div class="fleet-trucks-row" *ngFor="let vehicleGroup of vehicle">
      <p>{{ vehicleGroup.translations?.[lang] || vehicleGroup.name }}</p>

      <div class="drivers-container">
        <ng-container></ng-container>
        <app-circular-avatar
          *ngFor="let vehicle of vehicleGroup.vehicles?.slice(0, 4)"
          fleetMember="vehicle"
          [data]="vehicle"
          (click)="selectMembersForOrder(vehicle, 'vehicle')"></app-circular-avatar>
        <div class="rest-of-members" *ngIf="vehicleGroup.vehicles?.length > 4">
          <p>+{{ vehicleGroup.vehicles.length - 4 }}</p>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #notOcl>
    <div class="fleet-drivers-row">
      <p>{{ 'home.fleet-assignment.available-drivers' | translate }}</p>
      <div class="drivers-container">
        <ng-container *ngFor="let driver of drivers; let i = index">
          <app-circular-avatar
            [data]="driver"
            [userWantCP]="userWantCP"
            fleetMember="drivers"
            (click)="selectMembersForOrder(driver, 'drivers')">
          </app-circular-avatar>
        </ng-container>
      </div>
    </div>

    <div class="fleet-trucks-row">
      <p>{{ 'home.fleet-assignment.available-trucks' | translate }}</p>
      <div class="trucks-container">
        <ng-container *ngFor="let truck of trucks; let i = index">
          <app-circular-avatar
            [data]="truck"
            [userWantCP]="userWantCP"
            fleetMember="trucks"
            (click)="selectMembersForOrder(truck, 'trucks')">
          </app-circular-avatar>
        </ng-container>
      </div>
    </div>

    <div class="fleet-trailers-row">
      <p>{{ 'home.fleet-assignment.available-trailers' | translate }}</p>
      <div class="trailers-container">
        <ng-container *ngFor="let trailer of trailers; let i = index">
          <app-circular-avatar
            [data]="trailer"
            [userWantCP]="userWantCP"
            fleetMember="trailers"
            (click)="selectMembersForOrder(trailer, 'trailers')">
          </app-circular-avatar>
        </ng-container>
      </div>
    </div>
  </ng-template>

  <div class="btn-container">
    <bego-button [mat-dialog-close]="selectMembersToAssign" [activated]="enableBtn">Select fleet</bego-button>
    <div class="error-msg" *ngIf="!enableBtn">Select driver, truck, trailer</div>
  </div>
</div>
