section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 60px;
    position: relative;
    
    // draft-list {
        
    // }

    .draft-container{
        width: 100%;
        padding-right: 17px;
        overflow: hidden;
        height: calc(100vh - 106px);
    }

    .map-container {
        margin-left: 17px;
        width: 100%;
        height: calc(100vh - 106px);
        position: relative;

        app-button {
					position: absolute;
					bottom: 15px;
					width: 50%;
					display: flex;
					right: calc(10vw);
        }
    }

    .no-draft-container {
        margin: auto;
        text-align: center;

        img {
            width: 100%;
        }

        h1 {
            font-size: 20px;
            font-weight: 800;
            line-height: 27px;
            letter-spacing: 0.5px;
            margin: 21px 0;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0.5px;
        }
    }

    .hidden{
        opacity: 0;
    }
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    
    bego-input-search {
        width: 100%;
    }

    .btn-filter {
        margin-left: 20px;
    }
}
