<section>
  <div class="draft-container" [ngClass]="{ hidden: showDraftList }">
    <div class="search-bar" *ngIf="draftData" [@enterAnimation]>
      <bego-input-search (inputData)="searchDraft({ dataInput: $event, page: 1 })"></bego-input-search>
      <!-- <app-button class="btn-filter icon icon-filter" [text]="'draft.txt-filter' | translate"></app-button> -->
      <app-button class="icon icon-trash icon-only" (click)="deleteDraft()"></app-button>
    </div>
    <draft-list
      [draftData]="draftData"
      [loader]="loader"
      (selectedDraftData)="updateDataDraft($event)"
      (moreDrafts)="loadMoreDrafts($event)"
      [noDraftData]="showDraftList"
      (indexDraft)="indexDraft($event)"
      [noSearchDraftData]="showSearchDraftList"
      [@enterAnimation]>
    </draft-list>
  </div>

  <div class="map-container" [@enterAnimation] [ngClass]="{ hidden: showDraftList }">
    <bego-map [typeMap]="'draft'"></bego-map>
    <app-button
      class="btn-yellow rounded active"
      *ngIf="!showDraftList"
      [text]="'draft.btn-order' | translate"
      (click)="continueOrder()"></app-button>
  </div>

  <div class="no-draft-container" *ngIf="showDraftList" [@enterAnimation]>
    <img src="../../../assets/images/drafts/no-orders-yet.svg" alt="No Drafts" />
    <h1>{{ 'draft.no-drafts-title' | translate }}</h1>
    <p>{{ 'draft.no-drafts-txt' | translate }}</p>
  </div>
</section>
