.files-wrapper {
  color: white;
  padding: 0px 1vw;
  box-sizing: border-box;
  margin-bottom: 40px;

  .instructions {
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .fiscal-items-wrapper {
    min-height: 30vh;
  }

  .select-instructions {
    font-size: 13px;
    margin-top: 10px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-selector {
  display: flex;
  justify-content: flex-end;

  .tab {
    background: #040b11;
    border: 1px solid #161b20;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px #040b11, inset -3px -3px 4px #13181e, inset 3px 3px 4px #000000;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
    }

    &.active {
      background-color: #FFE000;
      box-shadow: none;

      .icon {
        color: #040b11;
      }
    }
  }
}

.icon {
  width: 28px;
  height: 28px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.cards-files {
  max-width: 1090px;
  text-align: center;
  justify-content: center;
  margin: 0px auto;

  .grid {
    position: relative;

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 235px);
    gap: 48px;
    grid-auto-rows: 215px;
    text-transform: capitalize;
  }
}

.upload-file-bar {
  border: 1.5px dashed #FFE000;
  box-sizing: border-box;
  box-shadow: inset -4px -4px 10px rgba(20, 28, 39, 0.69), inset 4px 4px 30px rgba(0, 0, 0, 0.64);
  border-radius: 8px;
  text-align: center;
  padding: 32px;
  font-size: 20px;
  margin: 42px 0px 32px 0px;

  &.dragging-file {
    background-color: rgba(255, 190, 0, 0.15);
  }
}

.save-btn-wrapper {
  margin-top: 45px;
  line-height: 30px;
  cursor: pointer;
}

.sat-certificate-data {
  margin: 0px auto;
  max-width: 300px;

  .text-center {
    text-align: center;
  }

  .d-block {
    display: block;
    width: 100%;
  }

  ::ng-deep .mat-form-field-appearance {
    .mat-form-field-infix {
      padding-left: 0px;
      width: 300px;

      .mat-mdc-select-value-text {
        color: white;
      }
    }

    .mat-form-field-label-wrapper {
      left: -60px;
    }

    .mat-mdc-select-arrow {
      color: white;
    }
  }
}

.mainEmitter {
  background: #0b1117;
  box-shadow: inset 2px 2px 5px #1a1e24, inset -2px -2px 4px #050d14;
  border-radius: 8px;
  color: white;
  padding: 30px 21px;
  box-sizing: border-box;
  font-family: 'Avenir';
  font-weight: 100;
  min-width: 60%;
  max-width: 80%;
  margin: 0px auto;

  .bold {
    font-weight: 600;
    margin-bottom: 8px;
  }

  strong {
    display: inline-block;
    min-width: 140px;
  }
}

.lds-ellipsis {
  position: absolute;

  top: 354px;
  background-color: rgba(0, 0, 0, 0.25);
  height: 64%;
  width: 100%;
  z-index: 100;

  div {
    margin-top: 25%;
    margin-left: 30%;
  }
}
