<div class="map map-container">
  <bego-map
    [hide]="showOrderDetails"
    [typeMap]="typeMap"
    [headerTransparent]="true"
    (createGoogleImage)="getGoogleImageMap($event)">
  </bego-map>

  <div class="new-order-wrapper" [class.full]="showOrderDetails">
    <div class="new-order-details" [ngClass]="{ full: !showOrderDetails }">
      <app-orders
        [(cardIsOpen)]="showOrderDetails"
        (stepChange)="onStepChange($event)"
        [orderType]="orderType"
        [draftData]="draftData"
        [locations]="locations"
        [datepickup]="datepickup"
        [datedropoff]="datedropoff"
        [imageFromGoogle]="imageFromGoogle"
        [membersToAssigned]="membersToAssigned"
        [userWantCP]="userWantCP"
        [orderPreview]="orderPreview">
      </app-orders>
    </div>

    <div
      class="input-directions"
      [ngClass]="{ 'applied-filter': mapDashboardService.activeFilter && !mapDashboardService.openOrderMenu }"
      [class.hide]="!showSidebar">
      <app-input-directions
        [(orderType)]="orderType"
        (sendAssignedMermbers)="getMembersToAssignedOrder($event)"
        [showMapPreview]="showOrderDetails"
        (showNewOrderCard)="showNewOrderCard(true)"
        (updateLocation)="updateLocation()"
        (updateLocations)="updateLocations($event)"
        (updateDatepickup)="updateDatepickup($event)"
        (updateDropOffDate)="updateDropOffDate($event)"
        [typeMap]="typeMap"
        (inputPlace)="placesService.emitter.next($event)"
        (sendUserWantCP)="getUserWantCP($event)"
        [drafts]="draftData"
        [haveFleetMembers]="mapDashboardService.haveNotFleetMembers"
        [haveFleetMembersErrors]="mapDashboardService.haveFleetMembersErrors">
      </app-input-directions>

      <button
        id="reset"
        *ngIf="!mapDashboardService.showFleetMap && !showOrderDetails"
        (click)="centerMap()"
        [ngClass]="{
          'reset-up': mapDashboardService.userRole && mapDashboardService.showFleetMap && !showOrderDetails
        }"
        [@slideInFromBottom]>
        <i class="icon icon-gps"></i>
      </button>

      <div class="back" [ngStyle]="{ display: mapDashboardService.activeFilter ? 'flex' : 'none' }">
        <div class="invisible" (click)="mapDashboardService.openOrderMenu = !mapDashboardService.openOrderMenu"></div>
      </div>
    </div>
  </div>
</div>

<bego-modal
  *ngIf="showCompleteModal"
  image="vehicle"
  [lang]="{ done: 'orders.complete-modal.done-btn' | translate }"
  (closeEmitter)="showCompleteModal = false">
  <h1>{{ 'orders.complete-modal.title' | translate }}</h1>
  <p>{{ 'orders.complete-modal.description' | translate }}</p>
</bego-modal>
