@use 'src/styles.scss';

.new-order-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
  overflow: hidden;

  &.full {
    overflow: initial;
  }

  $directions-width: 400px;
  $spacing-right: 20px;
  $spacing-top: 125px;

  .new-order-details {
    display: flex;
    justify-content: center;
    max-width: 900px;
    max-height: 80vh;
    pointer-events: none;
    margin-top: $spacing-top;

    &.full {
      max-width: calc(100% - 80px - #{$directions-width});
      max-height: auto;
    }
  }

  .input-directions {
    width: $directions-width;
    margin: $spacing-top $spacing-right 0 0;
    flex-shrink: 0;
    z-index: 2;
    transition: all 0.3s;
    position: relative;

    &.hide {
      display: none;
    }
  }

  .applied-filter {
    // transition: translateX 0.3s;
    transform: translateX(420px);
  }

  .back {
    position: absolute;
    width: 49px;
    height: 139px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/back.svg');
    top: calc(50% - 60px);
    left: -48px;
    background-size: calc(100% + 2px) 100%;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;

    .invisible {
      margin-left: 4px;
      width: 34px;
      height: 25px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.polygon-filter {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 100;
}

// copied from _home.scss
::ng-deep {
  .map {
    &.map-container {
      position: relative;
    }

    .customMarker {
      position: absolute;
      cursor: pointer;
      background: styles.$yellow-color;
      width: 50px;
      height: 50px;
      /* -width/2 */
      margin-left: -25px;
      /* -height + arrow */
      margin-top: -25px;
      border-radius: 50%;
      padding: 0px;

      &.inactive-marker {
        filter: grayscale(100%);
      }

      &.available-marker {
        background: #6dd400;
      }

      &.unavailable-marker {
        background: #de473c;
      }
    }

    .customMarker img {
      width: 44px;
      height: 44px;
      margin: 3px;
      border-radius: 50%;
      background: #040b12;
      object-fit: cover;
    }

    #reset {
      position: absolute;
      right: calc(100% + 10px);
      border: none;
      bottom: 0;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      pointer-events: all;

      i {
        font-size: 2rem;
        color: #ededed;
      }

      &.reset-up {
        bottom: 10px;
      }
    }
  }
}

.google-map {
  height: 100vh;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &.map-faded-out {
    opacity: 0;
    pointer-events: none;
    // display: none;
  }

  &.transparent {
    height: 100vh;
  }
}

bego-map {
  position: absolute;
  inset: 0;
}

bego-modal {
  ::ng-deep .modal {
    gap: 34px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;

    h1 {
      font-size: 1.875rem;
      font-weight: 700;
    }

    p {
      max-width: 28ch;
    }
  }
}

::ng-deep .gm-style iframe + div {
  border: none !important;
}

::ng-deep div[role='dialog'][class*='gm-style'] {
  padding: 12px !important;
  background-color: #10161c;
  box-shadow: inset 4px 4px 4px 0 #1d2024, inset -4px -4px 4px 0 #10161c;

  .gm-style-iw-chr {
    position: absolute;
    top: 0;
    right: 0;
    button {
      height: initial !important;
      width: initial !important;
      span {
        margin: 4px !important;
        background-color: #c1c7d0 !important;
      }
    }
  }

  > div {
    overflow: auto !important;

    .content {
      color: #c1c7d0;
      font-family: 'Avenir';
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 21px;
      user-select: text;

      h3 {
        margin-right: 12px;
        text-transform: capitalize;
      }
      .description {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .info-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .info {
          display: flex;

          bego-icon {
            --color: white;
            --font-size: 22px;
            margin-right: 10px;
            min-width: 36px;
            display: flex;
            justify-content: center;

            .begon-tracker {
              margin-left: 10px;
            }

            .begon-email {
              --font-size: 20px;
              margin-top: 2px;
            }
          }

          .material-icons {
            margin: 0 14px 0 8px !important;
          }

          p {
            margin-top: 2px;
          }

          &:first-child {
            margin-top: 10px;
          }
        }

        .battery-status-div {
          display: flex;
          justify-content: space-between;
          .skeleton {
            margin-left: 33px !important;
          }
        }

        .battery-icon-div {
          display: flex;
          gap: 10px;
        }

        .battery-icon-filled {
          margin: 2px 6px 0 8px;
          position: relative;
          width: 24px;
          height: 14px;
          border: 1px solid #a2a4ab;
          border-radius: 3px;
        }

        .battery-icon-filled::after {
          content: '';
          position: absolute;
          top: 3px;
          right: -4px;
          width: 2px;
          height: 4px;
          border: 1px solid #a2a4ab;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }

        .battery-icon-na {
          margin: 2px 6px 0 8px;
          position: relative;
          width: 24px;
          height: 14px;
          border: 1px solid #a2a4ab;
          border-radius: 3px;
        }

        .battery-icon-na::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 24.5px;
          height: 1px;
          background-color: #a2a4ab;
          transform: rotate(-27deg);
          transform-origin: bottom left;
        }

        .battery-icon-na::after {
          content: '';
          position: absolute;
          top: 3px;
          right: -4px;
          width: 2px;
          height: 4px;
          border: 1px solid #a2a4ab;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }

        .battery-icon-na:nth-child(2)::before {
          background-color: #a2a4ab;
        }

        .battery-fill {
          height: 100%;
          background-color: #7aff59;
          position: absolute;
          top: 0;
          left: 0;
          border-top-left-radius: 2px;
          border-end-start-radius: 2px;
          transition: width 0.5s ease;
        }

        .battery-last-update {
          font-size: 12px;
          font-weight: 400;
          color: #a2a4ab;
        }
      }

      &::selection {
        color: #10161c;
        background: #ffbe00;
      }

      .skeleton {
        border-radius: 4px;
        display: inline-block;
        height: 20px;
        width: 100%;
        margin-inline: 20px;
        position: relative;
        overflow: hidden;
      }

      .skeleton::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, rgba(68, 68, 68, 0) 0%, rgba(68, 68, 68, 0.5) 50%, rgba(68, 68, 68, 0) 100%);
        animation: loading 1.5s infinite;
      }

      .skeleton-header {
        width: calc(100% - 40px) !important;
      }

      @keyframes loading {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
        }
      }
    }
  }

  > button {
    span {
      background-color: white !important;
    }
  }

  & + div::after {
    background: #10161c;
  }
}
