@use 'src/styles.scss';

.who-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include styles.mobile {
    flex-direction: column;
  }

  .home-social-media {
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateX(25%);
    right: -35px;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;

    @include styles.desktop {
      display: none;
    }

    .home-contact {
      letter-spacing: 2px;
      font-family: Avenir Next;
      font-weight: 400;
      margin-right: 30px;
      font-size: 14px;
      outline: none;
    }

    .home-networks {
      display: flex;
      flex-direction: row;

      > div {
        flex: 1;
        display: flex;
        transform: rotate(-90deg);

        a {
          width: 45px;
          height: 45px;
          cursor: pointer;
          text-align: center;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .who-left {
    flex: 1;
    display: flex;
    flex-direction: column;

    h3 {
      color: styles.$lighter-color;
      font-size: 1vw;
      font-weight: 600;
      letter-spacing: 0.9px;
      line-height: 25px;
    }

    p {
      color: styles.$lighter-color;
      font-weight: 900;
      letter-spacing: 0;
      line-height: 100%;

      @include styles.fluid('font-size', styles.$mobile-xs, styles.$desktop-qhd, 24px, 90px);
      @include styles.fluid('padding-left', styles.$desktop, styles.$desktop-qhd, 0px, 150px);

      @include styles.mobile {
        max-width: 60%;
      }
    }
  }

  .who-right {
    flex: 1;
    font-size: 1.1vw;
    padding: 25% 110px 0px 30px;
    @include styles.fluid('font-size', styles.$mobile-xs, styles.$desktop-qhd, 12px, 28px);
    @include styles.fluid('padding-right', styles.$mobile-xs, styles.$desktop-hd, 0px, 110px);
    @include styles.fluid('padding-top', styles.$mobile-xs, styles.$desktop-qhd, 10px, 500px);

    @include styles.mobile {
      max-width: 75%;
      margin-right: 0;
      margin-left: auto;
    }

    font-weight: 300;
    letter-spacing: 0;
    line-height: 140%;
    text-align: justify;
    font-family: Avenir Next;
  }
}
