<div class="who-container">
  <div class="home-social-media">
    <div class="home-contact" routerLink="/contact">
      {{ 'about.who-are-we.txt-contact' | translate }}
    </div>
    <div class="home-networks">
      <div>
        <a href="https://www.facebook.com/begoapp/" target="_blank"
          ><img src="assets/images/navigation/facebook.svg"
        /></a>
      </div>
      <div>
        <a href="https://www.instagram.com/begomx/?hl=en" target="_blank"
          ><img src="assets/images/navigation/instagram.svg"
        /></a>
      </div>
      <div>
        <a href="https://mx.linkedin.com/in/bego-mx-39562519a" target="_blank"
          ><img src="assets/images/navigation/linkedin.svg"
        /></a>
      </div>
    </div>
  </div>
  <div class="who-left" data-aos="fade-up">
    <!-- <h3>ABOUT BE-GO</h3>
    <h3>WHO ARE WE?</h3> -->
    <p>{{ 'about.who-are-we.title' | translate }}</p>
  </div>
  <div class="who-right" data-aos="fade-left">
    <p>{{ 'about.who-are-we.first-description' | translate }}</p>

    <p>{{ 'about.who-are-we.second-description' | translate }}</p>
  </div>
</div>
