<section class="pricing">
  <form [formGroup]="pricingForm" class="box">
    <h2 class="title">{{ 'checkout.insurance-modal.title-insurance' | translate }}</h2>
    <p class="description">
      {{ 'checkout.insurance-modal.txt-insurance' | translate }}
      <br />
      {{ 'checkout.insurance-modal.txt-insurance-taxes' | translate }}
    </p>

    <div class="subtotal">
      <input
        formControlName="subtotal"
        (blur)="updateSubtotalInput($event.target)"
        nullable="false"
        currencyMask
        [options]="{
          align: 'center',
          prefix: '$',
          min: 0,
          nullable: false,
          thousands: ',',
          decimal: '.',
          precision: 0,
          allowNegative: false
        }" />

      <bego-button-toggle
        class="pricing-toggle"
        size="small"
        [noPadding]="true"
        [first]="currencyOptions.mxn"
        [second]="currencyOptions.usd"
        [enabled]="pricingForm.get('currency')!.value === 'usd' || pricingForm.get('currency')!.value === 'USD'"
        (statusChanged)="changePricingMethod($event)"></bego-button-toggle>
    </div>

    <div class="payment-mode">
      <bego-button-toggle
        [noPadding]="true"
        size="small"
        [first]="payModeOptions.pue"
        [second]="payModeOptions.ppd"
        [enabled]="pricingForm.get('deferred_payment')!.value"
        (statusChanged)="changePay($event)"></bego-button-toggle>
      <p *ngIf="!pricingForm.get('deferred_payment')!.value">
        {{ 'checkout.insurance-modal.deferred-PUE' | translate }}
      </p>
      <p *ngIf="pricingForm.get('deferred_payment')!.value">
        {{ 'checkout.insurance-modal.deferred-PPD' | translate }}
      </p>
    </div>
  </form>
</section>
