<section>
  <div class="user-message-gradient-container message" [@fadeIn]>
    <div>
      <p [innerHTML]="formattedString"></p>

      <ng-container *ngIf="pdfFiles.length">
        
        <div class="file-container-border-gradient" *ngFor="let file of pdfFiles">
            <div>
              <a [href]="file.url" target="_blank" class="file-container">
              <div class="file-container-1">
                <bego-icon icon="begon-full-document-right"></bego-icon>
              </div>
              <!-- PDF files container -->
              <div class="file-container-2">
                <p>{{ file.name }}</p>
                <p>{{ file.name | fileExtension: '.':'FILE' }}</p>
              </div>
              </a>
            </div>
        </div>
      
      </ng-container>
  <!-- image container  -->
  <div class="images-container" *ngIf="imageFiles.length > 0">
    <ng-container *ngFor="let file of imageFiles">
          <a [href]="file.url" target="_blank" class="image-conversation">
            <img [src]="file.url" alt="Uploaded Image" class="thumbnail">
          </a>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="user-yellow-circle">
    <img class="profile-picture" [src]="profilePicture" (error)="onError()" alt="User profile picture">
  </div>
</section>
